/*-----------------------------------------------------------------------------
Howdy! This is the main WPCandy CSS file. This is 
also the development version of the file, which 
you likely won't see unless you're looking for it.
-----------------------------------------------------------------------------*/


/*-----------------------------------------------------------------------------
 Reset
-----------------------------------------------------------------------------*/

/* Resets all HTML5 tags */
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video { 
	margin: 0;
	padding: 0; 
	border: 0; 
	outline: 0; 
	font-size: 100%; 
	vertical-align: baseline; 
	background: transparent; 
}

/* Force a scrollbar regardless of content height */
html { 
	height: 100%;
	overflow-y: scroll;
}

/* Default HTML block elements */
html, body, div, p,
address, blockquote,
ol, ul, dd, dl, dt, fieldset, form,
h1, h2, h3, h4, h5, h6,
pre, hr, menu { 
	display: block; 
}

/* Add support for HTML5 elements */
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary { 
	display: block;
}

/* Don't outline elements on focus */
:focus { 
	outline: none;
}

/* Text meant only for screen readers */
.assistive-text {
	clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
}


/*-----------------------------------------------------------------------------
 Backgrounds and colors
-----------------------------------------------------------------------------*/

body {
	background: url('../images/blog/bg2.gif') left top repeat #ccc; 
	color: #666;
}

.site-title a {
	background: url('../images/blog/wpcandy-sprite.png') left top no-repeat;
}

/* Links */
a:link {
	color: #25a8e0;
}

a:visited {
	color: #743399;
}

a:active,
a:hover {
	color: #25a8e0;
}

/* Navigation */
.menu-blog-navigation-container {
	background: #333;
}

.main-navigation .menu a {
	color: #efefef;
}

.main-navigation .menu a:hover {
	background: #111;
}

.main-navigation .menu li.current-menu-item a,
.main-navigation .menu li.current-page-ancestor a,
.bbPress .main-navigation .menu li.community a {
	background: #111;
	color: #fff;
}

.main-navigation .menu ul a {
	background: #333;
}

.main-navigation .menu li.current_page_item > a,
.main-navigation .menu li.current-menu-ancestor > a,
.main-navigation .menu li.current-menu-item > a,
.main-navigation .menu li.current-menu-parent > a,
* html .main-navigation .menu li.current_page_item a,
* html .main-navigation .menu li.current-menu-ancestor a,
* html .main-navigation .menu li.current-menu-item a,
* html .main-navigation .menu li.current-menu-parent a,
* html .main-navigation .menu li a:hover,
.brand-navigation a:hover,
div.content-cats li.photos {
	color: #fff;
}

.main-navigation li.twitter a,
.main-navigation li.twitter a:hover {
	background: url('../images/blog/wpcandy-sprite.png') -311px -36px no-repeat;
}
	
.main-navigation li.facebook a,
.main-navigation li.facebook a:hover {
	background: url('../images/blog/wpcandy-sprite.png') -327px -36px no-repeat;
}
	
.main-navigation li.rss a,
.main-navigation li.rss a:hover {
	background: url('../images/blog/wpcandy-sprite.png') -343px -36px no-repeat;
}

.brand-navigation {
	background: url('../images/blog/brandbar4.gif') left top repeat;
}

.brand-navigation li:hover {
	background: url('../images/blog/brandbar-hover4.gif') center bottom no-repeat;
}

.brand-navigation a {
	color: #003366;
}

.brand-navigation li.stream a {
	background: url('../images/blog/brandbar-icons2.png') left 6px no-repeat;
}

.brand-navigation li.stream a:hover {
	background: url('../images/blog/brandbar-icons2.png') left -22px no-repeat;
}

.brand-navigation li.pros a {
	background: url('../images/blog/brandbar-icons2.png') left -51px no-repeat;
}

.brand-navigation li.pros a:hover {
	background: url('../images/blog/brandbar-icons2.png') left -79px no-repeat;
}

.brand-navigation li.blog a {
	background: url('../images/blog/brandbar-icons2.png') left -107px no-repeat;
}

.brand-navigation li.blog a:hover {
	background: url('../images/blog/brandbar-icons2.png') left -137px no-repeat;
}

.brand-navigation li.blog {
	background: url('../images/blog/brandbar-hover4.gif') center bottom no-repeat;
}

.brand-navigation li.quarterly a {
	background: url('../images/blog/brandbar-icons2.png') left -167px no-repeat;
}

.brand-navigation li.quarterly a:hover {
	background: url('../images/blog/brandbar-icons2.png') left -198px no-repeat;
}

/* Default WordPress styles */
.wp-caption {
	background-color: #f3f3f3;
	border: 1px solid #ddd;
}

.wp-caption {
	background: none;
}

.wp-caption p.wp-caption-text {
	color: #333;
}

/* Content categories */
div.content-cats li.tag a {
	background: #25a8e0;
}

div.content-cats li.news a {
	background: #262626 url('../images/blog/wpcandy-sprite.png') -49px -302px no-repeat;
}

div.content-cats li.tutorials a {
	background: #262626 url('../images/blog/wpcandy-sprite.png') -97px -302px no-repeat;
}

div.content-cats li.interviews a {
	background: #262626 url('../images/blog/wpcandy-sprite.png') -145px -302px no-repeat;
}

div.content-cats li.opinion a {
	background: #262626 url('../images/blog/wpcandy-sprite.png') -193px -302px no-repeat;
}
	
div.content-cats li.reviews a {
	background: #262626 url('../images/blog/wpcandy-sprite.png') -241px -302px no-repeat;
}
	
div.content-cats li.podcasts a {
	background: #262626 url('../images/blog/wpcandy-sprite.png') -289px -302px no-repeat;
}
	
div.content-cats li.features a {
	background: #262626 url('../images/blog/wpcandy-sprite.png') -337px -302px no-repeat;
}
	
div.content-cats li.links a {
	background: #262626 url('../images/blog/wpcandy-sprite.png') -385px -302px no-repeat;
}
	
div.content-cats li.giveaways a {
	background: #262626 url('../images/blog/wpcandy-sprite.png') -433px -302px no-repeat;
}
	
div.content-cats li.downloads a {
	background: #262626 url('../images/blog/wpcandy-sprite.png') -481px -302px no-repeat;
}
	
div.content-cats li.videos a {
	background: #262626 url('../images/blog/wpcandy-sprite.png') -529px -302px no-repeat;
}
	
div.content-cats li.sites a {
	background: #262626 url('../images/blog/wpcandy-sprite.png') -577px -302px no-repeat;
}
	
div.content-cats li.bestof a {
	background: #262626 url('../images/blog/wpcandy-sprite.png') -625px -302px no-repeat;
}
	
div.content-cats li.preview a {
	background: #262626 url('../images/blog/wpcandy-sprite.png') -669px -302px no-repeat;
}
	
div.content-cats li.liveblogged a {
	background: #262626 url('../images/blog/wpcandy-sprite.png') -717px -302px no-repeat;
}
	
div.content-cats li.broadcasts a {
	background: #262626 url('../images/blog/wpcandy-sprite.png') -769px -302px no-repeat;
}

div.content-cats li.announcements a {
	background: #262626 url('../images/blog/wpcandy-sprite.png') -1px -302px no-repeat;
}

div.content-cats li.photos {
	background: #262626 url('../images/blog/wpcandy-sprite.png') -817px -302px no-repeat;
}

div.content-cats li.tag a:hover,
div.content-cats li.announcements a:hover,
div.content-cats li.news a:hover,
div.content-cats li.tutorials a:hover,
div.content-cats li.interviews a:hover,
div.content-cats li.opinion a:hover,
div.content-cats li.reviews a:hover,
div.content-cats li.podcasts a:hover,
div.content-cats li.features a:hover,
div.content-cats li.links a:hover,
div.content-cats li.giveaways a:hover,
div.content-cats li.downloads a:hover,
div.content-cats li.videos a:hover,
div.content-cats li.sites a:hover,
div.content-cats li.bestof a:hover,
div.content-cats li.preview a:hover {
	background-color: #111;
}

#main {
	background: #fff;
	border-bottom: 4px solid #333;
	border-right: 1px solid #ccc;
	border-left: 1px solid #ccc;
}

#primary {
	border-right: 1px solid #eee;
}

article .in-series p,
article .in-series p a {
	color: #666;
}

/* Sidebar */
#secondary {

}

/* Previous/Next Navigation */
#nav-prevnext {
	background: url('../images/blog/prevnextarrows.png') center 30px no-repeat;
}

#nav-prevpost,
#nav-nextpost {
	background: #f8f8f8;
	border: 1px solid #eee;
}

#nav-nextpost:hover a,
#nav-prevpost:hover a {
	color: #25a8e0;
}

/* Individual elements */

mark { 
	background-color: #ff9; 
	color: #000; 
}

ins { 
	background-color: #ff9; 
	color: #000; 
}

hr { 
	border: 0; 
	border-top: 1px solid #ccc; 
	clear: both;
	margin: 18px 0;
}

abbr[title], dfn[title] { 
	border-bottom: 1px dotted #000; 
	cursor: help; 
}

#proudly {
	background: url('../images/blog/wordpress-logo.png') center top no-repeat;
}


/*-----------------------------------------------------------------------------
 Typography
-----------------------------------------------------------------------------*/

body {
	font-family: "Helvetica Neue", Arial, Helvetica, "Nimbus Sans L", sans-serif;
	font-size: 14px;
	line-height: 22px;	
}

/* Prevents some browsers from inserting quotes on "q" and "p" ("p" in blockquotes) */
blockquote, q { 
	quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after { 
	content: '';
	content: none;
}

/* Set italics */
blockquote, q, em, cite, dfn, cite, var, address { 
	font-style: italic;
}

/* Set boldness */
th, strong, dt { 
	font-weight: bold;
}

sub, sup { 
	font-size: 8px;
}

/* Monospaced fonts */	
pre {
	font-family: "Courier 10 Pitch", Courier, monospace;
}

code, tt, code, kbd, samp, var {
	font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
}

/* Headings */
h1 {
	font-size: 28px;
	line-height: 34px;
}

h2 {
	font-size: 24px;
	line-height: 36px;
}

h3 {
	font-size: 20px;
	line-height: 30px;
}

h4 { 
	font-size: 17px;
	line-height: 24px;
}

h5 {
	font-size: 14px;
	line-height: 21px;
}

h6 {
	font-size: 14px;
	line-height: 21px;
}

/* Text indent */
.site-title a,
.main-navigation li.twitter a,
.main-navigation li.facebook a,
.main-navigation li.rss a {
	text-indent: -999em;
}

/* Navigation */
.brand-navigation li {
	font-size: 12px;
	line-height: 30px;
	text-transform: uppercase;
	font-weight: bold;
}

.brand-navigation a,
/* Post navigation */
.navigation a {
	text-decoration: none;
}

/* Default WordPress styles */
.wp-caption {
	text-align: center;
}

.wp-caption p.wp-caption-text {
	font-size: 11px;
	line-height: 17px;
}

.wp-caption p.wp-caption-text {
	font-size: 11px;
	line-height: 18px;
	text-align: left;
}

/* Lists */
ul { 
	list-style: disc;
}

ol { 
	list-style: decimal;
}

/* Removes the bullets in nav menus */
nav ul { 
	list-style: none;
}

/* Content */
article .in-series p {
	font-family: Georgia, Garamond, Times, serif;
}

/* Previous/Next Navigation */
#nav-prevpost,
#nav-nextpost {
	font-size: 11px;
	line-height: 18px;
}

#nav-prevpost a,
#nav-nextpost a {
	text-decoration: none;
}

/* Individual elements */
mark {
	font-style: italic; 
	font-weight: bold; 
}

ins { 
	text-decoration: none; 
}

del { 
	text-decoration: line-through; 
}


/*-----------------------------------------------------------------------------
 Navigation
-----------------------------------------------------------------------------*/

/* Logo */
.site-title a {
	width: 231px;
}

/* Navigation */
.main-navigation,
.main-small-navigation,
.brand-navigation {
	width: 100%;
}

.brand-navigation .wrap,
/* Post navigation */
.navigation {
	width: 580px;
}

.main-navigation .menu ul,
.main-navigation .menu ul li {
	width: 180px;
}

.main-navigation .menu ul a {
	width: 160px;
}

.main-navigation li.twitter a,
.main-navigation li.facebook a,
.main-navigation li.rss a {
	width: 16px;
}

/* Typography */
#description-swap {
	font-weight: bold;
	line-height: 18px;
}

#description-swap span {
	font-weight: normal;
	font-size: 12px;
}

/* Positioning */
#description-swap {
	float: left;
	margin: 45px 0 0 15px;
}

/* Logo */
.site-title a {
	display: block;
	float: left;
	height: 117px;
	margin: 0 0 -6px 0;
	position: relative;
	z-index: 100;
}

/* Navigation */
.menu-blog-navigation-container {
	-webkit-border-top-left-radius: 6px;
	-webkit-border-top-right-radius: 6px;
	-moz-border-radius-topleft: 6px;
	-moz-border-radius-topright: 6px;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
	border: 1px solid #ccc;
	border-bottom: none;
	clear: both;
	height: 35px;
	margin: 0 auto;
	padding-bottom: 6px;
}

/* Small menu */
.menu-toggle {
	cursor: pointer;
}

.main-small-navigation .menu {
	display: none;
}

.main-navigation .menu {
	margin: 0 0 0 15px;
	padding: 6px 0;
}

.main-navigation .menu li {
	float: left;
	margin-right: 6px;
	position: relative;
}

.main-navigation .menu {
	font-size: 14px;
	line-height: 18px;
}

.main-navigation .menu li {
	line-height: 0;
}
	
.main-navigation .menu a {
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	display: block;
	padding: 0 10px;
}

.main-navigation .menu a {
	line-height: 28px;
	text-decoration: none;
	text-transform: capitalize;
}

.main-navigation .menu li.rss a,
.main-navigation .menu li.twitter a,
.main-navigation .menu li.facebook a {
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	-khtml-border-radius: 0;
	border-radius: 0;
}
	
.main-navigation .menu {
	list-style: none;
	margin-bottom: 0;
}
	
.main-navigation .menu ul {
	display: none;
	position: absolute;
	top: 38px;
	left: 0;
	float: left;
	z-index: 99999;
}

.main-navigation .menu ul ul {
	left: 100%;
	top: 0;
}
	
.main-navigation .menu ul a {
	padding: 10px 10px 9px 10px;
	height: auto;
}
	
.main-navigation .menu li:hover > ul {
	display: block;
}

.main-navigation li.twitter,
.main-navigation li.facebook,
.main-navigation li.rss {
	float: right !important;
	margin-left: 5px;
}

.main-navigation li.facebook {
	margin-right: 20px !important;
}

.main-navigation li.twitter a,
.main-navigation li.facebook a,
.main-navigation li.rss a {
	display: block;
	height: 16px;
	margin-top: 5px;
	padding: 0;
}

/* Brand Bar */	
.brand-navigation {
	border-bottom: 3px solid #333;
	height: 30px;
	margin-bottom: -10px;
	margin-right: 0;
}

.brand-navigation .wrap {
	margin: 0 auto;
}

.brand-navigation li {
	float: left;
	margin: 0 50px 0 0;
}

.brand-navigation li.last {
	margin-right: 0;
}

.brand-navigation a {
	display: block;
	padding: 0 0 0 25px;
}

.brand-navigation li.pros a {
	padding-left: 38px;
}

.brand-navigation li.blog a,
.brand-navigation li.quarterly a {
	padding-left: 30px;
}

/* Post navigation */
.navigation {
	float: left;
	padding: 11px;
}
	
.navigation .nav-next {
	float: right;
}
	
.navigation a {
	display: block;
	float: left;
	padding: 8px 12px;
}


/*-----------------------------------------------------------------------------
 Primary Content
-----------------------------------------------------------------------------*/

body {
	height: 100%;
}

#page {
	margin: 0 auto;
}

#page,
#show-header {
	width: 978px;
}

#primary { 
	width: 600px;
}

div.entry-content object,
div.entry-content embed,
div.entry-content iframe,
div.entry-content .vvqbox,
div.entry-content .embed-youtube,
div.entry-content .embed-youtube iframe {
	max-width: 600px;
}

.entry-content {
	clear: both;
}

article .in-series p {
	width: 450px;
}

article header .main {
	width: 525px;
}

div.content-cats {
	width: 48px;
}

/* Previous/Next Navigation */
#nav-prevnext {
	width: 600px;
}

#nav-prevpost,
#nav-nextpost {
	width: 260px;
}

#nav-nextpost a,
#nav-prevpost a {
	width: 155px;
}

/* Individual elements */
hr { 
	display: block; 
	height: 1px;
	margin: 16px 0; 
	padding: 0; 
}

#main h1,
#main h2,
#main h3,
#main h4,
#main h5,
#main h6 {
	margin: 0 0 4px 0;
}

#main p {
	margin: 0 0 18px 0;
}

#main ul {
	margin: 0 0 22px 28px;
}

/* Posts */
.entry-meta {
	margin: 0 0 22px 0;
}

#nav-above {
	display: none;
}

/* Content */
#main {
	position: relative;
}

#primary {
	float: left;
	margin: 0;
	padding: 22px 25px 22px 25px;
}

/* Previous/Next Navigation */
#nav-prevnext {
	clear: both;
	margin: 0 0 15px 0;
	padding: 20px 0 0 0;
}

#nav-prevpost,
#nav-nextpost {
	height: 85px;
	position: relative;
}

#nav-prevpost {
	float: left;
}

#nav-prevpost img {
	position: absolute;
	left: 5px;
	top: 5px;
}

#nav-nextpost img {
	position: absolute;
	right: 5px;
	top: 5px;
}

#nav-nextpost a,
#nav-prevpost a {
	position: absolute;
	left: 90px;
	top: 15px;
}

#nav-prevpost a {
	left: 90px;
}

#nav-nextpost a {
	right: 90px;
}

#nav-nextpost {
	float: right;
}

#nav-nextpost:hover,
#nav-prevpost:hover {
	cursor: pointer;
}

div.navigation {
	clear: both;
	margin-bottom: 22px;
	position: relative;
	z-index: 600;
}

.edit-link {
	display: none;
}

img {
	margin: 0 0 18px 0;
}

p img {
	margin-bottom: 0;
}

.entry-title {
	margin-top: 10px;
}

.entry-title a {
	color: rgb(102,102,102);
	text-decoration: none;
}

div.content-cats {
	float: left;
	font-size: 9px;
	margin-bottom: 14px;
	margin-right: 12px;
	margin-top: 2px;
	text-align: center;
	text-transform: uppercase;
	width: 48px;
}

div.content-cats ul {
	margin: 0 !important;
}
	
div.content-cats li {
	list-style-type: none;
	margin-bottom: 1px;
}
	
div.content-cats li a {
	background-color: #262626;
	color: #fff;
	display: block;
	padding-top: 44px;
	text-decoration: none;
}

div.content-cats li.tag a {
	line-height: 14px;
	padding-top: 0;
}

.post {
	clear: both;
	margin: 0 0 48px 0;
}

footer.entry-meta {
	clear: both;
}


/*-----------------------------------------------------------------------------
 Buttons
-----------------------------------------------------------------------------*/

a.more-link,
a.button,
#bbp_topic_submit,
#bbp_reply_submit {
	background: #25a8e0;
	border-right: 1px solid #1e86b3;
	border-top: 1px solid #1e86b3;
	clear: both;
	color: #fff;
	display: block;
	float: left;
	margin: 0 15px 18px 0;
	padding: 4px 6px;
	text-decoration: none;
}


/*-----------------------------------------------------------------------------
 Secondary Content
-----------------------------------------------------------------------------*/

#secondary {
	width: 325px;
}

/* Sidebar */
#secondary {
	float: right;
	margin-bottom: 30px;
	margin-right: 0;
	overflow: hidden;
	padding-top: 0;
}

#secondary aside {
	border-bottom: 1px solid #ccc;
	padding: 35px 22px;
}

/*
 * Widget styles for Jetpack
 */

/* Clear floats */
.jetpack-image-container:after {
	clear: both;
}
.jetpack-image-container:before,
.jetpack-image-container:after {
	display: table;
	content: "";
}

/* Sidebar Stuff */
#text-24 {
	background: #eee;
	border-bottom: 1px solid #ccc;
	font-size: 12px;
	padding: 30px 20px 1px;
}

.widget-container {
	padding: 20px;
}

#azk93305 img {
	float: left;
	margin: 0 20px 20px 0;
}


/*-----------------------------------------------------------------------------
 Comments
-----------------------------------------------------------------------------*/

#main .comments-title {
	font-size: 18px;
	font-weight: bold;
	line-height: 24px;
	margin: 0 0 24px 0;
}

.logged-in-as,
#commentform textarea,
#commentform input[type="text"] {
	font-size: 14px;
	line-height: 22px;
}

.logged-in-as {
	display: inline-block;
}

#commentform textarea,
#commentform input[type="text"] {
	width: 98%;
}

#comments {
	clear: both;
}
	
.commentlist {
	list-style: none;
	margin: 0;
}
	
.commentlist li.comment {
	background: #F8F7F9;
	border: 1px solid #ccc;
	line-height: 22px;
	margin: 0 0 24px 0;
	position: relative;
}
	
.commentlist li.comment div.comment-wrap {
	border: 1px solid #eee;
	padding: 10px 11px 11px 67px;
	position: relative;
}
	
.commentlist li:last-child {
	margin-bottom: 0;
}
	
#comments .comment-body ul,
#comments .comment-body ol {
	margin-bottom: 18px;
}
	
#comments .comment-body p:last-child {
	margin-bottom: 6px;
}
	
#comments .comment-body blockquote p:last-child {
	margin-bottom: 24px;
}
	
.comment-list ol {
	list-style: decimal;
}
	
.comment-author {
}
	
.comment-author cite {
	color: #000;
	font-style: normal;
	font-weight: bold;
}
	
.comment-author .says {
	font-style: italic;
}
	
.comment-meta {
	font-size: 12px;
/*		margin: 4px 0 22px;*/
}
	
.comment-meta a:link,
.comment-meta a:visited {
	color: #888;
	text-decoration: none;
}
	
.comment-meta a:active,
.comment-meta a:hover {
	color: #ff4b33;
}

.comment-list .even {
}

.comment-list .bypostauthor {
}
	
.comment-list .reply {
	font-size: 12px;
	position: absolute;
	right: 11px;
	text-transform: uppercase;
	top: 11px;
}
	
.reply a,
a.comment-edit-link {
	color: #888;
}
	
#comments .reply a {
	background: #262626;
	border-radius: 5px;
	color: #fff;
	font-size: 9px;
	text-decoration: none;
	padding: 4px 8px;
}
	
#comments .reply a:hover {
	background: #111;
	color: #fff;
	text-decoration: none;
}

a.comment-edit-link:hover {
	color: #ff4b33;
}
	
.comment-list .children {
	background: #fff;
	list-style: none;
/* 		margin: 0 0 0 50px; */
	padding: 0 0 0 50px;
}
	
.comment-list .children li {
	border: none;
	margin: 0;
}
	
.comment-list .children div.comment-wrap {
	background: #f8f8f8;
}

.comment-author {
	margin: 12px 0 0 70px;
}

.comment-author img {
	left: 15px;
	position: absolute;
	top: 15px;
}

.comment-meta {
	margin: 0 0 0 70px;
}

.comment-content {
	margin: 15px;
}

.comment .reply {
	position: absolute;
	right: 15px;
	top: 15px;
}

.comment #respond {
	margin: 18px;
	width: 93%;
}
	
/* Comment form */
#commentform input, #commentform textarea {
	color: #666;
	display: block;
}
	
#commentform textarea {
	padding: 5px;
}
		
#respond .required {
	color: #ff4b33;
	font-weight: bold;
}
	
#respond {
	margin: 22px 0;
	overflow: hidden;
	position: relative;
	width: 602px;
}

.comment .comment #respond {
	width: 602px;
	margin-left: -50px;
}

.comment .comment .comment #respond {
	margin-left: -100px;
}

.comment .comment .comment .comment #respond {
	margin-left: -150px;
}

.comment .comment .comment .comment .comment #respond {
	margin-left: -200px;
}
	
#respond .comment-form-comment {
	margin-bottom: 0;
}

#respond .comment-notes {
	display: inline-block;
	margin-bottom: 1em;
}
	
.form-allowed-tags {
	line-height: 22px !important;
	margin-top: 12px;
}
	
.children #respond {
	margin: 0 44px 0 0;
}

#comments-list #respond {
	margin: 0 0 22px 0;
}

#comments-list ul #respond {
	margin: 0;
}

#respond .required {
	color: #ff4b33;
	font-weight: bold;
}

#respond label {
	color: #888;
	font-size: 12px;
}

#respond input {
	/*		margin: 0 0 9px;*/
}
	
#respond input,
#respond textarea {
	width: 560px;
}
	
#respond .form-allowed-tags {
	color: #888;
	font-size: 12px;
	line-height: 18px;
}
	
#respond .form-allowed-tags code {
	font-size: 11px;
}
	
#respond .form-submit {
	/*		margin: 12px 0;*/
}
	
#respond .form-submit input {
	width: auto;
}
	
.no-comments {
	display: none;
}
	
.comments-closed {
	display: none;
}
	
p.comment-form-author,
p.comment-form-email,
p.comment-form-url {
	float: left;
	margin-right: 26px;
	width: 180px;
}
	
p.comment-form-url {
	margin-right: 0;
}
	
input#submit {
	background: #25a8e0;
	border: none;
	border-right: 1px solid #1e86b3;
	border-top: 1px solid #1e86b3;
	clear: both;
	color: #fff;
	display: block;
	float: left;
	font-size: 14px;
	margin: 0 0 34px 0;
	padding: 4px 6px;
	text-decoration: none;
}
	
input#submit:hover {
	background: #333;
	border-top: 1px solid #000;
	border-right: 1px solid #000;
}
	
li.comment p.rating,
div.comment-rating-actions {
	position: absolute;
	right: 12px;
	bottom: 6px;
}

div.comment-rating-actions img {
	float: right;
	margin-left: 5px;
	opacity: 0.5;
}

div.comment-rating-actions img:hover {
	cursor: pointer;
	opacity: 1.0;
}

li.pingback p.rating {
	display: none;
}

li.comment p.rating span {
	display: none;
}

body .comment-list li.ckrating_highly_rated div.comment-wrap {
	background: #f4fbfd;
}

body .comment-list li.ckrating_highly_rated .children div.comment-wrap {
	background: #f8f8f8;
}

body .comment-list li.ckrating_poorly_rated .comment-wrap {
	/* 		color: #d7d7d7; */
	opacity: 0.5;
}

body .comment-list li.ckrating_poorly_rated .children .comment-wrap {
	opacity: 1.0;
}

li.comment p.pro-id {
	color: #fff !important;
	position: absolute;
	left: 11px;
	line-height: 14px;
	padding: 0;
	text-align: center;
	top: 52px;
	width: 40px;
}

li.comment p.pro-id a {
	background: #25a8e0;
	color: #fff;
	display: block;
	font-size: 11px;
	height: 14px;
	margin: 0 auto;
	padding: 1px 0;
	text-decoration: none;
	width: 40px;
}

li.comment p.pro-id a:hover {
	background: #333;
}


/*-----------------------------------------------------------------------------
 Default WordPress styles
-----------------------------------------------------------------------------*/

.wp-caption,
.wp-caption img {
	max-width: 100% !important;
}

.wp-caption {
	padding-top: 4px;
}

.aligncenter, 
div.aligncenter {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.alignleft {
	float: left;
}

.alignright {
	float: right;
}

.alignleft {
	margin: 0 15px 15px 0;
}

.alignright {
	margin: 0 0 15px 35px;
}

.wp-caption {
	padding-top: 4px;
}

.wp-caption img {
	border: 0 none;
	margin: 0;
	padding: 0;
}
	
.wp-caption p.wp-caption-text {
	margin: 0;
	padding: 0 4px 5px;
}

.wp-caption {
	border: none;
	margin-bottom: 15px;
	padding: 0;
}
.wp-caption p.wp-caption-text {
	padding: 3px 0 3px 0;
}

.clear {
	clear: both;
}

/* Lists */
ul ul,
ol ol,
ul ol,
ol ul {
	margin-bottom: 0;
}


/*-----------------------------------------------------------------------------
 Shows Template wpcandy.com/shows
-----------------------------------------------------------------------------*/

ul#shows-list {
	margin: 0;
	padding: 0;
}

ul#shows-list li {
	float: left;
	list-style-type: none;
	margin: 0 36px 40px 0;
	width: 280px;
}

ul#shows-list li p.show-title {
	font-size: 15px;
	font-weight: bold;
	margin-bottom: 0;
}

ul#shows-list li p.show-title a {
	color: #333;
	text-decoration: none;
}

ul#shows-list li img {
	border: 1px solid #333;
	margin: 0 0 10px 0;
}

ul#shows-list li p.latest-episode {
	font-size: 12px;
	font-weight: bold;
	margin-bottom: 12px;
}

ul#shows-list li p.show-hosts {
	color: #d3d3d3;
	font-size: 12px;
	margin-bottom: 0;
}

ul#shows-list li p.latest-episode a {
	font-weight: normal;
}

ul#shows-list li .show-desc {
	font-size: 13px;
}

ul#shows-list li .show-desc p {
	margin-bottom: 12px;
}

ul#shows-list li.shownum-1,
ul#shows-list li.shownum-3,
ul#shows-list li.shownum-5,
ul#shows-list li.shownum-7,
ul#shows-list li.shownum-9 {
	margin-right: 0;
}

#shows-list .addthis_toolbox {
	display: none;
}

/* Shows archive listing */
div#shows-info img,
div#archive-info img {
	float: left;
	margin-bottom: 22px;
	margin-right: 22px;
}

div#shows-info .shows-info-desc {
	float: right;
	width: 300px;
}

div#archive-info .archive-info-desc {
	float: left;
	width: 450px;
}

div#shows-info .shows-info-desc  p {
	border-bottom: 1px solid #ddd;
	font-size: 18px;
	line-height: 27px;
	margin-bottom: 15px;
	padding-bottom: 15px;
}

div#shows-info .shows-info-desc p.show-hosts {
	border-bottom: none;
	font-size: 14px;
	line-height: 21px;
	margin-bottom: 0;
	padding-bottom: 0;
}

div#shows-info .shows-info-desc p.show-hosts strong {
	display: block;
}

div#shows-info .shows-info-desc ul {
	background: #eee;
	border: 1px solid #ddd;
	float: left;
	font-size: 12px;
	list-style-type: none;
	margin: 0;
	padding: 10px;
}

div#shows-info .shows-info-desc ul li {
	float: left;
	margin: 0 15px 0 0;
}

#archive-info .archive-meta {
	font-size: 13px;
}

#shows-info .addthis_toolbox,
#archive-info .addthis_toolbox {
	display: none;
}

#shows-info h2,
#archive-info h2 {
	border-left: 10px solid #25A8E0;
	margin-bottom: 6px;
	float: left;
	font-size: 16px;
	padding-left: 10px;
}

#shows-info hr,
#archive-info hr {
	margin-bottom: 12px;
}

p#shows-rss-link,
p#archive-rss-link {
	float: right;
	font-size: 12px;
}

p#shows-rss-link a,
p#archive-rss-link a {
	background: url('../images/wpcandy-sprite.png') -343px -36px no-repeat;
	color: #333;
	padding: 2px 0 2px 24px;
	text-decoration: none;
}



/*-----------------------------------------------------------------------------
 Footer
-----------------------------------------------------------------------------*/

#colophon {
	padding: 35px 0;
}

#colophon a {
	color: rgb(102,102,102);
	text-decoration: none;
}

#colophon a:hover {
	color: #000;
}

.site-info {
	border-top: 1px solid #ccc;
	clear: both;
	font-family: Georgia, serif;
	padding: 18px 0 0 0;
	text-align: center;
}

#proudly {
	font-size: 16px;
	font-style: italic;
	padding-top: 50px;
}

#credits {
	font-size: 12px;
}

#colophon .first,
#colophon .second,
#colophon .third,
#colophon .fourth {
	float: left;
	margin: 0 0 24px 0;
	width: 20%;
}

#colophon .first {
	margin-left: 2%;
}

#colophon .first,
#colophon .second,
#colophon .third {
	margin-right: 5%;
}

#colophon ul {
	font-size: 15px;
	font-weight: bold;
	list-style-type: none;
}

#colophon ul ul {
	font-size: 14px;
	font-weight: normal;
}


div.content-cats .photos {
	display: none;
}

blockquote {
	border-left: 6px solid #25A8E0;
	margin-left: 19px;
	margin-right: 19px;
	padding-left: 19px;
}

blockquote.pullquote,	
blockquote.jump {
	border-left: none;
	float: right;
	font-family: Georgia, Garamond, serif;
	font-size: 28px;
	line-height: 42px;
	width: 50%;
}

.pullquote code,
.jump code {
	font-size: 22px;
}

blockquote.roadblock {
	border-left: none;
	color: #25A8E0;
	font-family: 'Helvetica Neue', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
	font-size: 24px;
	font-style: italic;
	font-weight: bold;
	line-height: 36px;
	padding-left: 0;
	text-transform: uppercase;
}
