/*-----------------------------------------------------------------------------
Howdy! This is the main WPCandy CSS file. This is 
also the development version of the file, which 
you likely won't see unless you're looking for it.

Version: 		1.3.7
-----------------------------------------------------------------------------*/


/*-----------------------------------------------------------------------------
1.0 - Defaults
-----------------------------------------------------------------------------*/

/* Resets all HTML5 tags */
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video { 
	margin: 0;
	padding: 0; 
	border: 0; 
	outline: 0; 
	font-size: 100%; 
	vertical-align: baseline; 
	background: transparent; 
}

/* Force a scrollbar regardless of content height */
html { 
	height: 100%;
	overflow-y: scroll;
}

/* Default HTML block elements */
html, body, div, p,
address, blockquote,
ol, ul, dd, dl, dt, fieldset, form,
h1, h2, h3, h4, h5, h6,
pre, hr, menu { 
	display: block; 
}

/* Add support for HTML5 elements */
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary { 
	display: block;
}

/* Don't outline elements on focus */
:focus { 
	outline: none;
}

/* Text meant only for screen readers */
.assistive-text {
	clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
}


/*-----------------------------------------------------------------------------
2.0 - Width
-----------------------------------------------------------------------------*/

#page,
#show-header {
	width: 978px;
}

/* Logo */
.site-title a {
	width: 231px;
}

/* Navigation */
.main-navigation,
.main-small-navigation,
.brand-navigation {
	width: 100%;
}

.brand-navigation .wrap,
/* Post navigation */
.navigation {
	width: 580px;
}

.main-navigation .menu ul,
.main-navigation .menu ul li {
	width: 180px;
}

.main-navigation .menu ul a {
	width: 160px;
}

.main-navigation li.twitter a,
.main-navigation li.facebook a,
.main-navigation li.rss a {
	width: 16px;
}

/* Default WordPress styles */
.wp-caption,
.wp-caption img {
	max-width: 100% !important;
}

/* Content */
div.entry-content object,
div.entry-content embed,
div.entry-content iframe,
div.entry-content .vvqbox,
div.entry-content .embed-youtube,
div.entry-content .embed-youtube iframe {
	max-width: 600px;
}

article .in-series p {
	width: 450px;
}

article header .main {
	width: 525px;
}

div.content-cats {
	width: 48px;
}


/*-----------------------------------------------------------------------------
3.0 - Margins/paddings and positioning
-----------------------------------------------------------------------------*/

body {
	height: 100%;
}

#page {
	margin: 0 auto;
}

/* Logo */
.site-title a {
	display: block;
	height: 117px;
	position: relative;
	z-index: 100;
}

/* Navigation */
.main-navigation,
.main-small-navigation {
	-webkit-border-top-left-radius: 6px;
	-webkit-border-top-right-radius: 6px;
	-moz-border-radius-topleft: 6px;
	-moz-border-radius-topright: 6px;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
	border: 1px solid #ccc;
	border-bottom: none;
	margin: 0 auto;
	padding-bottom: 6px;
}

/* Small menu */
.menu-toggle {
	cursor: pointer;
}

.main-small-navigation .menu {
	display: none;
}

.main-navigation .menu {
	margin: 0 0 0 15px;
	padding: 6px 0;
}

.main-navigation .menu li {
	float: left;
	margin-right: 6px;
	position: relative;
}

.main-navigation .menu {
	font-size: 14px;
	line-height: 18px;
}

.main-navigation .menu li {
	line-height: 0;
}
	
.main-navigation .menu a {
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	display: block;
	padding: 0 10px;
}

.main-navigation .menu a {
	line-height: 28px;
	text-decoration: none;
	text-transform: capitalize;
}

.main-navigation .menu li.rss a,
.main-navigation .menu li.twitter a,
.main-navigation .menu li.facebook a {
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	-khtml-border-radius: 0;
	border-radius: 0;
}
	
.main-navigation .menu {
	list-style: none;
	margin-bottom: 0;
}
	
.main-navigation .menu ul {
	display: none;
	position: absolute;
	top: 38px;
	left: 0;
	float: left;
	z-index: 99999;
}

.main-navigation .menu ul ul {
	left: 100%;
	top: 0;
}
	
.main-navigation .menu ul a {
	padding: 10px 10px 9px 10px;
	height: auto;
}
	
.main-navigation .menu li:hover > ul {
	display: block;
}

.main-navigation li.twitter,
.main-navigation li.facebook,
.main-navigation li.rss {
	float: right !important;
	margin-left: 5px;
}

.main-navigation li.facebook {
	margin-right: 20px !important;
}

.main-navigation li.twitter a,
.main-navigation li.facebook a,
.main-navigation li.rss a {
	display: block;
	height: 16px;
	margin-top: 5px;
	padding: 0;
}

/* Brand Bar */	
.brand-navigation {
	border-bottom: 3px solid #333;
	height: 30px;
	margin-bottom: -10px;
	margin-right: 0;
}

.brand-navigation .wrap {
	margin: 0 auto;
}

.brand-navigation li {
	float: left;
	margin: 0 50px 0 0;
}

.brand-navigation li.last {
	margin-right: 0;
}

.brand-navigation a {
	display: block;
	padding: 0 0 0 25px;
}

.brand-navigation li.pros a {
	padding-left: 38px;
}

.brand-navigation li.blog a,
.brand-navigation li.quarterly a {
	padding-left: 30px;
}

/* Default WordPress styles */
.wp-caption {
	padding-top: 4px;
}

.aligncenter, 
div.aligncenter {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.alignleft {
	float: left;
}

.alignright {
	float: right;
}

.alignleft {
	margin: 0 15px 15px 0;
}

.alignright {
	margin: 0 0 15px 35px;
}

.wp-caption {
	padding-top: 4px;
}

.wp-caption img {
	border: 0 none;
	margin: 0;
	padding: 0;
}
	
.wp-caption p.wp-caption-text {
	margin: 0;
	padding: 0 4px 5px;
}

.wp-caption {
	border: none;
	margin-bottom: 15px;
	padding: 0;
}
.wp-caption p.wp-caption-text {
	padding: 3px 0 3px 0;
}

.clear {
	clear: both;
}

/* Lists */
ul ul,
ol ol,
ul ol,
ol ul {
	margin-bottom: 0;
}

/* Post navigation */
.navigation {
	float: left;
	padding: 11px;
}
	
.navigation .nav-next {
	float: right;
}
	
.navigation a {
	display: block;
	float: left;
	padding: 8px 12px;
}


/*-----------------------------------------------------------------------------
4.0 - Backgrounds and colors
-----------------------------------------------------------------------------*/

body {
	background: url('../images/bg2.gif') left top repeat #ccc; 
	color: #666;
}

.site-title a {
	background: url('../images/wpcandy-sprite.png') left top no-repeat;
}

/* Links */
a:link {
	color: #25a8e0;
}

a:visited {
	color: #743399;
}

a:active,
a:hover {
	color: #25a8e0;
}

/* Navigation */
.main-navigation,
.main-small-navigation {
	background: #333;
}

.main-navigation .menu a {
	color: #efefef;
}

.main-navigation .menu a:hover {
	background: #111;
}

.main-navigation .menu li.current-menu-item a,
.main-navigation .menu li.current-page-ancestor a,
.bbPress .main-navigation .menu li.community a {
	background: #111;
	color: #fff;
}

.main-navigation .menu ul a {
	background: #333;
}

.main-navigation .menu li.current_page_item > a,
.main-navigation .menu li.current-menu-ancestor > a,
.main-navigation .menu li.current-menu-item > a,
.main-navigation .menu li.current-menu-parent > a,
* html .main-navigation .menu li.current_page_item a,
* html .main-navigation .menu li.current-menu-ancestor a,
* html .main-navigation .menu li.current-menu-item a,
* html .main-navigation .menu li.current-menu-parent a,
* html .main-navigation .menu li a:hover {
	color: #fff;
}

.main-navigation li.twitter a,
.main-navigation li.twitter a:hover {
	background: url('../images/wpcandy-sprite.png') -311px -36px no-repeat;
}
	
.main-navigation li.facebook a,
.main-navigation li.facebook a:hover {
	background: url('../images/wpcandy-sprite.png') -327px -36px no-repeat;
}
	
.main-navigation li.rss a,
.main-navigation li.rss a:hover {
	background: url('../images/wpcandy-sprite.png') -343px -36px no-repeat;
}

.brand-navigation {
	background: url('../images/brandbar4.gif') left top repeat;
}

.brand-navigation li:hover {
	background: url('../images/brandbar-hover4.gif') center bottom no-repeat;
}

.brand-navigation a {
	color: #003366;
}

.brand-navigation li.stream a {
	background: url('../images/brandbar-icons2.png') left 6px no-repeat;
}

.brand-navigation li.stream a:hover {
	background: url('../images/brandbar-icons2.png') left -22px no-repeat;
}

.brand-navigation li.pros a {
	background: url('../images/brandbar-icons2.png') left -51px no-repeat;
}

.brand-navigation li.pros a:hover {
	background: url('../images/brandbar-icons2.png') left -79px no-repeat;
}

.brand-navigation li.blog a {
	background: url('../images/brandbar-icons2.png') left -107px no-repeat;
}

.brand-navigation li.blog a:hover {
	background: url('../images/brandbar-icons2.png') left -137px no-repeat;
}

.brand-navigation li.blog {
	background: url('../images/brandbar-hover4.gif') center bottom no-repeat;
}

.brand-navigation li.quarterly a {
	background: url('../images/brandbar-icons2.png') left -167px no-repeat;
}

.brand-navigation li.quarterly a:hover {
	background: url('../images/brandbar-icons2.png') left -198px no-repeat;
}

.brand-navigation a:hover {
	color: #fff;
}

/* Default WordPress styles */
.wp-caption {
	background-color: #f3f3f3;
	border: 1px solid #ddd;
}

.wp-caption {
	background: none;
}

.wp-caption p.wp-caption-text {
	color: #333;
}

/* Content categories */
div.content-cats li.tag a {
	background: #25a8e0;
}

div.content-cats li.news a {
	background: #262626 url('../images/wpcandy-sprite.png') -49px -302px no-repeat;
}

div.content-cats li.tutorials a {
	background: #262626 url('../images/wpcandy-sprite.png') -97px -302px no-repeat;
}

div.content-cats li.interviews a {
	background: #262626 url('../images/wpcandy-sprite.png') -145px -302px no-repeat;
}

div.content-cats li.opinion a {
	background: #262626 url('../images/wpcandy-sprite.png') -193px -302px no-repeat;
}
	
div.content-cats li.reviews a {
	background: #262626 url('../images/wpcandy-sprite.png') -241px -302px no-repeat;
}
	
div.content-cats li.podcasts a {
	background: #262626 url('../images/wpcandy-sprite.png') -289px -302px no-repeat;
}
	
div.content-cats li.features a {
	background: #262626 url('../images/wpcandy-sprite.png') -337px -302px no-repeat;
}
	
div.content-cats li.links a {
	background: #262626 url('../images/wpcandy-sprite.png') -385px -302px no-repeat;
}
	
div.content-cats li.giveaways a {
	background: #262626 url('../images/wpcandy-sprite.png') -433px -302px no-repeat;
}
	
div.content-cats li.downloads a {
	background: #262626 url('../images/wpcandy-sprite.png') -481px -302px no-repeat;
}
	
div.content-cats li.videos a {
	background: #262626 url('../images/wpcandy-sprite.png') -529px -302px no-repeat;
}
	
div.content-cats li.sites a {
	background: #262626 url('../images/wpcandy-sprite.png') -577px -302px no-repeat;
}
	
div.content-cats li.bestof a {
	background: #262626 url('../images/wpcandy-sprite.png') -625px -302px no-repeat;
}
	
div.content-cats li.preview a {
	background: #262626 url('../images/wpcandy-sprite.png') -669px -302px no-repeat;
}
	
div.content-cats li.liveblogged a {
	background: #262626 url('../images/wpcandy-sprite.png') -717px -302px no-repeat;
}
	
div.content-cats li.broadcasts a {
	background: #262626 url('../images/wpcandy-sprite.png') -769px -302px no-repeat;
}

div.content-cats li.announcements a {
	background: #262626 url('../images/wpcandy-sprite.png') -1px -302px no-repeat;
}

div.content-cats li.photos {
	background: #262626 url('../images/wpcandy-sprite.png') -817px -302px no-repeat;
	color: #fff;
}

div.content-cats li.tag a:hover,
div.content-cats li.announcements a:hover,
div.content-cats li.news a:hover,
div.content-cats li.tutorials a:hover,
div.content-cats li.interviews a:hover,
div.content-cats li.opinion a:hover,
div.content-cats li.reviews a:hover,
div.content-cats li.podcasts a:hover,
div.content-cats li.features a:hover,
div.content-cats li.links a:hover,
div.content-cats li.giveaways a:hover,
div.content-cats li.downloads a:hover,
div.content-cats li.videos a:hover,
div.content-cats li.sites a:hover,
div.content-cats li.bestof a:hover,
div.content-cats li.preview a:hover {
	background-color: #111;
}

#content {
	border-right: 1px solid #eee;
}

#main .wrap {
	border-right: 1px solid #ccc;
	border-left: 1px solid #ccc;
}

article .in-series p,
article .in-series p a {
	color: #666;
}


/*-----------------------------------------------------------------------------
5.0 - Typography
-----------------------------------------------------------------------------*/

body {
	font-family: "Helvetica Neue", Arial, Helvetica, "Nimbus Sans L", sans-serif;
	font-size: 14px;
	line-height: 22px;	
}

/* Prevents some browsers from inserting quotes on "q" and "p" ("p" in blockquotes) */
blockquote, q { 
	quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after { 
	content: '';
	content: none;
}

/* Set italics */
blockquote, q, em, cite, dfn, cite, var, address { 
	font-style: italic;
}

/* Set boldness */
th, strong, dt { 
	font-weight: bold;
}

sub, sup { 
	font-size: 8px;
}

/* Monospaced fonts */	
pre {
	font-family: "Courier 10 Pitch", Courier, monospace;
}

code, tt, code, kbd, samp, var {
	font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
}

/* Headings */
h3 {
	font-size: 20px;
}

h4 { 
	font-size: 17px;
}

/* Text indent */
.site-title a,
.main-navigation li.twitter a,
.main-navigation li.facebook a,
.main-navigation li.rss a {
	text-indent: -999em;
}

/* Navigation */
.brand-navigation li {
	font-size: 12px;
	line-height: 30px;
	text-transform: uppercase;
	font-weight: bold;
}

.brand-navigation a,
/* Post navigation */
.navigation a {
	text-decoration: none;
}

/* Default WordPress styles */
.wp-caption {
	text-align: center;
}

.wp-caption p.wp-caption-text {
	font-size: 11px;
	line-height: 17px;
}

.wp-caption p.wp-caption-text {
	font-size: 11px;
	line-height: 18px;
	text-align: left;
}

/* Lists */
ul { 
	list-style: disc;
}

ol { 
	list-style: decimal;
}

/* Removes the bullets in nav menus */
nav ul { 
	list-style: none;
}

/* Content */
article .in-series p {
	font-family: Georgia, Garamond, Times, serif;
}


