/*-----------------------------------------------------------------------------
Howdy! This is the main WPCandy CSS file. This is 
also the development version of the file, which 
you likely won't see unless you're looking for it.
-----------------------------------------------------------------------------*/


/*-----------------------------------------------------------------------------
 Reset
-----------------------------------------------------------------------------*/

/* Resets all HTML5 tags */
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video { 
	margin: 0;
	padding: 0; 
	border: 0; 
	outline: 0; 
	font-size: 100%; 
	vertical-align: baseline; 
	background: transparent; 
}

/* Force a scrollbar regardless of content height */
html { 
	height: 100%;
	overflow-y: scroll;
}

/* Default HTML block elements */
html, body, div, p,
address, blockquote,
ol, ul, dd, dl, dt, fieldset, form,
h1, h2, h3, h4, h5, h6,
pre, hr, menu { 
	display: block; 
}

/* Add support for HTML5 elements */
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary { 
	display: block;
}

/* Don't outline elements on focus */
:focus { 
	outline: none;
}

/* Text meant only for screen readers */
.assistive-text {
	clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
}


/*-----------------------------------------------------------------------------
 Global Login Form
-----------------------------------------------------------------------------*/

#page {
	position: relative;
}

#global-login-wrap {
	position: absolute;
	right: 12px;
	top: -22px;
}

#global-login-actions {
	color: #003366;
	font-size: 12px;
	font-weight: bold;
	padding: 1px 0 0 2px;
	width: 150px;
}

#global-login .login-avatar {
	background: #333;
	float: left;
	height: 22px;
	margin: 0 8px 0 0;
	padding: 1px;
}

#global-login .login-avatar img {
	margin: 0;
}

#global-login-actions ul {
	list-style: none;
}

#global-login-actions ul li {

}

#global-login-actions a {
	color: #003366;
	text-decoration: none;
}

#global-login-actions a:hover {
	color: #fff;
	text-decoration: none;
}


/*-----------------------------------------------------------------------------
 Backgrounds and colors
-----------------------------------------------------------------------------*/

body {
	background: url('../images/blog/bg2.gif') left top repeat #ccc; 
	color: #666;
}

.site-title a {
	background: url('../images/blog/wpcandy-sprite.png') left top no-repeat;
}

/* Links */
a:link {
	color: #25a8e0;
}

a:visited {
	color: #743399;
}

a:active,
a:hover {
	color: #25a8e0;
}

/* Navigation */
.menu-blog-navigation-container {
	background: #333;
}

.main-navigation .menu a {
	color: #efefef;
}

.main-navigation .menu a:hover {
	background: #111;
}

.main-navigation .menu li.current-menu-item a,
.main-navigation .menu li.current-page-ancestor a,
.bbPress .main-navigation .menu li.community a {
	background: #111;
	color: #fff;
}

.main-navigation .menu ul a {
	background: #333;
}

.main-navigation .menu li.current_page_item > a,
.main-navigation .menu li.current-menu-ancestor > a,
.main-navigation .menu li.current-menu-item > a,
.main-navigation .menu li.current-menu-parent > a,
* html .main-navigation .menu li.current_page_item a,
* html .main-navigation .menu li.current-menu-ancestor a,
* html .main-navigation .menu li.current-menu-item a,
* html .main-navigation .menu li.current-menu-parent a,
* html .main-navigation .menu li a:hover,
.brand-navigation a:hover,
div.content-cats li.photos {
	color: #fff;
}

.main-navigation li.twitter a,
.main-navigation li.twitter a:hover {
	background: url('../images/blog/wpcandy-sprite.png') -311px -36px no-repeat;
}
	
.main-navigation li.facebook a,
.main-navigation li.facebook a:hover {
	background: url('../images/blog/wpcandy-sprite.png') -327px -36px no-repeat;
}
	
.main-navigation li.rss a,
.main-navigation li.rss a:hover {
	background: url('../images/blog/wpcandy-sprite.png') -343px -36px no-repeat;
}

.brand-navigation {
	background: url('../images/blog/brandbar4.gif') left top repeat;
}

.brand-navigation li:hover,
.brand-navigation li.current-menu-item {
	background: url('../images/blog/brandbar-hover4.gif') center bottom no-repeat;
}

body .brand-navigation a {
	color: #003366 !important;
}

body .brand-navigation a:hover {
	color: #fff !important;
}

.brand-navigation li.stream a {
	background: url('../images/blog/brandbar-icons2.png') left 6px no-repeat;
}

.brand-navigation li.stream a:hover {
	background: url('../images/blog/brandbar-icons2.png') left -22px no-repeat;
}

.brand-navigation li.pros a {
	background: url('../images/blog/brandbar-icons2.png') left -51px no-repeat;
}

.brand-navigation li.pros a:hover {
	background: url('../images/blog/brandbar-icons2.png') left -79px no-repeat;
}

.brand-navigation li.blog a {
	background: url('../images/blog/brandbar-icons2.png') left -107px no-repeat;
}

.brand-navigation li.blog a:hover {
	background: url('../images/blog/brandbar-icons2.png') left -137px no-repeat;
}

.brand-navigation li.blog {
	background: url('../images/blog/brandbar-hover4.gif') center bottom no-repeat;
}

.page-id-7184 .brand-navigation li.blog {
	background: none;
}

.brand-navigation li.quarterly a {
	background: url('../images/blog/brandbar-icons2.png') left -167px no-repeat;
}

.brand-navigation li.quarterly a:hover {
	background: url('../images/blog/brandbar-icons2.png') left -198px no-repeat;
}

/* Default WordPress styles */
.wp-caption {
	background-color: #f3f3f3;
	border: 1px solid #ddd;
}

.wp-caption {
	background: none;
}

.wp-caption p.wp-caption-text {
	color: #333;
}

/* Content categories */
div.content-cats li.tag a {
	background: #25a8e0;
}

div.content-cats li.news a {
	background: #262626 url('../images/blog/wpcandy-sprite.png') -49px -302px no-repeat;
}

div.content-cats li.tutorials a {
	background: #262626 url('../images/blog/wpcandy-sprite.png') -97px -302px no-repeat;
}

div.content-cats li.interviews a {
	background: #262626 url('../images/blog/wpcandy-sprite.png') -145px -302px no-repeat;
}

div.content-cats li.opinion a {
	background: #262626 url('../images/blog/wpcandy-sprite.png') -193px -302px no-repeat;
}
	
div.content-cats li.reviews a {
	background: #262626 url('../images/blog/wpcandy-sprite.png') -241px -302px no-repeat;
}
	
div.content-cats li.podcasts a {
	background: #262626 url('../images/blog/wpcandy-sprite.png') -289px -302px no-repeat;
}
	
div.content-cats li.features a {
	background: #262626 url('../images/blog/wpcandy-sprite.png') -337px -302px no-repeat;
}
	
div.content-cats li.links a {
	background: #262626 url('../images/blog/wpcandy-sprite.png') -385px -302px no-repeat;
}
	
div.content-cats li.giveaways a {
	background: #262626 url('../images/blog/wpcandy-sprite.png') -433px -302px no-repeat;
}
	
div.content-cats li.downloads a {
	background: #262626 url('../images/blog/wpcandy-sprite.png') -481px -302px no-repeat;
}
	
div.content-cats li.videos a {
	background: #262626 url('../images/blog/wpcandy-sprite.png') -529px -302px no-repeat;
}
	
div.content-cats li.sites a {
	background: #262626 url('../images/blog/wpcandy-sprite.png') -577px -302px no-repeat;
}
	
div.content-cats li.bestof a {
	background: #262626 url('../images/blog/wpcandy-sprite.png') -625px -302px no-repeat;
}
	
div.content-cats li.preview a {
	background: #262626 url('../images/blog/wpcandy-sprite.png') -669px -302px no-repeat;
}
	
div.content-cats li.liveblogged a {
	background: #262626 url('../images/blog/wpcandy-sprite.png') -717px -302px no-repeat;
}
	
div.content-cats li.broadcasts a {
	background: #262626 url('../images/blog/wpcandy-sprite.png') -769px -302px no-repeat;
}

div.content-cats li.announcements a {
	background: #262626 url('../images/blog/wpcandy-sprite.png') -1px -302px no-repeat;
}

div.content-cats li.photos {
	background: #262626 url('../images/blog/wpcandy-sprite.png') -817px -302px no-repeat;
}

div.content-cats li.tag a:hover,
div.content-cats li.announcements a:hover,
div.content-cats li.news a:hover,
div.content-cats li.tutorials a:hover,
div.content-cats li.interviews a:hover,
div.content-cats li.opinion a:hover,
div.content-cats li.reviews a:hover,
div.content-cats li.podcasts a:hover,
div.content-cats li.features a:hover,
div.content-cats li.links a:hover,
div.content-cats li.giveaways a:hover,
div.content-cats li.downloads a:hover,
div.content-cats li.videos a:hover,
div.content-cats li.sites a:hover,
div.content-cats li.bestof a:hover,
div.content-cats li.preview a:hover {
	background-color: #111;
}

#main {
	background: #fff;
	border-bottom: 4px solid #333;
	border-right: 1px solid #ccc;
	border-left: 1px solid #ccc;
}

#primary {
	border-right: 1px solid #eee;
}

article .in-series p,
article .in-series p a {
	color: #666;
}

/* Sidebar */
#secondary {

}

/* Previous/Next Navigation */
#nav-prevnext {
	background: url('../images/blog/prevnextarrows.png') center 30px no-repeat;
}

#nav-prevpost,
#nav-nextpost {
	background: #f8f8f8;
	border: 1px solid #eee;
}

#nav-nextpost:hover a,
#nav-prevpost:hover a {
	color: #25a8e0;
}

/* Individual elements */

mark { 
	background-color: #ff9; 
	color: #000; 
}

ins { 
	background-color: #ff9; 
	color: #000; 
}

hr { 
	border: 0; 
	border-top: 1px solid #ccc; 
	clear: both;
	margin: 18px 0;
}

abbr[title], dfn[title] { 
	border-bottom: 1px dotted #000; 
	cursor: help; 
}

#proudly {
	background: url('../images/blog/wordpress-logo.png') center top no-repeat;
}


/*-----------------------------------------------------------------------------
 Typography
-----------------------------------------------------------------------------*/

body {
	font-family: "Helvetica Neue", Arial, Helvetica, "Nimbus Sans L", sans-serif;
	font-size: 14px;
	line-height: 22px;	
}

/* Prevents some browsers from inserting quotes on "q" and "p" ("p" in blockquotes) */
blockquote, q { 
	quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after { 
	content: '';
	content: none;
}

/* Set italics */
blockquote, q, em, cite, dfn, cite, var, address { 
	font-style: italic;
}

/* Set boldness */
th, strong, dt { 
	font-weight: bold;
}

sub, sup { 
	font-size: 8px;
}

/* Monospaced fonts */	
pre {
	font-family: "Courier 10 Pitch", Courier, monospace;
}

code, tt, code, kbd, samp, var {
	font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
}

/* Headings */
h1 {
	font-size: 28px;
	line-height: 34px;
}

h2 {
	font-size: 24px;
	line-height: 36px;
}

h3 {
	font-size: 20px;
	line-height: 30px;
}

h4 { 
	font-size: 17px;
	line-height: 24px;
}

h5 {
	font-size: 14px;
	line-height: 21px;
}

h6 {
	font-size: 14px;
	line-height: 21px;
}

/* Text indent */
.site-title a,
.main-navigation li.twitter a,
.main-navigation li.facebook a,
.main-navigation li.rss a {
	text-indent: -999em;
}

/* Navigation */
.brand-navigation li {
	font-size: 12px;
	line-height: 30px;
	text-transform: uppercase;
	font-weight: bold;
}

.brand-navigation a,
/* Post navigation */
.navigation a {
	text-decoration: none;
}

/* Default WordPress styles */
.wp-caption {
	text-align: center;
}

.wp-caption p.wp-caption-text {
	font-size: 11px;
	line-height: 17px;
}

.wp-caption p.wp-caption-text {
	font-size: 11px;
	line-height: 18px;
	text-align: left;
}

/* Lists */
ul { 
	list-style: disc;
}

ol { 
	list-style: decimal;
}

/* Removes the bullets in nav menus */
nav ul { 
	list-style: none;
}

/* Content */
article .in-series p {
	font-family: Georgia, Garamond, Times, serif;
}

/* Previous/Next Navigation */
#nav-prevpost,
#nav-nextpost {
	font-size: 11px;
	line-height: 18px;
}

#nav-prevpost a,
#nav-nextpost a {
	text-decoration: none;
}

/* Individual elements */
mark {
	font-style: italic; 
	font-weight: bold; 
}

ins { 
	text-decoration: none; 
}

del { 
	text-decoration: line-through; 
}


/*-----------------------------------------------------------------------------
 Navigation
-----------------------------------------------------------------------------*/

/* Logo */
.site-title a {
	width: 231px;
}

/* Navigation */
.main-navigation,
.main-small-navigation,
.brand-navigation {
	width: 100%;
}

.brand-navigation .wrap {
	margin: 0 auto;
	width: 970px;
}

.menu-brand-navigation-container {
	margin: 0 auto;
	width: 485px;
}

/* Post navigation */
.navigation {
	width: 580px;
}

.main-navigation .menu ul,
.main-navigation .menu ul li {
	width: 180px;
}

.main-navigation .menu ul a {
	width: 160px;
}

.main-navigation li.twitter a,
.main-navigation li.facebook a,
.main-navigation li.rss a {
	width: 16px;
}

/* Typography */
#description-swap {
	font-weight: bold;
	line-height: 18px;
}

#description-swap span {
	font-weight: normal;
	font-size: 12px;
}

/* Positioning */
#description-swap {
	float: left;
	margin: 45px 0 0 15px;
}

/* Leaderboard Ad */
#leaderboard {
	border: 1px solid #333;
	float: right;
	height: 90px;
	margin: 22px 0 0 0;
	width: 728px;
}

/* Logo */
.site-title a {
	display: block;
	float: left;
	height: 117px;
	margin: 15px 0 -6px 0;
	position: relative;
	z-index: 100;
}

/* Navigation */
.menu-blog-navigation-container {
	-webkit-border-top-left-radius: 6px;
	-webkit-border-top-right-radius: 6px;
	-moz-border-radius-topleft: 6px;
	-moz-border-radius-topright: 6px;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
	border: 1px solid #ccc;
	border-bottom: none;
	clear: both;
	height: 35px;
	margin: 0 auto;
	padding-bottom: 6px;
}

/* Small menu */
.menu-toggle {
	cursor: pointer;
}

.main-small-navigation .menu {
	display: none;
}

.main-navigation .menu {
	margin: 0 0 0 15px;
	padding: 6px 0;
}

.main-navigation .menu li {
	float: left;
	margin-right: 6px;
	position: relative;
}

.main-navigation .menu {
	font-size: 14px;
	line-height: 18px;
}

.main-navigation .menu li {
	line-height: 0;
}
	
.main-navigation .menu a {
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	display: block;
	padding: 0 10px;
}

.main-navigation .menu a {
	line-height: 28px;
	text-decoration: none;
	text-transform: capitalize;
}

.main-navigation .menu li.rss a,
.main-navigation .menu li.twitter a,
.main-navigation .menu li.facebook a {
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	-khtml-border-radius: 0;
	border-radius: 0;
}
	
.main-navigation .menu {
	list-style: none;
	margin-bottom: 0;
}
	
.main-navigation .menu ul {
	display: none;
	position: absolute;
	top: 38px;
	left: 0;
	float: left;
	z-index: 99999;
}

.main-navigation .menu ul ul {
	left: 100%;
	top: 0;
}
	
.main-navigation .menu ul a {
	padding: 10px 10px 9px 10px;
	height: auto;
}
	
.main-navigation .menu li:hover > ul {
	display: block;
}

.main-navigation li.twitter,
.main-navigation li.facebook,
.main-navigation li.rss {
	float: right !important;
	margin-left: 5px;
}

.main-navigation li.facebook {
	margin-right: 20px !important;
}

.main-navigation li.twitter a,
.main-navigation li.facebook a,
.main-navigation li.rss a {
	display: block;
	height: 16px;
	margin-top: 5px;
	padding: 0;
}

/* Brand Bar */	
.brand-navigation {
	border-bottom: 3px solid #333;
	height: 30px;
	margin-bottom: -10px;
	margin-right: 0;
	padding: 5px 0 0 0;
}

.brand-navigation .wrap {
	margin: 0 auto 0 auto;
}

.brand-navigation li {
	float: left;
	margin: 0 25px 0 0;
}

.brand-navigation li.last {
	margin-right: 0;
}

.brand-navigation a {
	display: block;
	padding: 0 0 0 25px;
}

.brand-navigation li.pros a {
	padding-left: 38px;
}

.brand-navigation li.blog a,
.brand-navigation li.quarterly a {
	padding-left: 30px;
}

/* Post navigation */
.navigation {
	float: left;
	padding: 11px;
}
	
.navigation .nav-next {
	float: right;
}
	
.navigation a {
	display: block;
	float: left;
	padding: 8px 12px;
}


/*-----------------------------------------------------------------------------
 Breadcrumbs
-----------------------------------------------------------------------------*/

#breadcrumbs {
	background: #eaeaea;
	color: rgb(102,102,102);
	border-bottom: 1px solid #c1c1c1;
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
	font-size: 13px;
	padding: 6px 25px;
}

#breadcrumbs a {
	color: rgb(102,102,102);
	text-decoration: none;
}

#breadcrumbs a:hover {
	color: #333;
}


/*-----------------------------------------------------------------------------
 Primary Content
-----------------------------------------------------------------------------*/

body {
	height: 100%;
}

#page {
	margin: 0 auto;
}

#page,
#show-header {
	width: 978px;
}

#primary { 
	width: 600px;
}

div.entry-content object,
div.entry-content embed,
div.entry-content iframe,
div.entry-content .vvqbox,
div.entry-content .embed-youtube,
div.entry-content .embed-youtube iframe {
	max-width: 600px;
}

.entry-content {
	clear: both;
}

article .in-series p {
	width: 450px;
}

article header .main {
	width: 525px;
}

div.content-cats {
	width: 48px;
}

/* Previous/Next Navigation */
#nav-prevnext {
	width: 600px;
}

#nav-prevpost,
#nav-nextpost {
	width: 260px;
}

#nav-nextpost a,
#nav-prevpost a {
	width: 155px;
}

/* Individual elements */
hr { 
	display: block; 
	height: 1px;
	margin: 16px 0; 
	padding: 0; 
}

#main h1,
#main h2,
#main h3,
#main h4,
#main h5,
#main h6 {
	margin: 0 0 4px 0;
}

#main p {
	margin: 0 0 18px 0;
}

#main ul {
	margin: 0 0 22px 28px;
}

/* Posts */
.entry-meta {
	margin: 0 0 22px 0;
}

#nav-above {
	display: none;
}

/* Content */
#main {
	position: relative;
}

#primary {
	float: left;
	margin: 0;
	padding: 22px 25px 22px 25px;
}

/* Previous/Next Navigation */
#nav-prevnext {
	clear: both;
	margin: 0 0 15px 0;
	padding: 20px 0 0 0;
}

#nav-prevpost,
#nav-nextpost {
	height: 85px;
	position: relative;
}

#nav-prevpost {
	float: left;
}

#nav-prevpost img {
	position: absolute;
	left: 5px;
	top: 5px;
}

#nav-nextpost img {
	position: absolute;
	right: 5px;
	top: 5px;
}

#nav-nextpost a,
#nav-prevpost a {
	position: absolute;
	left: 90px;
	top: 15px;
}

#nav-prevpost a {
	left: 90px;
}

#nav-nextpost a {
	right: 90px;
}

#nav-nextpost {
	float: right;
}

#nav-nextpost:hover,
#nav-prevpost:hover {
	cursor: pointer;
}

div.navigation {
	clear: both;
	margin-bottom: 22px;
	position: relative;
	z-index: 600;
}

.edit-link {
	display: none;
}

img {
	margin: 0 0 18px 0;
}

p img {
	margin-bottom: 0;
}

.entry-title {
	float: left;
	margin-top: 10px;
	width: 80%;
}

.entry-title a {
	color: rgb(102,102,102);
	text-decoration: none;
}

div.content-cats {
	float: left;
	font-size: 9px;
	margin-bottom: 14px;
	margin-right: 12px;
	margin-top: 2px;
	text-align: center;
	text-transform: uppercase;
	width: 48px;
}

div.content-cats ul {
	margin: 0 !important;
}
	
div.content-cats li {
	list-style-type: none;
	margin-bottom: 1px;
}
	
div.content-cats li a {
	background-color: #262626;
	color: #fff;
	display: block;
	padding-top: 44px;
	text-decoration: none;
}

div.content-cats li.tag a {
	line-height: 14px;
	padding-top: 0;
}

.post {
	clear: both;
	margin: 0 0 48px 0;
}

footer.entry-meta {
	clear: both;
}

/* Post Comment Count */
.post-comment-count {
	float: right;
	font-size: 16px;
	margin: 0 !important;
	padding: 7px 0 0 0;
	width: auto;
}

.post-comment-count a {
	background: #848484;
	-webkit-border-radius: 9px;
	-moz-border-radius: 9px;
	border-radius: 9px;
	color: #fff;
	display: block;
	padding: 3px 8px;
	text-decoration: none;
}

.post-comment-count a:hover {
	background: #515151;
}

/* Featured Posts */
#featured-posts {
	background: #fff;
	/*border-bottom: 1px solid #c1c1c1;*/
	padding: 22px 25px;
}

#featured-posts ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

#featured-posts li.featured-post {
	float: left;
	margin: 0;
	width: 300px;
}

#featured-posts li.first {
	margin-right: 10px;
}

#featured-posts li.last {
	float: right;
	margin: 0;
}

#featured-posts .image {
	border: 1px solid #c1c1c1;
	height: 125px;
	overflow: hidden;
}

#featured-posts .title {
	color: #333;
	font-size: 13px;
	font-weight: bold;
	line-height: 16px;
	width: 100%;
}

#featured-posts .title .title-wrap {
	padding: 10px 0 0 0;
}

#featured-posts li.featured-post p {
	margin: 0;
}

#featured-posts .title a {
	color: #333;
	text-decoration: none;
}

#featured-posts li.featured-post .comments {
	font-size: 11px;
	font-weight: normal;
}

#featured-posts li.featured-post .comments a {
	color: #8e8e8e;
}


/*-----------------------------------------------------------------------------
 Buttons
-----------------------------------------------------------------------------*/

a.more-link,
#bbp_topic_submit,
#bbp_reply_submit {
	background: #25a8e0;
	border-right: 1px solid #1e86b3;
	border-top: 1px solid #1e86b3;
	clear: both;
	color: #fff !important;
	display: block;
	float: left;
	margin: 0 15px 18px 0;
	padding: 4px 6px;
	text-decoration: none;
}


/*-----------------------------------------------------------------------------
 Posts
-----------------------------------------------------------------------------*/

.entry-header .entry-meta {
	border-bottom: 1px solid #d1d1d1;
	color: #909090;
	float: right;
	font-size: 12px;
	margin-bottom: 12px;
	padding: 0 0 2px 0;
	width: 540px;
}

.entry-header .entry-meta a {
	color: #909090;
	text-decoration: none;
}

.entry-header .entry-meta a:hover {
	text-decoration: underline;
}

/* Link Posts */
.format-link .entry-title {
	font-size: 16px;
	font-weight: bold;
	line-height: 24px;
}

#main .format-link .post-permalink {
	float: left;
	margin: 0 5px 0 0;
	position: relative;
	top: 3px;
	width: 20px;
}

.format-link .post-permalink a {
	display: block;
	height: 20px;
	width: 20px;
	background: url('../images/icon-link.png') left top no-repeat;
	text-indent: -999em;
}

.format-link .entry-header .entry-meta {
	width: 575px;
}


/*-----------------------------------------------------------------------------
 Secondary Content
-----------------------------------------------------------------------------*/

#secondary {
	width: 325px;
}

/* Sidebar */
#secondary {
	float: right;
	margin-bottom: 30px;
	margin-right: 0;
	overflow: hidden;
	padding-top: 0;
}

#secondary aside {
	border-bottom: 1px solid #ccc;
	padding: 35px 22px;
}

/*
 * Widget styles for Jetpack
 */

/* Clear floats */
.jetpack-image-container:after {
	clear: both;
}
.jetpack-image-container:before,
.jetpack-image-container:after {
	display: table;
	content: "";
}

/* Sidebar Stuff */
#text-24 {
	background: #fff;
	border-bottom: 1px solid #eaeaea;
	font-size: 12px;
	padding: 30px 20px 1px;
}

.widget-container {
	padding: 20px;
}

#azk93305 img {
	float: left;
	margin: 0 20px 20px 0;
}

/* Topics Widget */

.wpcandy-topics-widget ul {
	list-style: none;
	margin: 0 !important;
	padding: 10px 0 0 0 !important;
}

.wpcandy-topics-widget ul li {
	float: left;
	font-size: 12px;
	margin: 0 19px 15px 0;
	padding: 0;
	text-align: center;
	text-transform: uppercase;
	width: 80px;
}

.wpcandy-topics-widget ul li.third {
	margin-right: 0;
}

.wpcandy-topics-widget ul li a {
	background-color: #5b5b5b;
	background-repeat: no-repeat;
	border: 2px solid #515151;
	color: #fff;
	display: block;
	padding: 70px 0 3px 0;
	text-decoration: none;
	width: 100%;
}

.wpcandy-topics-widget ul li.business a {
	background-image: url('../images/blog/topics-sprite.png');
	background-position: -976px 21px;
}

.wpcandy-topics-widget ul li.hosting a {
	background-image: url('../images/blog/topics-sprite.png');
	background-position: -771px 19px;
}

.wpcandy-topics-widget ul li.wordcamp a {
	background-image: url('../images/blog/topics-sprite.png');
	background-position: -77px 20px;
}

.wpcandy-topics-widget ul li.plugins a {
	background-image: url('../images/blog/topics-sprite.png');
	background-position: -269px 8px;
}

.wpcandy-topics-widget ul li.blogging a {
	background-image: url('../images/blog/topics-sprite.png');
	background-position: -379px 16px;
}

.wpcandy-topics-widget ul li.security a {
	background-image: url('../images/blog/topics-sprite.png');
	background-position: -177px 28px;
}

.wpcandy-topics-widget ul li.mobile a {
	background-image: url('../images/blog/topics-sprite.png');
	background-position: -667px 16px;
}

.wpcandy-topics-widget ul li.multisite a {
	background-image: url('../images/blog/topics-sprite.png');
	background-position: -577px 8px;
}

.wpcandy-topics-widget ul li.themes a {
	background-image: url('../images/blog/topics-sprite.png');
	background-position: -477px 8px;
}

.wpcandy-topics-widget ul li.buddypress a {
	background-image: url('../images/blog/topics-sprite.png');
	background-position: -877px 9px;
}

.wpcandy-topics-widget ul li.bbpress a {
	background-image: url('../images/blog/topics-sprite.png');
	background-position: 23px 8px;
}

/* Red */
.wpcandy-topics-widget ul li.business a {
	background-color: #680600;
	border-color: #5E0500;
}

/* Green */
.wpcandy-topics-widget ul li.wordcamp a {
	background-color: #27802A;
	border-color: #63A765;
}

/* Purple */
.wpcandy-topics-widget ul li.plugins a,
.wpcandy-topics-widget ul li.mobile a {
	background-color: #624171;
	border-color: #9675A3;
}

/* Brown */
.wpcandy-topics-widget ul li.security a {
	background-color: #423433;
	border-color: #734742;
}

/* Blue */
.wpcandy-topics-widget ul li.blogging a,
.wpcandy-topics-widget ul li.themes a,
.wpcandy-topics-widget ul li.multisite a {
	background-color: #264FAD;
	border-color: #1E6DC0;
}

/* Orange */
.wpcandy-topics-widget ul li.hosting a,
.wpcandy-topics-widget ul li.buddypress a {
	background-color: #AF6A1E;
	border-color: #CF9643;
}

/* Pink */
.wpcandy-topics-widget ul li.bbpress a {
	background-color: #FF1C56;
	border-color: #FF3B6D;
}

.wpcandy-topics-widget ul li a:hover {
	background-color: #282828 !important;
	border: 2px solid #1e1e1e !important;
}


/*-----------------------------------------------------------------------------
 Navigation Below
-----------------------------------------------------------------------------*/

#nav-below {
	border-top: 1px solid #e8e8e8;
	font-size: 12px;
	padding: 15px 0 0 0;
}

#nav-below a {
	background: #333;
	color: #fff;
	display: block;
	padding: 6px 12px;
	text-decoration: none;
}

#nav-below .nav-next {
	float: right;
}

#nav-below .nav-previous {
	float: left;
}


/*-----------------------------------------------------------------------------
 Comments
-----------------------------------------------------------------------------*/

#main .comments-title {
	font-size: 18px;
	font-weight: bold;
	line-height: 24px;
	margin: 0 0 24px 0;
}

.logged-in-as,
#commentform textarea,
#commentform input[type="text"] {
	font-size: 14px;
	line-height: 22px;
}

.logged-in-as {
	display: inline-block;
}

#commentform textarea,
#commentform input[type="text"] {
	width: 98%;
}

.comment-form-comment {
	clear: both;
}

#comments {
	clear: both;
}
	
.commentlist {
	list-style: none;
	margin: 0;
}

#comments .commentlist ul.children {
	list-style: none;
	margin: 0 22px 22px 22px;
}
	
.commentlist li.comment {
	background: #F8F7F9;
	border: 1px solid #ccc;
	line-height: 22px;
	margin: 0 0 24px 0;
	position: relative;
}
	
.commentlist li.comment div.comment-wrap {
	border: 1px solid #eee;
	padding: 10px 11px 11px 67px;
	position: relative;
}
	
.commentlist li:last-child {
	margin-bottom: 0;
}
	
#comments .comment-body ul,
#comments .comment-body ol {
	margin-bottom: 18px;
}
	
#comments .comment-body p:last-child {
	margin-bottom: 6px;
}
	
#comments .comment-body blockquote p:last-child {
	margin-bottom: 24px;
}
	
.comment-list ol {
	list-style: decimal;
}
	
.comment-author {
}
	
.comment-author cite {
	color: #000;
	font-style: normal;
	font-weight: bold;
}
	
.comment-author .says {
	font-style: italic;
}
	
.comment-meta {
	font-size: 12px;
/*		margin: 4px 0 22px;*/
}
	
.comment-meta a:link,
.comment-meta a:visited {
	color: #888;
	text-decoration: none;
}
	
.comment-meta a:active,
.comment-meta a:hover {
	color: #ff4b33;
}

.comment-list .even {
}

.comment-list .bypostauthor {
}
	
.comment-list .reply {
	font-size: 12px;
	position: absolute;
	right: 11px;
	text-transform: uppercase;
	top: 11px;
}
	
.reply a,
a.comment-edit-link {
	color: #888;
}
	
#comments .reply a {
	background: #262626;
	border-radius: 5px;
	color: #fff;
	font-size: 9px;
	text-decoration: none;
	padding: 4px 8px;
}
	
#comments .reply a:hover {
	background: #111;
	color: #fff;
	text-decoration: none;
}

a.comment-edit-link:hover {
	color: #ff4b33;
}
	
.comment-list .children {
	background: #fff;
	list-style: none;
/* 		margin: 0 0 0 50px; */
	padding: 0 0 0 50px;
}
	
.comment-list .children li {
	border: none;
	margin: 0;
}
	
.comment-list .children div.comment-wrap {
	background: #f8f8f8;
}

.comment-author {
	margin: 12px 0 0 70px;
}

.comment-author img {
	left: 15px;
	position: absolute;
	top: 15px;
}

.comment-meta {
	margin: 0 0 0 70px;
}

.comment-content {
	margin: 15px;
}

.comment .reply {
	position: absolute;
	right: 15px;
	top: 15px;
}

.comment #respond {
	margin: 18px;
	width: 93%;
}
	
/* Comment form */
#commentform input, #commentform textarea {
	color: #666;
	display: block;
}
	
#commentform textarea {
	padding: 5px;
}
		
#respond .required {
	color: #ff4b33;
	font-weight: bold;
}
	
#respond {
	margin: 22px 0;
	overflow: hidden;
	position: relative;
	width: 602px;
}

.comment .comment #respond {
	width: 602px;
	margin-left: -50px;
}

.comment .comment .comment #respond {
	margin-left: -100px;
}

.comment .comment .comment .comment #respond {
	margin-left: -150px;
}

.comment .comment .comment .comment .comment #respond {
	margin-left: -200px;
}
	
#respond .comment-form-comment {
	margin-bottom: 0;
}

#respond .comment-notes {
	display: inline-block;
	margin-bottom: 1em;
}
	
.form-allowed-tags {
	line-height: 22px !important;
	margin-top: 12px;
}
	
.children #respond {
	margin: 0 44px 0 0;
}

#comments-list #respond {
	margin: 0 0 22px 0;
}

#comments-list ul #respond {
	margin: 0;
}

#respond .required {
	color: #ff4b33;
	font-weight: bold;
}

#respond label {
	color: #888;
	font-size: 12px;
}

#respond input {
	/*		margin: 0 0 9px;*/
}
	
#respond input,
#respond textarea {
	width: 560px;
}
	
#respond .form-allowed-tags {
	color: #888;
	font-size: 12px;
	line-height: 18px;
}
	
#respond .form-allowed-tags code {
	font-size: 11px;
}
	
#respond .form-submit {
	/*		margin: 12px 0;*/
}
	
#respond .form-submit input {
	width: auto;
}
	
.no-comments {
	display: none;
}
	
.comments-closed {
	display: none;
}
	
p.comment-form-author,
p.comment-form-email,
p.comment-form-url {
	float: left;
	margin-right: 26px;
	width: 180px;
}
	
p.comment-form-url {
	margin-right: 0;
}
	
input#submit {
	background: #25a8e0;
	border: none;
	border-right: 1px solid #1e86b3;
	border-top: 1px solid #1e86b3;
	clear: both;
	color: #fff;
	display: block;
	float: left;
	font-size: 14px;
	margin: 0 0 34px 0;
	padding: 8px 12px;
	text-decoration: none;
}
	
input#submit:hover {
	background: #333;
	border-top: 1px solid #000;
	border-right: 1px solid #000;
}
	
li.comment p.rating,
div.comment-rating-actions {
	position: absolute;
	right: 12px;
	bottom: 6px;
}

div.comment-rating-actions img {
	float: right;
	margin-left: 5px;
	opacity: 0.5;
}

div.comment-rating-actions img:hover {
	cursor: pointer;
	opacity: 1.0;
}

li.pingback p.rating {
	display: none;
}

li.comment p.rating span {
	display: none;
}

body .comment-list li.ckrating_highly_rated div.comment-wrap {
	background: #f4fbfd;
}

body .comment-list li.ckrating_highly_rated .children div.comment-wrap {
	background: #f8f8f8;
}

body .comment-list li.ckrating_poorly_rated .comment-wrap {
	/* 		color: #d7d7d7; */
	opacity: 0.5;
}

body .comment-list li.ckrating_poorly_rated .children .comment-wrap {
	opacity: 1.0;
}

li.comment p.pro-id {
	color: #fff !important;
	position: absolute;
	left: 11px;
	line-height: 14px;
	padding: 0;
	text-align: center;
	top: 52px;
	width: 40px;
}

li.comment p.pro-id a {
	background: #25a8e0;
	color: #fff;
	display: block;
	font-size: 11px;
	height: 14px;
	margin: 0 auto;
	padding: 1px 0;
	text-decoration: none;
	width: 40px;
}

li.comment p.pro-id a:hover {
	background: #333;
}


/*-----------------------------------------------------------------------------
 Default WordPress styles
-----------------------------------------------------------------------------*/

.wp-caption,
.wp-caption img {
	max-width: 100% !important;
}

.wp-caption {
	padding-top: 4px;
}

.aligncenter, 
div.aligncenter {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.alignleft {
	float: left;
}

.alignright {
	float: right;
}

.alignleft {
	margin: 0 15px 15px 0;
}

.alignright {
	margin: 0 0 15px 35px;
}

.wp-caption {
	padding-top: 4px;
}

.wp-caption img {
	border: 0 none;
	margin: 0;
	padding: 0;
}
	
.wp-caption p.wp-caption-text {
	margin: 0;
	padding: 0 4px 5px;
}

.wp-caption {
	border: none;
	margin-bottom: 15px;
	padding: 0;
}
.wp-caption p.wp-caption-text {
	padding: 3px 0 3px 0;
}

.clear {
	clear: both;
}

/* Lists */
ul ul,
ol ol,
ul ol,
ol ul {
	margin-bottom: 0;
}


/*-----------------------------------------------------------------------------
 Shoppe Template wpcandy.com/shoppe
-----------------------------------------------------------------------------*/

.page-template-templatesblog-shoppe-php #primary,
.page-template-templatesblog-checkout-php #primary,
.single-wpsc-product #primary,
.tax-wpsc_product_category #primary,
.wpsc-transaction-details  #primary,
.wpsc-user-account #primary {
	border-right: none;
	width: 926px;
}

#shoppe-list {
	float: left;
	list-style: none;
	margin: 0 0 50px 0 !important;
	padding: 0;
	width: 100%;
}

#shoppe-list .shoppe-item {
	border: 1px solid #ccc;
	-webkit-box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.5);
	box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.5);
	float: left;
	margin: 0 0 30px 0;
	width: 450px;
}

#shoppe-list .num-2,
#shoppe-list .num-4,
#shoppe-list .num-6,
#shoppe-list .num-8,
#shoppe-list .num-10,
#shoppe-list .num-12,
#shoppe-list .num-14,
#shoppe-list .num-16,
#shoppe-list .num-18 {
	float: right;
}

.shoppe-item .shoppe-item-title {
	background: url('../images/blog/bg2.gif') left top repeat;
	border-bottom: 1px solid #ccc;
	color: #333;
	padding: 5px 10px 2px 10px;
}

.shoppe-item .shoppe-item-title h3 {
	float: left;
	font-size: 15px;
}

.shoppe-item .shoppe-details {
	color: #009900;
	float: right;
	font-size: 12px;
	margin: 6px 0 0 0;
}

.shoppe-item .shoppe-details span.from {
	color: #333;
	font-size: 12px;
	font-weight: normal;
}

.shoppe-item .shoppe-details p {
	font-size: 18px;
	font-weight: bold;
	margin: 0 !important;
}

.shoppe-item .shoppe-item-title a {
	color: #333;
	text-decoration: none;
}

.shoppe-item .shoppe-item-image {
	margin: 10px 10px -10px 10px;
	width: 420px;
}

.shoppe-item .shoppe-item-info {
	background: url('../images/blog/bg2.gif') left top repeat;
	padding: 8px 10px 8px 10px;
}

.shoppe-item-info .wpsc_loading_animation {
	display: none;
}

.shoppe-item-info .wpsc_buy_button,
#shoppe-single-sidebar .wpsc_buy_button {
	background: #1e86b3;
	border-right: 1px solid #1e86b3;
	border-left: 1px solid #1e86b3;
	border-top: 1px solid #1e86b3;
	border-bottom: 1px solid #1e86b3;
	color: #fff;
	float: right;
	font-size: 14px !important;
	margin: 0;
	padding: 8px 15px !important;
}

.shoppe-item-info .wpsc_buy_button:hover {
	background: #003366;
	border-right: 1px solid #1e86b3;
	border-left: 1px solid #1e86b3;
	border-top: 1px solid #1e86b3;
	border-bottom: 1px solid #1e86b3;
	color: #fff;
}

.shoppe-item-info .stock-message {
	float: left;
	font-size: 12px;
	font-weight: bold;
	line-height: 34px;
	margin: 0;
	width: 250px;
}

.shoppe-item-info .out_of_stock {
	color: #f00;
}

.shoppe-item-info .stock-message p {
	margin: 0 !important;
}

.wpsc-product {
	position: relative;
}

#shoppe-menu {
	list-style: none;
	margin: 0;
	padding: 0;
	position: absolute;
	right: 0;
	top: 25px;
}

.page-template-templatesblog-shoppe-php #shoppe-menu {
	top: -65px;
}

#shoppe-menu a {
	background: #fff; /* Old browsers */
	background: -moz-linear-gradient(top, #ffffff 0%, #ededed 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#ededed)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #ffffff 0%,#ededed 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #ffffff 0%,#ededed 100%); /* Opera11.10+ */
	background: -ms-linear-gradient(top, #ffffff 0%,#ededed 100%); /* IE10+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed',GradientType=0 ); /* IE6-9 */
	background: linear-gradient(top, #ffffff 0%,#ededed 100%); /* W3C */
	border: 1px solid #ccc;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	color: #777;
	cursor: pointer;
	font: normal 14px/21px Arial, Tahoma, Verdana, sans-serif;
	outline: none;
	padding: 6px 14px;
	text-align: center;
	text-decoration: none;
	line-height: 14px;
}

#shoppe-menu a:hover {
	background: #ededed;
	background: -moz-linear-gradient(top, #ffffff 0%, #e0e0e0 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#e0e0e0)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #ffffff 0%,#e0e0e0 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #ffffff 0%,#e0e0e0 100%); /* Opera11.10+ */
	background: -ms-linear-gradient(top, #ffffff 0%,#e0e0e0 100%); /* IE10+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e0e0e0',GradientType=0 ); /* IE6-9 */
	background: linear-gradient(top, #ffffff 0%,#e0e0e0 100%); /* W3C */
	border: 1px solid #bbb;
	color: #555;
	outline: none;
	text-decoration: none;
}

#shoppe-menu li {
	margin: 0;
	padding: 0;
}

/* Single Shoppe Items */
.single-wpsc-product #primary #shoppe-single-primary {
	float: left;
	width: 620px;
}

.single-wpsc-product #primary #shoppe-single-primary .productcol {
	margin: 0;
}

.single-wpsc-product #primary #shoppe-single-sidebar {
	float: right;
	width: 280px;
}

#single_product_page_container {
	width: 100%;
}

.single_product_display {
	padding: 0;
}

.single-wpsc-product .entry-header {
	margin-bottom: 18px;
}

.single-wpsc-product .entry-content .product_description img {
	border: 1px solid #ccc;
	-webkit-box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.5);
	box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.5);
	margin: 0 0 10px 0;
	padding: 10px;
}

.single-wpsc-product .wpsc_product_price {
	border-bottom: 1px solid #ccc;
	color: #009900;
	float: right;
	font-size: 24px;
	font-weight: bold;
	height: 30px;
	padding: 0;
	text-align: right;
	width: 110px;
}

.single-wpsc-product .wpsc_product_price .pricedisplay {
	margin: -8px 0 0 0;
}

.single-wpsc-product .wpsc_product_price .pricedisplay .from {
	display: block;
	float: right;
	font-size: 12px;
	font-weight: normal;
	margin: -18px 0 -4px 0;
	width: 100%;
}

.single-wpsc-product .product_form {
	border-bottom: 1px solid #ccc;
	margin: 0 0 18px 0;
	padding-bottom: 6px;
}

.single-wpsc-product .wpsc_buy_button_container {
	clear: both;
}

.single-wpsc-product .single_additional_description {
	font-size: 14px;
	line-height: 21px;
}

.single-wpsc-product .variation {
	border-bottom: 1px solid #ccc !important;
	float: left;
	height: 30px;
	margin: 0;
	width: 170px;
}

.single-wpsc-product .soldout {
	clear: both;
	line-height: 26px;
	margin: 0 0 4px 0 !important;
}

.single-wpsc-product .variation select {
	margin: -8px 0 0 0;
	width: 100%;
}

/* Product Taxonomies */
.tax-wpsc_product_category #primary .entry-title,
.page-template-templatesblog-shoppe-php #primary .entry-title {
	display: none;
}

.tax-wpsc_product_category #primary #fancy_notification {
	display: none;
}


/*-----------------------------------------------------------------------------
 Checkout Template wpcandy.com/shoppe/checkout
-----------------------------------------------------------------------------*/

#checkout_page_container {
	width: 100%;
}

#wpsc_shopping_cart_container {
}

.wpsc_checkout_forms {
}

#shipping-table,
.wpsc_checkout_forms div.wpsc_email_address {
	background: #efefef;
	border: 1px solid #ccc;
	margin: 25px 0 25px 0;
	padding: 25px;
}

#checkout_page_container h3 {
	border-bottom: 1px solid #ccc;
	font-size: 14px;
	font-weight: normal;
	margin: 0 0 14px 0;
	padding: 0 0 4px 0;
}

.checkout_cart .header {
	background: #333;
	color: #fff;
}

.checkout_cart .header th {
	padding: 5px 10px;
}

.checkout_cart .pricedisplay {
	display: block;
	text-align: center;
	width: 100%;
}

.checkout_cart .wpsc_product_remove {
	text-align: center;
}

.checkout_cart .wpsc_product_remove .remove_submit_button {
	background: none;
	border: none;
	color: #f00;
	font-size: 11px !important;
	padding: 0;
	text-decoration: underline;
}

#content #checkout_page_container table.checkout_cart tr.product_row td.wpsc_product_image img {
	height: auto;
	width: auto;
}

.checkout_cart tr.product_row td {
	line-height: 21px !important;
}

.checkout_cart .firstcol {
	width: 160px;
}

.checkout_cart .firstcol img {
	margin: 0;
}

.checkout_cart .product_row .adjustform {
	margin: 0 auto;
	width: 140px;
}

.checkout_cart .product_row .remove {
	width: 40px;
}

.checkout_cart .wpsc_product_name {
	width: 260px !important;
}

.checkout_cart .wpsc_product_quantity {
	width: 180px !important;
}

/* Calculate Shipping Price */
.wpsc_change_country .calculate_shipping_button {
	clear: both;
	float: left;
}

.wpsc_change_country #current_country,
.wpsc_change_country #region {
	float: left;
	font-size: 18px !important;
	margin: 12px 12px 12px 0;
}

/* Enter Email Address */
.wpsc_checkout_forms .wpsc_checkout_form_9,
.wpsc_checkout_forms .wpsc_email_address_p {
	width: 400px;
}

.wpsc_checkout_forms .wpsc_email_address h2 {
	margin-bottom: 14px !important;
}

.wpsc_checkout_forms label.wpsc_email_address {
	display: none;
}

.wpsc_checkout_forms .wpsc_email_address_p img {
	float: right !important;
}

#wpsc_checkout_form_9 {
	width: 300px;
}

/* Billing/Contact */
.wpsc_checkout_forms .wpsc_checkout_table {
	margin: 0 0 25px 0;
	width: 48.5%;
}

.wpsc_checkout_forms .table-1 {
	background: #efefef;
	border: 1px solid #ccc !important;
	float: left;
}

.wpsc_checkout_forms .table-2 {
	background: #efefef;
	border: 1px solid #ccc !important;
	float: right;
}

.wpsc_checkout_forms .table-1 tr td {
	padding: 7px 0 7px 25px !important;
}

.wpsc_checkout_forms .table-1 .wpsc_billing_forms,
.wpsc_checkout_forms .table-2 .wpsc_shipping_forms {
	padding: 15px 25px 0 25px !important;
}

.wpsc_checkout_forms .table-1 label {
	display: block;
	text-align: right;
	width: 100px;
}

.wpsc_checkout_forms .table-1 input.text,
.wpsc_checkout_forms .table-1 textarea,
.wpsc_checkout_forms .table-1 select {
	width: 200px;
}

.wpsc_checkout_forms .table-1 .wpsc_checkout_form_18 {
	padding-bottom: 25px !important;
}

.wpsc_checkout_forms .table-2 td {
	padding: 5px 0 5px 25px !important;
}

.wpsc_checkout_forms .table-2 .same_as_shipping_row td {
	padding: 15px 0 15px 25px !important;
}

.wpsc_checkout_forms .table-2 td input,
.wpsc_checkout_forms .table-2 td textarea {
	width: 200px;
}

.wpsc_checkout_forms .table-2 .same_as_shipping_row td input {
	width: auto;
}

/* Review and Purchase */
.wpsc_checkout_forms #review-and-purchase {
	border-top: 4px solid #ccc;
	clear: both;
	margin: 24px 0 34px 0;
	padding: 0 0 0 0;
}

.wpsc_checkout_forms #review-and-purchase table {
	margin-top: -2px;
	width: 100%;
}

.wpsc_checkout_forms #review-and-purchase table td {
	border-bottom: 1px solid #efefef !important;
}

.wpsc_checkout_forms #review-and-purchase .wpsc_totals {
	padding-bottom: 8px;
	padding-top: 8px;
}

.wpsc_checkout_forms #review-and-purchase table td.wpsc_total_price_and_shipping {
	background: #efefef;
	border-bottom: 1px solid #ccc !important;
	padding: 16px 16px 12px 16px;
}

#checkout_page_container .total_price.total_shipping td:first-child, #checkout_page_container .total_price td:first-child {
	padding-left: 16px !important;
	width: 200px;
}

#checkout_page_container .total_price.total_shipping td:first-child, #checkout_page_container .total_price {
	font-weight: bold;
}

#checkout_page_container .total_price.total_shipping td:first-child, #checkout_page_container .total_shipping {
	font-weight: normal;
}

/* Final Purchase Button */
.wpsc_make_purchase {
	clear: both;
	float: right !important;
}

.wpsc_make_purchase .wpsc_buy_button {
	background: #1e86b3;
	border-right: 1px solid #1e86b3;
	border-left: 1px solid #1e86b3;
	border-top: 1px solid #1e86b3;
	border-bottom: 1px solid #1e86b3;
	color: #fff;
	float: right;
	font-size: 14px !important;
	margin: 0;
	padding: 8px 15px !important;
}

.wpsc_make_purchase .wpsc_buy_button:hover {
	background: #003366;
	border-right: 1px solid #1e86b3;
	border-left: 1px solid #1e86b3;
	border-top: 1px solid #1e86b3;
	border-bottom: 1px solid #1e86b3;
	color: #fff;
}

/* Your Account Template */
.page-template-templatesblog-your-account-php .logdisplay {
	margin-bottom: 50px;
}

.page-template-templatesblog-your-account-php .logdisplay .toprow {
	background: #333;
	color: #fff;
}

.page-template-templatesblog-your-account-php .logdisplay .toprow td {
	padding: 5px 10px;
}


/*-----------------------------------------------------------------------------
 My Account Template wpcandy.com/my-account
-----------------------------------------------------------------------------*/

.page-template-templatesglobal-my-account-php #primary {
	border-right: none;
	width: 926px;
}

.account-card {
	border: 1px solid #ccc;
	float: right;
	margin-bottom: 18px;
	width: 49%;
}

.page-template-templatesglobal-my-account-php #primary .odd {
	clear: both;
	float: left;
}

.page-template-templatesglobal-my-account-php #primary .entry-header {
	margin-bottom: 18px;
}

.account-card .heading {
	background: url('../images/blog/brandbar4.gif') left top repeat;
	padding: 1% 3% 0.5% 3%;
}

.account-card .content {
	padding: 5% 4%;
}

.account-card .heading h3 {
	color: #fff;
	font-size: 16px;
	font-weight: normal;
}

.account-card .content dl dt {
	color: #ccc;
	font-size: 11px;
	font-weight: normal;
	line-height: 12px;
	margin: 0;
	text-transform: uppercase;
}

.account-card .content dl dd {
	margin: 0 0 14px 0;
}

.account-card img.avatar {
	float: right;
}

.account-card table th {
	background: #f1f1f1;
	text-align: left;
}

.account-card table th,
.account-card table td {
	padding: 2px 5px;
}

.account-card table td {
	padding: 6px 5px;
}

.account-card .edit-link {
	display: inline;
}

.pro-card .pro-image {
	float: left;
}

.pro-card .pro-info {
	float: right;
	width: 190px;
}

.pro-card .pro-info p {
	border-bottom: 1px solid #ccc;
	font-weight: bold;
	margin: 0 0 12px 0 !important;
	padding: 0 0 4px 0;
}

.pro-card .pro-info p a {
	color: #000;
	text-decoration: none;
}

.pro-card .pro-info ul {
	font-size: 12px;
	line-height: 18px;
	list-style-type: none;
	margin: 0 !important;
}

.pro-card .pro-info ul li {

}


/*-----------------------------------------------------------------------------
 Shows Template wpcandy.com/shows
-----------------------------------------------------------------------------*/

ul#shows-list {
	margin: 0;
	padding: 0;
}

ul#shows-list li {
	float: left;
	list-style-type: none;
	margin: 0 36px 40px 0;
	width: 280px;
}

ul#shows-list li p.show-title {
	font-size: 15px;
	font-weight: bold;
	margin-bottom: 0;
}

ul#shows-list li p.show-title a {
	color: #333;
	text-decoration: none;
}

ul#shows-list li img {
	border: 1px solid #333;
	margin: 0 0 10px 0;
}

ul#shows-list li p.latest-episode {
	font-size: 12px;
	font-weight: bold;
	margin-bottom: 12px;
}

ul#shows-list li p.show-hosts {
	color: #d3d3d3;
	font-size: 12px;
	margin-bottom: 0;
}

ul#shows-list li p.latest-episode a {
	font-weight: normal;
}

ul#shows-list li .show-desc {
	font-size: 13px;
}

ul#shows-list li .show-desc p {
	margin-bottom: 12px;
}

ul#shows-list li.shownum-1,
ul#shows-list li.shownum-3,
ul#shows-list li.shownum-5,
ul#shows-list li.shownum-7,
ul#shows-list li.shownum-9 {
	margin-right: 0;
}

#shows-list .addthis_toolbox {
	display: none;
}

/* Shows archive listing */
div#shows-info img,
div#archive-info img {
	float: left;
	margin-bottom: 22px;
	margin-right: 22px;
}

div#shows-info .shows-info-desc {
	float: right;
	width: 300px;
}

div#archive-info .archive-info-desc {
	float: left;
	width: 450px;
}

div#shows-info .shows-info-desc  p {
	border-bottom: 1px solid #ddd;
	font-size: 18px;
	line-height: 27px;
	margin-bottom: 15px;
	padding-bottom: 15px;
}

div#shows-info .shows-info-desc p.show-hosts {
	border-bottom: none;
	font-size: 14px;
	line-height: 21px;
	margin-bottom: 0;
	padding-bottom: 0;
}

div#shows-info .shows-info-desc p.show-hosts strong {
	display: block;
}

div#shows-info .shows-info-desc ul {
	background: #eee;
	border: 1px solid #ddd;
	float: left;
	font-size: 12px;
	list-style-type: none;
	margin: 0;
	padding: 10px;
}

div#shows-info .shows-info-desc ul li {
	float: left;
	margin: 0 15px 0 0;
}

#archive-info .archive-meta {
	font-size: 13px;
}

#shows-info .addthis_toolbox,
#archive-info .addthis_toolbox {
	display: none;
}

#shows-info h2,
#archive-info h2 {
	border-left: 10px solid #25A8E0;
	margin-bottom: 6px;
	float: left;
	font-size: 16px;
	padding-left: 10px;
}

#shows-info hr,
#archive-info hr {
	margin-bottom: 12px;
}

p#shows-rss-link,
p#archive-rss-link {
	float: right;
	font-size: 12px;
}

p#shows-rss-link a,
p#archive-rss-link a {
	background: url('../images/wpcandy-sprite.png') -343px -36px no-repeat;
	color: #333;
	padding: 2px 0 2px 24px;
	text-decoration: none;
}


/*-----------------------------------------------------------------------------
 Tables
-----------------------------------------------------------------------------*/

table {
	width: 100%;
}

table thead tr {
	background: #eaeaea;
}

table#message-threads {
	margin: 0 -19px;
	width: auto;
}

table.profile-fields {
	margin-bottom: 20px;
}

table.profile-fields:last-child {
	margin-bottom: 0;
}

table.profile-fields p {
	margin-top: 15px;
}

table.profile-fields p:last-child {
	margin-top: 0;
}

div#sidebar table {
	margin: 0 -16px;
	width: 117%;
}

table tr td,
table tr th {
	vertical-align: middle;
}

table tr td.label {
	border-right: 1px solid #eaeaea;
	font-weight: bold;
	width: 25%;
}

table tr td.thread-info p {
	margin: 0;
}

table tr td.thread-info p.thread-excerpt {
	color: #888;
	font-size: 11px;
	margin-top: 3px;
}

div#sidebar table td,
table.forum td {
	text-align: center;
}

table tr.alt td {
	background: #f5f5f5;
}


/*-----------------------------------------------------------------------------
 Definition Lists
-----------------------------------------------------------------------------*/

/* DLs in sidebar widgets */
/* Also, mimics style with certain class anywhere */
#sidebar dl,
dl.sidebyside {
	float: left;
	margin-top: 11px;
	width: 100%;
}

dl.sidebyside {
	font-size: 12px;
	margin-bottom: 34px;
	width: 60%;
}

#sidebar dl dt,
dl.sidebyside dt {
	font-weight: normal;
	width: 45%;
}

#sidebar dl dd,
dl.sidebyside dd {
	margin-bottom: 0;
	width: 55%;
}

#sidebar dl dd,
#sidebar dl dt,
dl.sidebyside dd,
dl.sidebyside dt {
	border-top: 1px solid #eee;
	border-bottom: 1px solid #eee;
	float: left;
}

#sidebar dl dt a,
dl.sidebyside dt a {
	font-weight: bold;
	padding: 0 10px;
	text-decoration: none;
}


/*-----------------------------------------------------------------------------
Forms
-----------------------------------------------------------------------------*/

button,
input,
select,
textarea {
	margin: 0;
	font-size: 100%;
	vertical-align: middle;
}

button,
input {
	font-size: 14px;
	*overflow: visible;
	line-height: normal;
	margin: 0 0 14px 0;
	padding: 6px;
}

.button {
	font-size: 21px;
}

input,
textarea {
	border-bottom: 1px solid #ddd;
	border-left: 1px solid #c3c3c3;
	border-right: 1px solid #c3c3c3;
	border-top: 1px solid #7c7c7c;
}

textarea {
	margin-bottom: 21px;
	padding: 6px;
	overflow: auto;
	vertical-align: top;
}

textarea.medium {
	width: 58%;
}

textarea.large {
	width: 97%;
}

textarea.small {
	width: 24%;
}

input.large,
#subForm input {
	width: 92%;
}

input.medium {
	width: 58%;
}

input.small {
	width: 24%;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
	padding: 0;
	border: 0;
}

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	cursor: pointer;
	-webkit-appearance: button;
	width: auto !important;
}

input[type="search"] {
	-webkit-appearance: textfield;
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button {
	-webkit-appearance: none;
}

.gform_wrapper ul {
	margin: 0 !important;
	padding: 0 !important;
}

.gform_wrapper .gfield {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

label {
	clear: both;
	display: block;
	font-weight: bold;
}

label.pds-input-label {
	clear: none;
}

#commentform label,
#commentform .required {
	display: inline-block;
}

label .gfield_required {
	color: #f00;
}

button,
a.button,
input[type=submit],
input[type=button],
input[type=reset],
ul.button-nav li a,
div.generic-button a,
.comment-reply-link {
	background: #fff; /* Old browsers */
	background: -moz-linear-gradient(top, #ffffff 0%, #ededed 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#ededed)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #ffffff 0%,#ededed 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #ffffff 0%,#ededed 100%); /* Opera11.10+ */
	background: -ms-linear-gradient(top, #ffffff 0%,#ededed 100%); /* IE10+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed',GradientType=0 ); /* IE6-9 */
	background: linear-gradient(top, #ffffff 0%,#ededed 100%); /* W3C */
	border: 1px solid #ccc;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	color: #777;
	cursor: pointer;
	font: normal 14px/21px Arial, Tahoma, Verdana, sans-serif;
	outline: none;
	padding: 6px 14px;
	text-align: center;
	text-decoration: none;
	line-height: 14px;
}

button:hover,
a.button:hover,
a.button:focus,
input[type=submit]:hover,
input[type=button]:hover,
input[type=reset]:hover,
ul.button-nav li a:hover,
ul.button-nav li.current a,
div.generic-button a:hover,
.comment-reply-link:hover {
	background: #ededed;
	background: -moz-linear-gradient(top, #ffffff 0%, #e0e0e0 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#e0e0e0)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #ffffff 0%,#e0e0e0 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #ffffff 0%,#e0e0e0 100%); /* Opera11.10+ */
	background: -ms-linear-gradient(top, #ffffff 0%,#e0e0e0 100%); /* IE10+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e0e0e0',GradientType=0 ); /* IE6-9 */
	background: linear-gradient(top, #ffffff 0%,#e0e0e0 100%); /* W3C */
	border: 1px solid #bbb;
	color: #555;
	outline: none;
	text-decoration: none;
}

/* Complex fields (side by side, usually) */
.ginput_complex {
	float: left;
	margin-bottom: 21px;
	width: 100%;
}

.ginput_complex input {
	margin-bottom: 0;
	width: 97%;
}

.ginput_complex .ginput_left,
.ginput_complex .ginput_right {
	display: block;
	float: left;
	width: 45%;
}

.ginput_complex .ginput_right {
	float: right;
}

.ginput_complex span label {
	font-weight: normal;
	color: #999;
}

/* Checkbox and radio buttons */
.gform_wrapper .gfield_checkbox,
.gform_wrapper .gfield_radio {
	float: left;
	list-style-type: none;
	margin: 0 0 21px 0 !important;
	padding: 0;
	width: 60%;
}

ul.gfield_checkbox li,
.gfield_radio li {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

ul.gfield_checkbox input,
.gfield_radio input,
/* "Notify me" checkbox below comment form */
#respond input#subscribe,
input#subscribe_blog {
	clear: both;
	float: left;
	margin: 10px 5px 10px 0;
}

ul.gfield_checkbox label,
.gfield_radio label,
/* "Notifiy me" lable below comment fomr */
.subscribe-to-comments label,
.subscribe-label {
	clear: none;
	display: block;
	float: left;
	font-weight: normal;
	margin: 5px 5px 10px 0;
	width: 70%;
}

select {
	font-size: 12px;
	margin: 0 0 21px 0;
}

/* Sections */
.gsection {
	clear: both;
}

.gsection h2 {
	margin-bottom: 0 !important;
}

.gsection_description {
	margin-bottom: 21px;
}

.gform_footer {
	clear: both;
}

/* Join the community form */
#gform_14 .ginput_complex {
	width: 59%;
}

#recaptcha_table {
	border: none !important;
}

#field_14_5 {
	margin-bottom: 21px;
}

/* Add me to mailing list checkboxes */
#field_20_8,
#field_14_6,
#field_18_6,
#field_19_3,
#field_17_10 {
	margin-top: -10px;
}

#input_20_8,
#input_14_6,
#input_18_6,
#input_19_3,
#input_17_10 {
	width: 75%;
}

.gchoice_8_1 label,
.gchoice_6_1 label,
.gchoice_6_1 label,
.gchoice_3_1 label,
.gchoice_10_1 label {
	color: #666;
	font-size: 12px;
}

/* Join the mailing list form */
#sidebar #gform_wrapper_1 .ginput_complex {
	margin-bottom: 10px;
}

#text-34 {
	border-bottom: 1px solid #eaeaea;
}

/* Site Search */	
#search-text {
	float: left;
	margin-right: 5%;
	width: 58%;
}

.search-submit {
	float: left;
}

section.search {
	padding-top: 20px;
}

/* Subscribe to Comments forms */
p.subscribe-to-comments,
p.comment-subscription-form {
	background: #f8f8f8;
	border: 1px solid #eee;
	clear: both;
	color: #888;
	float: left;
	margin-bottom: 15px;
	padding: 12px;
	width: 95%;
}

#main p.subscribe-to-comments {
	border-bottom: 0;
	margin-bottom: 0;
	padding-bottom: 0;
}

p.comment-subscription-form {
	border-top: 0;
	padding-top: 0;
}

p.subscribe-to-comments input,
p.subscribe-to-comments label,
p.comment-subscription-form input,
p.comment-subscription-form label {
	margin-bottom: 0;
}



/*-----------------------------------------------------------------------------
 Footer
-----------------------------------------------------------------------------*/

#colophon {
	padding: 35px 0;
}

#colophon a {
	color: rgb(102,102,102);
	text-decoration: none;
}

#colophon a:hover {
	color: #000;
}

.site-info {
	border-top: 1px solid #ccc;
	clear: both;
	font-family: Georgia, serif;
	padding: 18px 0 0 0;
	text-align: center;
}

#proudly {
	font-size: 16px;
	font-style: italic;
	padding-top: 50px;
}

#credits {
	font-size: 12px;
}

#colophon .first,
#colophon .second,
#colophon .third,
#colophon .fourth {
	float: left;
	margin: 0 0 24px 0;
	width: 20%;
}

#colophon .first {
	margin-left: 2%;
}

#colophon .first,
#colophon .second,
#colophon .third {
	margin-right: 5%;
}

#colophon ul {
	font-size: 15px;
	font-weight: bold;
	list-style-type: none;
}

#colophon ul ul {
	font-size: 14px;
	font-weight: normal;
}


div.content-cats .photos {
	display: none;
}

blockquote {
	border-left: 6px solid #25A8E0;
	margin-left: 19px;
	margin-right: 19px;
	padding-left: 19px;
}

blockquote.pullquote,	
blockquote.jump {
	border-left: none;
	float: right;
	font-family: Georgia, Garamond, serif;
	font-size: 28px;
	line-height: 42px;
	width: 50%;
}

.pullquote code,
.jump code {
	font-size: 22px;
}

blockquote.roadblock {
	border-left: none;
	color: #25A8E0;
	font-family: 'Helvetica Neue', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
	font-size: 24px;
	font-style: italic;
	font-weight: bold;
	line-height: 36px;
	padding-left: 0;
	text-transform: uppercase;
}
