/*-----------------------------------------------------------------------------
 x.0 - Responsive Layout: Mobile (Portrait)
 Note: Design for a width of 320px
 Also note: Keep this order, between Portrait and Landscape, 
 or the styles won't apply properly.
-----------------------------------------------------------------------------*/

@media only screen and (max-width: 767px) {
	
	#site-title,
	#site-navigation,
	#main .wrap,
	footer#bottom,
	div#breadcrumbs {
		width: 290px;
		overflow: hidden;
	}
	
	div#breadcrumbs-wrap {
		width: 270px;
	}
	
	#site-title {
		margin: 0 auto !important;
	}
	
	#global-login-wrap {
		width: 260px;
		margin: 0 auto;
	}
	
	#actions-logged-in {
		width: auto;
		border: none;
	}
	
	#logged-in-main ul {
		display: none;
	}

	#global-login li {
		list-style-type: none;
	}
	
	#actions-logged-out {
		display: none;
	}
	
	#site-topics .wrap {
		width: 320px
	}
	
	#site-topics li {
		font-size: 10px;
		margin-right: 1px;
	}
	
	#site-topics a {
		background: none !important;
		padding-left: 10px !important;
		padding-right: 10px !important;
	}
	
	/* Killing the home link, for the sake of space */
	#menu-item-2018 {
		display: none;
	}
	
	#site-navigation .nav-menu ul li {
		margin-right: 0;
	}
	
	#site-navigation .nav-menu ul {
		font-size: 12px;
		width: 270px;
	}
	
	#site-navigation .nav-menu ul a {
		padding: 0 5px;
	}
	
	#site-navigation .nav-menu ul li.twitter a,
	#site-navigation .nav-menu ul li.facebook a,
	#site-navigation .nav-menu ul li.rss a {
		padding: 0;
	}
	
	#content {
		margin-left: 15px;
		padding-right: 15px;
		width: 260px;
	}
	
	.content-cats {
		display: none;
	}
	
	article header .main {
		width: 260px;
	}
	
	div.navigation {
		width: 235px;
	}
	
	#sidebar {
		width: 300px;
	}
	
	/* Footer */
	#footer-widgets {
		width: 260px;
	}
	
	#footer-widgets-01 {
		margin-right: 0;
		width: 260px;
		float: none;
	}
	
	#footer-widgets-02 {
		width: 260px;
		float: none;
	}
	
	#footer-widgets-03 {
		width: 260px;
		float: right;
	}
	
	#colophon {
		width: 260px;
	}
	
	#site-credits {
		float: left;
		padding-left: 0;
	}
	
	#menu-footer-navigation {
		width: 260px;
	}
	
	#menu-footer-navigation li {
		margin: 10px 10px -5px 0;
	}
	
	#site-info,
	#site-credits {
		width: 260px;
	}
	
	/* Doesn't look right, just kill it */
	#featured {
		display: none;
	}
	
	/* Show page */
	p#show-schedule-link {
		position: relative;
		right: 0;
		top: 0;
	}
	
	p#show-schedule-link a {
		background: none;
		border: none;
		color: #333;
		margin: 0;
		padding: 0;
		text-decoration: underline;
	}
	
	p#show-schedule-link a:hover {
		color: #000;
	}
	
	/* Shows Schedule Page */
	body.page-id-33536 #sidebar {
		position: relative;
		left: -10px;
		width: 260px;
	}
	
	body.page-id-33536 #sidebar section {
		padding: 0;
		margin: 0;
	}
	
	body.page-id-33536 #sidebar .pa-copy, body.page-id-33536 #sidebar .pa-id {
		width: 90px;
	}
	
	body.page-id-33536 #sidebar .pa-id {
		clear: both;
	}
	
	#show-schedule iframe {
		width: 260px;
	}
	
	/* Forum */
	body.bbPress #content, body.bbPress #content article, body.page-id-16742 #content, body.page-id-16742 #content article, body.page-id-33536 #content article {
		width: 270px;
	}
	
	/* Single posts */
	#nav-prevnext,
	#post-social,
	#callout-quarterly,
	#author-bio {
		display: none;
	}
	
	/* Fix for the audio player */
	#content object,
	.twitter-tweet-rendered {
		max-width: 180px !important;
	}
	
	/* Comments */
	.comment-list .reply {
		position: relative;
		right: 0;
		top: 0;
	}
	
	.comment-list li.comment div.comment-wrap {
		padding-left: 11px;
	}
	
	.comment-list .avatar {
		position: relative;
		left: 0;
		top: 0;
	}
	
	li.comment p.pro-id {
		display: none;
	}
	
	.comment-list .children {
		padding-left: 0;
	}
	
	.comment .comment #respond,
	.comment .comment .comment #respond,
	.comment .comment .comment .comment #respond,
	.comment .comment .comment .comment .comment #respond {
		width: 200px;
		margin-left: 0;
	}
	
	#respond {
		width: 260px;
	}
	
	p.form-allowed-tags {
		width: 250px;
	}
	
	/* Image formats */
	.post_format-post-format-image .entry-content,
	.post_format-post-format-gallery .entry-content {
		width: 250px;
	}
	
	blockquote.pullquote,	
	blockquote.jump {
		width: 100%;
		margin: 0;
	}
	
	div.entry-meta p.count {
		display: none;
	}

}


/*-----------------------------------------------------------------------------
 x.0 - Responsive Layout: Mobile (Landscape)
 Note: Design for a width of 480px
-----------------------------------------------------------------------------*/

@media only screen and (min-width: 480px) and (max-width: 767px) {
	
	div.entry-meta p.count {
		display: block;
	}
	
	/* Fixes from above */
	#featured {
		display: block;
	}
	
	#site-navigation .nav-menu ul {
		font-size: 11px;
		width: 380px;
	}
	
	div.navigation {
		width: 370px;
	}
	
	/* Standard changes */
	#site-title,
	#site-navigation,
	#main .wrap,
	footer#bottom,
	div#breadcrumbs {
		width: 420px;
		overflow: hidden;
	}
	
	div#breadcrumbs-wrap {
		width: 390px;
	}
	
	#global-login-wrap {
		width: 420px;
	}
	
	#actions-logged-out {
		display: block;
		width: auto;
	}
	
	#site-topics .wrap {
		width: 420px
	}
	
	#site-topics li {
		margin-right: 20px;
	}
	
	#site-topics a {
		background: none !important;
		padding-left: 10px !important;
		padding-right: 10px !important;
	}
	
	/* Killing the home link, for the sake of space */
	#menu-item-2018 {
		display: none;
	}
	
	#site-navigation .nav-menu {
		font-size: 11px;
	}
	
	#content {
		padding-right: 15px;
		width: 390px;
	}
	
	.post .content-cats {
		display: none;
	}
	
	.post header .main {
		width: 390px;
	}
	
	#sidebar {
		float: none;
		margin: 0 auto;
	}
	
	#footer-widgets {
		width: 390px;
	}
	
	#footer-widgets-01 {
		margin-right: 0;
		width: 390px;
		float: none;
	}
	
	#footer-widgets-02 {
		width: 390px;
		float: none;
	}
	
	#footer-widgets-03 {
		width: 390px;
		float: right;
	}
	
	#colophon {
		width: 390px;
	}
	
	#site-credits {
		float: left;
		padding-left: 0;
	}
	
	#menu-footer-navigation {
		width: 390px;
	}
	
	#menu-footer-navigation li {
		margin: 10px 10px -5px 0;
	}
	
	/* Show page */
	p#show-schedule-link {
		position: relative;
		right: 0;
		top: 0;
	}
	
	p#show-schedule-link a {
		background: none;
		border: none;
		color: #333;
		margin: 0;
		padding: 0;
		text-decoration: underline;
	}
	
	p#show-schedule-link a:hover {
		color: #000;
	}
	
	/* Shows Schedule Page */
	body.page-id-33536 #sidebar {
		position: relative;
		width: 390px;
	}
	
	#show-schedule iframe {
		width: 390px;
	}
	
	/* Forum */
	body.bbPress #content, body.bbPress #content article, body.page-id-16742 #content, body.page-id-16742 #content article, body.page-id-33536 #content article {
		width: 390px;
	}
	
	/* Comments */
	.comment .comment #respond,
	.comment .comment .comment #respond,
	.comment .comment .comment .comment #respond,
	.comment .comment .comment .comment .comment #respond {
		width: 390px;
		margin-left: 0;
	}
	
	#respond {
		width: 390px;
	}
	
	/* Image formats */
	.post_format-post-format-image .entry-content,
	.post_format-post-format-gallery .entry-content,
	.twitter-tweet-rendered {
		width: 390px !important;
	}
	
}