/*-----------------------------------------------------------------------------

Howdy! This is the main Quarterly CSS file. This is 
also the development version of the file, which 
you likely won't see unless you're looking for it.

-----------------------------------------------------------------------------*/


/*-----------------------------------------------------------------------------
 Reset
-----------------------------------------------------------------------------*/

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
sup {
	font-size: 0.5em;
	vertical-align: super;
}


/*-----------------------------------------------------------------------------
 Main Layout
-----------------------------------------------------------------------------*/

body {
	font-family: 'Helvetica Neue', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
	font-size: 12px;
}


/*-----------------------------------------------------------------------------
 Brand Navigation
-----------------------------------------------------------------------------*/

.brand-navigation {
	background: url('../images/blog/brandbar4.gif') left top repeat;
	border-bottom: 3px solid #333;
	font-weight: bold;
	height: 30px;
	padding: 5px 0 0 0;
	width: 100%;
}

.brand-navigation .wrap {
	margin: 0 auto;
	position: relative;
	width: 970px;
}

.menu-brand-navigation-container {
	margin: 0 auto;
	width: 485px;
}

.brand-navigation ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.brand-navigation li {
	float: left;
	line-height: 30px;
	margin: 0 25px 0 0;
}

.brand-navigation li.stream {
	margin-right: 0;
}

.brand-navigation li:hover {
	background: url('../images/blog/brandbar-hover4.gif') center bottom no-repeat;
}

.brand-navigation li.quarterly {
	background: url('../images/blog/brandbar-hover4.gif') center bottom no-repeat;
}

.brand-navigation a {
	color: #003366;
	display: block;
	padding: 0 0 0 25px;
	text-decoration: none;
	text-transform: uppercase;
}

.brand-navigation li.blog a, 
.brand-navigation li.quarterly a {
	padding-left: 30px;
}

.brand-navigation li.blog a {
	background: url('../images/blog/brandbar-icons2.png') left -107px no-repeat;
}

.brand-navigation li.quarterly a {
	background: url('../images/blog/brandbar-icons2.png') left -167px no-repeat;
}

.brand-navigation li.pros a {
	background: url('../images/blog/brandbar-icons2.png') left -51px no-repeat;
}

.brand-navigation li.stream a {
	background: url('../images/blog/brandbar-icons2.png') left 6px no-repeat;
}

.brand-navigation li.pros a {
	padding-left: 38px;
}


/*-----------------------------------------------------------------------------
 Global Login Form
-----------------------------------------------------------------------------*/

#global-login-wrap {
	position: absolute;
	right: 8px;
	top: 1px;
}

#global-login-actions {
	color: #003366;
	font-size: 12px;
	font-weight: bold;
	padding: 1px 0 0 2px;
	width: 150px;
}

#global-login .login-avatar {
	background: #333;
	float: left;
	height: 22px;
	margin: 0 8px 0 0;
	padding: 1px;
}

#global-login .login-avatar img {
	margin: 0;
}

#global-login-actions ul {
	list-style: none;
}

#global-login-actions ul li {
	line-height: 22px;
	margin: 0;
	padding: 0;
}

#global-login-actions ul li:hover {
	background: none;
}

#global-login a {
	margin: 0;
	padding: 0;
	text-transform: none;
}

#global-login-actions a {
	color: #003366;
	margin: 0;
	padding: 0;
	text-decoration: none;
}

#global-login-actions a:hover {
	color: #fff;
	text-decoration: none;
}


/*-----------------------------------------------------------------------------
 Content
-----------------------------------------------------------------------------*/

#page {
	clear: both;
}

#page {
	background: url('../images/quarterly/banner.jpg') center top no-repeat;
	height: 400px;
	width: 100%;
}

#masthead .wrap {
	margin: 0 auto;
	padding: 25px 0;
	width: 900px;
}

.site-title a {
	background: url('../images/quarterly/quarterly-logo.png') left top no-repeat;
	display: block;
	height: 151px;
	text-indent: -999em;
	width: 200px;
}

#masthead hgroup {
	float: left;
	width: 200px;
}

#masthead .main-navigation {
	float: left;
	margin: 68px 0 0 60px;
	width: 400px;
}

#masthead .main-navigation li {
	float: left;
	font-size: 16px;
	margin: 0 24px 0 0;
}

#masthead .main-navigation li a {
	background: rgba( 0,0,0,0.45 );
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	color: #fff;
	padding: 10px 10px;
	text-decoration: none;
}

#masthead .main-navigation li a:hover {
	background: rgba( 0,0,0,0.85 );
}

#main {
	clear: both;
	margin: 0;
	padding: 50px 0 0 0;
}

.entry-content {
	margin: 0 auto;
	width: 900px;
}

#issue-desc {
	float: right;
	font-size: 16px;
	line-height: 24px;
	margin: 0 25px 0 0;
	width: 500px;
}

.entry-title {
	font-size: 24px;
	font-weight: bold;
	margin: 0 0 6px 0;
}

#issue-desc .column {
	float: left;
	font-size: 22px;
	width: 220px;
}

.column .price {
	margin-right: 5px;
}

.column .info,
.column .alert {
	clear: both;
	display: block;
	font-size: 12px;
}

.wpsc_buy_button {
	background: #25a8e0;
	border: none;
	border-right: 1px solid #1e86b3;
	border-top: 1px solid #1e86b3;
	clear: both;
	color: #fff;
	display: block;
	float: left;
	font-size: 16px !important;
	margin: 15px 15px 6px 0;
	padding: 6px 8px;
	text-decoration: none;
}

.wpsc_buy_button:hover {
	cursor: pointer;
}

#issue-desc .meta {
	border-bottom: 1px solid #ccc;
	font-size: 14px;
	margin: 0 0 24px 0;
}

#issue-desc p {
	margin: 0 0 18px 0;
}

#issue-desc .meta p {
	margin: 0;
}

#issue-cover {
	float: left;
	margin: 0 0 0 25px;
	width: 300px;
}

#issue-desc,
#issue-cover {
	margin-bottom: 50px;
}

.entry-utility {
	background: url('../images/quarterly/banner-bottom.jpg') center top no-repeat;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	clear: both;
}

.entry-utility .wrap {
	margin: 0 auto;
	padding: 25px 0;
	width: 900px;
}

.entry-utility .contributor {
	float: left;
	margin: 0 15px 20px 0;
	width: 290px;
}

.entry-utility .num-3,
.entry-utility .num-6,
.entry-utility .num-9,
.entry-utility .num-12,
.entry-utility .num-15 {
	margin-right: 0;
}

.entry-utility .num-4,
.entry-utility .num-7,
.entry-utility .num-10,
.entry-utility .num-13 {
	clear: both;
}

.entry-utility .avatar {
	float: left;
	margin: 0 8px 0 0;
}

.entry-utility h3 {
	border-bottom: 1px solid #ccc;
	font-family: Georgia, serif;
	font-style: italic;
	font-size: 24px;
	margin: 0 0 30px 0;
	padding: 0 0 10px 0;
	text-align: center;
}

.contributor .title p {
	font-size: 13px;
	font-weight: bold;
	line-height: 21px;
}

.contributor .title p.author {
	font-size: 12px;
	font-weight: normal;
}

.contributor .title p.author span {
	font-family: Georgia, serif;
	font-style: italic;
}

#mailing-list {
	background: #ccc;
}

#mailing-list .wrap {
	margin: 0 auto;
	padding: 15px 0;
	width: 900px;
}

#bottom {
	background: #ccc url('../images/quarterly/texture.gif') repeat;
	padding: 18px 0 90px 0;
}

#site-credits {
	background: url('../images/quarterly/wordpress-logo.png') center top no-repeat;
	color: #333;
	font-size: 14px;
	margin: 0 auto;
	padding-top: 50px;
	text-align: center;
	width: 900px;
}

#site-credits a {
	color: #333;
	text-decoration: none;
}

p#proudly,
p#credits {
	color: rgb(102,102,102);
	font-family: Georgia, serif;
	font-style: italic;
	font-size: 16px;
	line-height: 24px;
}

p#credits {
	font-size: 12px;
	font-style: normal;
}

#fancy_notification_content {
	font-size: 16px;
	line-height: 24px;
	padding: 15px !important;
}

#fancy_notification_content .go_to_checkout {
	display: block;
	margin-bottom: 15px;
}






