/*-----------------------------------------------------------------------------

Howdy! This is the main Shoppe CSS file. This is 
also the development version of the file, which 
you likely won't see unless you're looking for it.

Version: 		1.0
Last Updated: 	November 20, 2011

TABLE OF CONTENTS:
------------------
 1.0 - Layout

-----------------------------------------------------------------------------*/


/*-----------------------------------------------------------------------------
1.0 - Layout
-----------------------------------------------------------------------------*/

.wpsc_default_product_list .group,
.single_product_display {
	border-bottom: 1px solid #ddd;
	margin: 0 0 25px 0;
	padding: 0;
	width: 600px;
}
.post-31456 { /* Transaction results page */	
	width: 600px !important;
}
.post-31456 p {
	width: 600px;
}
.wpsc_default_product_list .prodtitle {
	float: right;
	margin: 0 !important;
	width: 430px;
}
.wpsc_default_product_list .imagecol,
.single_product_display .imagecol {
	float: left;
	margin: 0 0 15px 0;
	width: 150px;
}
.wpsc_default_product_list .productcol,
.single_product_display .productcol {
	float: right;
	margin: 0 0 15px 0 !important;
	width: 430px;
}
.wpsc_buy_button_container {
	float: none !important;
}
.wpsc_default_product_list .group h2.prodtitle {
	font-size: 18px;
	font-weight: normal !important;
	margin: 0 0 21px 0 !important;
}
.wpsc_default_product_list .entry-utility {
	display: none;
}
.wpsc_buy_button_container {
	clear: both;
	text-align: left;
}
.wpsc_buy_button_container input {
	padding: 8px !important;
}


/*-----------------------------------------------------------------------------
6.0 - Shopping/Checkout
-----------------------------------------------------------------------------*/

.wpsc_buy_button {
	border-top: 1px solid #96d1f8;
	background: #65a9d7;
	background: -webkit-gradient(linear, left top, left bottom, from(#3e779d), to(#65a9d7));
	background: -webkit-linear-gradient(top, #3e779d, #65a9d7);
	background: -moz-linear-gradient(top, #3e779d, #65a9d7);
	background: -ms-linear-gradient(top, #3e779d, #65a9d7);
	background: -o-linear-gradient(top, #3e779d, #65a9d7);
	padding: 9px 18px;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border: none;
	border-radius: 0px;
	-webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
	-moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
	box-shadow: rgba(0,0,0,1) 0 1px 0;
	text-shadow: rgba(0,0,0,.4) 0 1px 0;
	color: white;
	font-size: 14px !important;
	font-family: Helvetica, Arial, Sans-Serif;
	text-decoration: none;
	vertical-align: middle;
}
.wpsc_buy_button:hover {
	border-top-color: #28597a;
	background: #28597a;
	color: #fff;
	cursor: pointer;
}
.wpsc_buy_button:active {
	border-top-color: #1b435e;
}
#fancy_notification {
	border: none;
	background: #ebebeb;
   background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#ebebeb));
   background: -webkit-linear-gradient(top, #ffffff, #ebebeb);
   background: -moz-linear-gradient(top, #ffffff, #ebebeb);
   background: -ms-linear-gradient(top, #ffffff, #ebebeb);
   background: -o-linear-gradient(top, #ffffff, #ebebeb);
   padding: 10px 20px;
   -webkit-border-radius: 6px;
   -moz-border-radius: 6px;
   border-radius: 6px;
   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
   color: #000000;
   font-size: 14px;
   font-family: Helvetica, Arial, Sans-Serif;
   text-decoration: none;
   vertical-align: middle;
}
#fancy_notification a {
	display: block;
	text-decoration: none;
}
#fancy_notification a.continue_shopping {
	color: #333;
	float: right !important;
	font-size: 11px;
}
#fancy_notification a:hover {
	text-decoration: underline;
}
#fancy_notification a.go_to_checkout {
	color: #1b435e;
	float: left;
	font-size: 12px;
	font-weight: bold;
}
.wpsc_product_price {
	font-size: 14px !important;
}
.wpsc_product_price p.last {
	display: none;
}
.wpsc_default_product_list .group .wpsc_product_price p {
	float: left;
	margin: 0 15px 0 0 !important;
}
.wpsc_buy_button_container {
	margin-top: -30px;
}


/*-----------------------------------------------------------------------------
7.0 - Checkout Page
-----------------------------------------------------------------------------*/

#checkout_page_container {
	width: 600px;
}
#checkout_page_container h3 {
	font-size: 14px;
	font-weight: normal;
}
.checkout_cart {
	width: 100%;
}
.checkout_cart a {
	color: #000;
	text-decoration: none;
}
.checkout_cart a:hover {
	text-decoration: underline;
}
.checkout_cart td {
	padding: 8px 4px !important;
	text-align: center;
}
.checkout_cart .wpsc_product_name {
	text-align: left;
}
div.wpsc_email_address {
	height: 60px;
	margin: 0 0 30px 0;
	position: relative;
	width: 300px;
}
.wpsc_email_address img {
	border: 1px solid #666;
	left: 0;
	position: absolute;
	top: 0;
}
.wpsc_email_address p {
	float: right;
	margin: 0 0 5px 0 !important;
	width: 220px;
}
.wpsc_email_address input {
	padding: 4px;
	width: 200px;
}
table.wpsc_checkout_table {
	padding-top: 100px;
	width: 100%;
}
table.wpsc_checkout_table tr td {
	padding: 8px 0 !important;
}
table.wpsc_checkout_table td.wpsc_checkout_form_2,
table.wpsc_checkout_table td.wpsc_checkout_form_3,
table.wpsc_checkout_table td.wpsc_checkout_form_4,
table.wpsc_checkout_table td.wpsc_checkout_form_5,
table.wpsc_checkout_table td.wpsc_checkout_form_6,
table.wpsc_checkout_table td.wpsc_checkout_form_7,
table.wpsc_checkout_table td.wpsc_checkout_form_8,
table.wpsc_checkout_table td.wpsc_checkout_form_18,
table.wpsc_checkout_table td.wpsc_checkout_form_11,
table.wpsc_checkout_table td.wpsc_checkout_form_12,
table.wpsc_checkout_table td.wpsc_checkout_form_13,
table.wpsc_checkout_table td.wpsc_checkout_form_14,
table.wpsc_checkout_table td.wpsc_checkout_form_15,
table.wpsc_checkout_table td.wpsc_checkout_form_16,
table.wpsc_checkout_table td.wpsc_checkout_form_17,
table.wpsc_checkout_table td.wpsc_checkout_form_19 {
	text-align: right;
	width: 140px !important;
}
table.wpsc_checkout_table .total_price td.first {
	text-align: right;
	width: 600px !important;
}
#wpsc_shopping_cart_container table.table-4 {
	margin-left: 400px;
	width: 200px;
}
table.wpsc_checkout_table h4 {
	border-bottom: 1px solid #ddd;
	border-top: 1px solid #ddd;
	line-height: 28px;
	margin-bottom: 12px !important;
}
table.wpsc_checkout_table textarea {
	width: 300px;
}
#wpsc_shopping_cart_container .productcart {
	width: 100%;
}
#wpsc_shopping_cart_container .productcart tr,
#wpsc_shopping_cart_container .productcart td {
	border: none;
}
table.wpsc_checkout_table textarea {
	background: #fff;
	border: 2px inset;
	padding: 4px !important;
}
table.wpsc_checkout_table input {
	padding: 4px;
}
table.wpsc_checkout_table input {
	width: 300px !important;
}
.wpsc_totals {
	font-weight: bold;
}
.wpsc_totals span {
	font-weight: normal;
}

