/*-----------------------------------------------------------------------------

WPCandy.com Stream CSS
Version: 		1.0


COLORS:
-------
Darkest Gray: #333333
Dark Gray: #666666
Medium Gray: #999999
Light Gray: #cccccc
Blue: #25A8E0

 
CHANGELOG:
----------

4-23-2012
 - Updated with Skeleton grid CSS.
 - 

-----------------------------------------------------------------------------*/

/*-----------------------------------------------------------------------------
1.0 - Browser Defaults
-----------------------------------------------------------------------------*/

/* Resets all HTML5 tags */
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video { 
	margin: 0;
	padding: 0; 
	border: 0; 
	outline: 0; 
	font-size: 100%; 
	vertical-align: baseline; 
	background: transparent; 
}

/* Force a scrollbar regardless of content height */
html { 
	margin-top: 0 !important;
	overflow-y: scroll;
}

/* Using height: 100% on html and body allows to style containers with a 100% height */
html, 
body { 
	height: 100%; 
	margin: 0;
	padding: 0;
}

/* Default HTML block elements */
html, body, div, p,
address, blockquote,
ol, ul, dd, dl, dt, fieldset, form,
h1, h2, h3, h4, h5, h6,
pre, hr, menu { 
	display: block; 
}

/* Add support for HTML5 elements */
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary { 
	display: block;
}

/* Don't outline elements on focus */
:focus { 
	outline: none;
}

/* Responsive images, or as close as possible. */
.entry-content img,
.comment-content img,
.widget img {
	max-width: 100%; /* Fluid images for posts, comments, and widgets */
}

img[class*="align"],
img[class*="wp-image-"] {
	height: auto; /* Make sure images with WordPress-added height and width attributes are scaled correctly */
}

img.size-full {
	max-width: 100%;
	width: auto; /* Prevent stretching of full-size images with height and width attributes in IE8 */
}


/*-----------------------------------------------------------------------------
 Stream
-----------------------------------------------------------------------------*/

body {
	background: url('../images/bg2.gif') left top repeat;
	font-family: 'Helvetica Neue', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
}


/*-----------------------------------------------------------------------------
 Brand Navigation
-----------------------------------------------------------------------------*/

.brand-navigation {
	background: url('../images/blog/brandbar4.gif') left top repeat;
	border-bottom: 3px solid #333;
	font-size: 12px;
	font-weight: bold;
	height: 30px;
	padding: 5px 0 0 0;
	width: 100%;
}

.brand-navigation .wrap {
	margin: 0 auto;
	position: relative;
	width: 970px;
}

.menu-brand-navigation-container {
	margin: 0 auto;
	width: 485px;
}

.brand-navigation ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.brand-navigation li {
	float: left;
	line-height: 30px;
	margin: 0 25px 0 0;
}

.brand-navigation li.stream {
	margin-right: 0;
}

.brand-navigation li:hover {
	background: url('../images/blog/brandbar-hover4.gif') center bottom no-repeat;
}

.brand-navigation li.stream {
	background: url('../images/blog/brandbar-hover4.gif') center bottom no-repeat;
}

.brand-navigation a {
	color: #003366;
	display: block;
	padding: 0 0 0 25px;
	text-decoration: none;
	text-transform: uppercase;
}

.brand-navigation li.blog a, 
.brand-navigation li.quarterly a {
	padding-left: 30px;
}

.brand-navigation li.blog a {
	background: url('../images/blog/brandbar-icons2.png') left -107px no-repeat;
}

.brand-navigation li.quarterly a {
	background: url('../images/blog/brandbar-icons2.png') left -167px no-repeat;
}

.brand-navigation li.pros a {
	background: url('../images/blog/brandbar-icons2.png') left -51px no-repeat;
}

.brand-navigation li.stream a {
	background: url('../images/blog/brandbar-icons2.png') left 6px no-repeat;
}

.brand-navigation li.pros a {
	padding-left: 38px;
}

