/*-----------------------------------------------------------------------------

Howdy! This is the main WPCandy Labs CSS file. This is 
also the development version of the file, which 
you likely won't see unless you're looking for it.

Version: 		0.1
Last Updated: 	May 8, 2012

CHANGELOG:
----------

May 8, 2012
- Created CSS file.


TABLE OF CONTENTS:
------------------
(Needs to be recreated.)

-----------------------------------------------------------------------------*/


/*-----------------------------------------------------------------------------
1.0 - Defaults
-----------------------------------------------------------------------------*/

/* Resets all HTML5 tags */
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video { 
	margin: 0;
	padding: 0; 
	border: 0; 
	outline: 0; 
	font-size: 100%; 
	vertical-align: baseline; 
	background: transparent; 
}

/* Force a scrollbar regardless of content height */
html { 
	height: 100%;
	overflow-y: scroll;
}

/* Default HTML block elements */
html, body, div, p,
address, blockquote,
ol, ul, dd, dl, dt, fieldset, form,
h1, h2, h3, h4, h5, h6,
pre, hr, menu { 
	display: block; 
}

/* Add support for HTML5 elements */
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary { 
	display: block;
}

/* Don't outline elements on focus */
:focus { 
	outline: none;
}


/*-----------------------------------------------------------------------------
2.0 - Global Elements
-----------------------------------------------------------------------------*/

body {
	background: url('../images/bg2.gif') left top repeat #ccc; 
	color: #666;
	font-family: Georgia, "Bitstream Charter", serif;
	font-size: 14px;
	line-height: 22px;
	height: 100%;	
}

/* Prevents some browsers from inserting quotes on "q" and "p" ("p" in blockquotes) */
blockquote, q { 
	quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after { 
	content: '';
	content: none;
}

/* Set italics */
blockquote, q, em, cite, dfn, cite, var, address { 
	font-style: italic;
}

/* Set boldness */
th, strong, dt { 
	font-weight: bold;
}

sub, sup { 
	font-size: 8px;
}

mark { 
	background-color: #ff9; 
	color: #000; 
	font-style: italic; 
	font-weight: bold; 
}

ins { 
	background-color: #ff9; 
	color: #000; 
	text-decoration: none; 
}

del { 
	text-decoration: line-through; 
}

abbr[title], dfn[title] { 
	border-bottom: 1px dotted #000; 
	cursor: help; 
}

hr { 
	display: block; 
	height: 1px; 
	border: 0; 
	border-top: 1px solid #ccc; 
	margin: 16px 0; 
	padding: 0; 
}

h3 {
	font-size: 20px;
}

h4 { 
	font-size: 17px;
}

.entry-title {
	clear: both;
	display: block;
	font-size: 32px;
	line-height: 44px;
	margin-right: 25px;
}

.widget-title,
.comment-notes {
	font-size: 14px;
	line-height: 22px;
}
.widget-title a {
	text-decoration: none;
}

.entry-meta,
.entry-utility,
#sidebar,
#colophon,
#site-description,
#commentform,
.reply,
.comment-meta,
#cancel-comment-reply-link {
	font-size: 12px;
	line-height: 22px;
}

.comment-author-info cite {
	font-size: 16px;
}

#site-title {
	font-size: 30px;
}

/* Font styles */
h1, h2, h3, h4, h5, h6 {
	font-weight: bold;
	color: #000;
}

#site-title,
#site-navigation .nav-menu,
#site-topics,
.entry-title,
.entry-meta,
.entry-utility,
.widget-title,
.comment-form-author,
.comment-form-email,
.comment-form-url,
.comment-form-comment,
.form-allowed-tags,
input[type="submit"],
#reply-title,
#comments-title,
.comment-meta,
.reply,
#site-info,
#site-credits,
#content, 
aside,
input, 
textarea,
div#breadcrumbs {
	font-family: "Helvetica Neue", Arial, Helvetica, "Nimbus Sans L", sans-serif;
}

#site-credits,
#site-description {
	font-style: italic;
}

/* Monospaced fonts */	
pre {
	font-family: "Courier 10 Pitch", Courier, monospace;
}

code, tt, code, kbd, samp, var {
	font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
}

/* Verdical Rhythm */
#site-title,
#site-search,
#site-topics,
.page-title,
.entry-meta,
.entry-utility,
#sidebar section,
#reply-title,
.comment-meta,
.comment-list .comment,
.reply,
#comments-title,
#content h1,
#content h2,
#content h3,
#content h4,
#content h5,
#content h6,
p, pre, ol, ul, dl, dd {
	margin-bottom: 22px;
}

/*.comment-list, .children,
.comment-content,*/
.entry-content, .entry-summary,
.gallery .gallery-caption,
.gallery, .wp-caption,
img.alignleft,
img.alignright,
img.aligncenter {
	margin-top: 22px;
}

#respond {
	padding-top: 22px;
}

.entry-content ul, .entry-content ol,
.entry-summary ul, .entry-summary ol,
#sidebar ul, #sidebar ol {
	margin-left: 25px;
}

/* Links */
a:link {
/*	color: #0066cc;*/
	color: #25a8e0;
}

a:visited {
	color: #743399;
}

a:active,
a:hover {
/*	color: #ff4b33;*/
	color: #25a8e0;
}

#site-title, #site-title a, .entry-title a, .entry-title,
.page-title a {
	color: #000;
	font-weight: bold;
	text-decoration: none;
}

#site-title a:hover, .entry-title a:hover, .page-title a:hover {
/*	color: #ff4b33;*/
	color: #25a8e0;
}

.entry-meta, .entry-utility,
.entry-meta a, .entry-utility a {
	color: #888;
}

.simple-footnotes {
	display: none;
}

.single .simple-footnotes {
	display: block;
}

.entry-meta a:hover, .entry-utility a:hover {
/*	color: #ff4b33;*/
	color: #25a8e0;
}

.entry-content, .entry-summary {
	color: #444;
}

.reply a,
a.comment-edit-link,
.comment-meta a, .comment-meta a:visited {
	color: #888;
	text-decoration: none;
}

.reply a:hover,
a.comment-edit-link:hover,
.comment-meta a:hover {
	color: #ff4b33;
	text-decoration: underline;
}

#colophon a {
	color: #666;
	text-decoration: none;
}

#colophon a:hover {
	text-decoration: underline;
}

#site-info a {
	color: #000;
	text-decoration: none;
}

#site-info a:hover {
	color: #ff4b33;
	text-decoration: none;
}

ul {
	list-style: square;
}

ol {
	list-style: decimal;
}

ul ul,
ol ol,
ul ol,
ol ul {
	margin-bottom: 0;
}

dt {
	font-weight: bold;
}
	
pre {
	background: #f7f7f7;
	color: #222;
	line-height: 22px;
	padding: 22px;
}

blockquote {
	border-left: 6px solid #25A8E0;
	margin-bottom: 21px;
	margin-left: 19px;
	margin-right: 19px;
	padding-left: 19px;
}
	
blockquote.pullquote,	
blockquote.jump {
	border-left: none;
	float: right;
	font-family: Georgia, Garamond, serif;
	font-size: 28px;
	line-height: 42px;
	width: 300px;
}
	
.pullquote code,
.jump code {
	font-size: 22px;
}
	
hr {
	background: #eee;
	border: none;
	clear: both;
	height: 2px;
	margin: 0 0 25px 0;
}

.note {
	background: #eee;
	border: 1px solid #ddd;
	margin-bottom: 35px;
	padding: 15px 15px 0 15px;
}

p.note {	
	padding-bottom: 15px;
}

.note h4 {
	margin-bottom: 0 !important;
}

abbr {
	border-bottom: 1px dashed #ddd;
}

abbr:hover {
	cursor: help;
}

pre {
	background: #eee;
	border: 1px solid #ddd;
	display: block;
	padding: 15px;
	white-space: pre-wrap;
}

dl dt {
	font-weight: bold;
}
	
small {
	font-size: 11px;
}

.inset {
	border-top: 2px solid #eee;
	border-bottom: 2px solid #eee;
	float: right;
	font-size: 12px;
	margin: 0 0 12px 24px;
	padding: 18px 0 0 0;
	width: 220px;
}

.plain {
	border: none;
}

.inset h4 {
	font-size: 16px;
	margin-bottom: 0 !important;
}


/*-----------------------------------------------------------------------------
2.1 - Tables
-----------------------------------------------------------------------------*/

table { 
	border-collapse: collapse; 
	border-spacing: 0;
	font-size: 0.9em;
	margin-bottom: 25px;
}

table .column-1,
table .column-2,
table .column-3,
table .column-4,
table .column-5,
table .column-6,
table .column-7,
table .column-8,
table .column-9,
table .column-10,
table .column-11,
table .column-12,
table .column-13 {
	float: none;
	margin-right: 0;
	width: auto;
}

/* all th should be centered unless they are in tbody (table body) */
th { 
	text-align: left;
}

table td {
	border: 1px solid #eee;
	padding: 5px 10px;
}

table th {
	background: #dadada;
	padding: 5px 10px;
	text-align: left;
}

table#wp-table-reloaded-id-4-no-1 a {
	color: #111;
	text-decoration: none;
}

table#wp-table-reloaded-id-4-no-1 a:hover {
	text-decoration: underline;
}

table tr.odd {
	background: #fafafa;
}

table th a {
	color: #000 !important;
	text-decoration: none;
}


/*-----------------------------------------------------------------------------
2.2 - Forms
-----------------------------------------------------------------------------*/

button,
input,
select,
textarea {
	margin: 0;
	font-size: 100%;
	vertical-align: middle;
}

button,
input {
	font-size: 14px;
	*overflow: visible;
	line-height: normal;
	margin: 0 0 14px 0;
	padding: 6px;
}

.button {
	font-size: 21px;
}

input,
textarea {
	border-bottom: 1px solid #ddd;
	border-left: 1px solid #c3c3c3;
	border-right: 1px solid #c3c3c3;
	border-top: 1px solid #7c7c7c;
}

textarea {
	margin-bottom: 21px;
	padding: 6px;
	overflow: auto;
	vertical-align: top;
}

textarea.medium {
	width: 58%;
}

textarea.large {
	width: 97%;
}

textarea.small {
	width: 24%;
}

input.large,
#subForm input {
	width: 92%;
}

input.medium {
	width: 58%;
}

input.small {
	width: 24%;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
	padding: 0;
	border: 0;
}

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	cursor: pointer;
	-webkit-appearance: button;
	width: auto !important;
}

input[type="search"] {
	-webkit-appearance: textfield;
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button {
	-webkit-appearance: none;
}

.gform_wrapper ul {
	margin: 0 !important;
	padding: 0 !important;
}

.gform_wrapper .gfield {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

label {
	clear: both;
	display: block;
	font-weight: bold;
}

label .gfield_required {
	color: #f00;
}

button,
a.button,
input[type=submit],
input[type=button],
input[type=reset],
ul.button-nav li a,
div.generic-button a,
.comment-reply-link {
	background: #fff; /* Old browsers */
	background: -moz-linear-gradient(top, #ffffff 0%, #ededed 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#ededed)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #ffffff 0%,#ededed 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #ffffff 0%,#ededed 100%); /* Opera11.10+ */
	background: -ms-linear-gradient(top, #ffffff 0%,#ededed 100%); /* IE10+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed',GradientType=0 ); /* IE6-9 */
	background: linear-gradient(top, #ffffff 0%,#ededed 100%); /* W3C */
	border: 1px solid #ccc;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	color: #777;
	cursor: pointer;
	font: normal 14px/21px Arial, Tahoma, Verdana, sans-serif;
	outline: none;
	padding: 6px 14px;
	text-align: center;
	text-decoration: none;
	line-height: 14px;
}

button:hover,
a.button:hover,
a.button:focus,
input[type=submit]:hover,
input[type=button]:hover,
input[type=reset]:hover,
ul.button-nav li a:hover,
ul.button-nav li.current a,
div.generic-button a:hover,
.comment-reply-link:hover {
	background: #ededed;
	background: -moz-linear-gradient(top, #ffffff 0%, #e0e0e0 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#e0e0e0)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #ffffff 0%,#e0e0e0 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #ffffff 0%,#e0e0e0 100%); /* Opera11.10+ */
	background: -ms-linear-gradient(top, #ffffff 0%,#e0e0e0 100%); /* IE10+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e0e0e0',GradientType=0 ); /* IE6-9 */
	background: linear-gradient(top, #ffffff 0%,#e0e0e0 100%); /* W3C */
	border: 1px solid #bbb;
	color: #555;
	outline: none;
	text-decoration: none;
}

/* Complex fields (side by side, usually) */
.ginput_complex {
	float: left;
	margin-bottom: 21px;
	width: 100%;
}

.ginput_complex input {
	margin-bottom: 0;
	width: 97%;
}

.ginput_complex .ginput_left,
.ginput_complex .ginput_right {
	display: block;
	float: left;
	width: 45%;
}

.ginput_complex .ginput_right {
	float: right;
}

.ginput_complex span label {
	font-weight: normal;
	color: #999;
}

/* Checkbox and radio buttons */
.gform_wrapper .gfield_checkbox,
.gform_wrapper .gfield_radio {
	float: left;
	list-style-type: none;
	margin: 0 0 21px 0 !important;
	padding: 0;
	width: 60%;
}

ul.gfield_checkbox li,
.gfield_radio li {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

ul.gfield_checkbox input,
.gfield_radio input,
/* "Notify me" checkbox below comment form */
#respond input#subscribe,
input#subscribe_blog {
	clear: both;
	float: left;
	margin: 10px 5px 10px 0;
}

ul.gfield_checkbox label,
.gfield_radio label,
/* "Notifiy me" lable below comment fomr */
.subscribe-to-comments label,
.subscribe-label {
	clear: none;
	display: block;
	float: left;
	font-weight: normal;
	margin: 5px 5px 10px 0;
	width: 70%;
}

select {
	font-size: 12px;
	margin: 0 0 21px 0;
}

/* Sections */
.gsection {
	clear: both;
}

.gsection h2 {
	margin-bottom: 0 !important;
}

.gsection_description {
	margin-bottom: 21px;
}

.gform_footer {
	clear: both;
}

/* Join the community form */
#gform_14 .ginput_complex {
	width: 59%;
}

#recaptcha_table {
	border: none !important;
}

#field_14_5 {
	margin-bottom: 21px;
}

/* Add me to mailing list checkboxes */
#field_20_8,
#field_14_6,
#field_18_6,
#field_19_3,
#field_17_10 {
	margin-top: -10px;
}

#input_20_8,
#input_14_6,
#input_18_6,
#input_19_3,
#input_17_10 {
	width: 75%;
}

.gchoice_8_1 label,
.gchoice_6_1 label,
.gchoice_6_1 label,
.gchoice_3_1 label,
.gchoice_10_1 label {
	color: #666;
	font-size: 12px;
}

/* Join the mailing list form */
#sidebar #gform_wrapper_1 .ginput_complex {
	margin-bottom: 10px;
}

/* Site Search */	
#search-text {
	float: left;
	margin-right: 5%;
	width: 58%;
}

.search-submit {
	float: left;
}

section.search {
	padding-top: 20px;
}

/* Subscribe to Comments forms */
p.subscribe-to-comments,
p.comment-subscription-form {
	background: #f8f8f8;
	border: 1px solid #eee;
	clear: both;
	color: #888;
	float: left;
	margin-bottom: 15px;
	padding: 12px;
	width: 95%;
}

p.subscribe-to-comments {
	border-bottom: 0;
	margin-bottom: 0;
	padding-bottom: 0;
}

p.comment-subscription-form {
	border-top: 0;
	padding-top: 0;
}

p.subscribe-to-comments input,
p.subscribe-to-comments label,
p.comment-subscription-form input,
p.comment-subscription-form label {
	margin-bottom: 0;
}


/*-----------------------------------------------------------------------------
2.3 - Default WordPress CSS
-----------------------------------------------------------------------------*/

.aligncenter, 
div.aligncenter {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.alignleft {
	float: left;
}

.alignright {
	float: right;
}

.alignleft {
	margin: 0 15px 15px 0;
}

.alignright {
	margin: 0 0 15px 35px;
}

.wp-caption {
	background-color: #f3f3f3;
	border: 1px solid #ddd;
	padding-top: 4px;
	text-align: center;
}

.wp-caption img {
	border: 0 none;
	margin: 0;
	padding: 0;
}
	
.wp-caption p.wp-caption-text {
	font-size: 11px;
	line-height: 17px;
	margin: 0;
	padding: 0 4px 5px;
}

.wp-caption {
	background: none;
	border: none;
	margin-bottom: 15px;
	padding: 0;
}
.wp-caption p.wp-caption-text {
	color: #333;
	font-size: 11px;
	line-height: 18px;
	padding: 3px 0 3px 0;
	text-align: left;
}
	
	
/*-----------------------------------------------------------------------------
3.0 - Header
-----------------------------------------------------------------------------*/

.wrap { 
	display: block;
	margin: 0 auto;
}

/* Brand Bar */	
#site-topics {
	background: url('../images/brandbar4.gif') left top repeat;
	border-bottom: 3px solid #333;
	height: 30px;
	margin-right: 0;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
}

#site-topics .wrap {
	width: 570px;
}

#site-topics li {
	float: left;
	font-size: 12px;
	line-height: 30px;
	margin: 0 50px 0 0;
	text-transform: uppercase;
	font-weight: bold;
}

#site-topics li:hover {
	background: url('../images/brandbar-hover4.gif') center bottom no-repeat;
}

#site-topics li.last {
	margin-right: 0;
}

#site-topics a {
	color: #003366;
	display: block;
	text-decoration: none;
	padding: 0 0 0 25px;
}

#site-topics li.stream a {
	background: url('../images/brandbar-icons2.png') left 6px no-repeat;
}

#site-topics li.stream a:hover {
	background: url('../images/brandbar-icons2.png') left -22px no-repeat;
}

#site-topics li.pros a {
	background: url('../images/brandbar-icons2.png') left -51px no-repeat;
	padding-left: 38px;
}

#site-topics li.pros a:hover {
	background: url('../images/brandbar-icons2.png') left -79px no-repeat;
}

#site-topics li.blog a {
	background: url('../images/brandbar-icons2.png') left -107px no-repeat;
	padding-left: 30px;
}

#site-topics li.blog a:hover {
	background: url('../images/brandbar-icons2.png') left -137px no-repeat;
}

#site-topics li.blog {
	background: url('../images/brandbar-hover4.gif') center bottom no-repeat;
}

#site-topics li.quarterly a {
	background: url('../images/brandbar-icons2.png') left -167px no-repeat;
	padding-left: 30px;
}

#site-topics li.quarterly a:hover {
	background: url('../images/brandbar-icons2.png') left -198px no-repeat;
}

#site-topics a:hover {
	color: #fff;
}


/*-----------------------------------------------------------------------------
5.0 - Site Navigation
-----------------------------------------------------------------------------*/

ul { 
	list-style: disc;
}

ol { 
	list-style: decimal;
}

/* Removes the bullets in nav menus */
nav ul { 
	list-style: none;
}


/*-----------------------------------------------------------------------------
7.6 - Images
-----------------------------------------------------------------------------*/

/* Remove annoying border on linked images. */
a img { 
	border: none; 
}

/*
Resize images to fit the main content area.
- Applies only to images uploaded via WordPress by targeting size-* classes.
- Other images will be left alone. Use "size-auto" class to apply to other images.
*/
img.size-auto,
img.size-full,
img.size-large,
img.size-medium,
.attachment img {
	max-width: 100%; /* When images are too wide for containing element, force them to fit. */
	height: auto; /* Override height to match resized width for correct aspect ratio. */
}

.alignleft,
img.alignleft {
	display: inline;
	float: left;
	margin-right: 24px;
	margin-top: 4px;
}

.alignright,
img.alignright {
	display: inline;
	float: right;
	margin-left: 24px;
	margin-top: 4px;
}

.aligncenter,
img.aligncenter {
	clear: both;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

img.alignleft,
img.alignright,
img.aligncenter {
	margin-bottom: 12px;
}

.wp-caption {
	background: #f1f1f1;
	max-width: 632px !important; /* prevent too-wide images from breaking layout */
	padding: 4px;
	text-align: center;
}

.wp-caption img {
	margin: 5px 5px 0;
}

.wp-caption p.wp-caption-text {
	color: #888;
	font-size: 12px;
	margin: 5px;
}

.wp-smiley {
	margin: 0;
}

.gallery {
	margin: 0 auto;
}

.gallery .gallery-item {
	float: left;
	margin-top: 0;
	text-align: center;
}

.gallery .gallery-caption {
	color: #888;
	font-size: 12px;
}

.gallery dl {
	margin: 0;
}

.gallery br+br {
	display: none;
}
	
#content .attachment img {/* single attachment images should be centered */
	display: block;
	margin: 0 auto;
}
	
/* Clearfix the menu */
#site-navigation .nav-menu:after { 
	content: "."; 
	display: block; 
	height: 0; 
	clear: both; 
	visibility: hidden;
}

#site-navigation .nav-menu { 
	display: block;
}

/* Galleries */
div.gallery {
	background: #eee;
	height: 125px;
	margin-bottom: 25px !important;
	overflow: hidden;
}

div.gallery dl {
	margin-bottom: 0;
	padding: 10px;
}

div.gallery dl dt {
	margin-right: 0;
}

div.gallery img {
	height: 100px;
	width: 100px;
}


/*-----------------------------------------------------------------------------
29.0 - Misc
-----------------------------------------------------------------------------*/

/* Caption is impossible to style correctly across browsers so let's remove it. */
caption { 
	position: absolute; 
	left: -9999em; 
}

/* Clearing floats without extra markup */
/* Based on How To Clear Floats Without Structural Markup by PiE */
/* [http://www.positioniseverything.net/easyclearing.html] */
.clearfix:after { 
	content: "."; 
	display: block; 
	height: 0; 
	clear: both; 
	visibility: hidden;
}

.clearfix { 
	display: block;
}

/* Regular clearing, just in case! */
.clear { 
	clear: both;
}

/* Clearing the .wrap */
.wrap:after { 
	content: "."; 
	display: block; 
	height: 0; 
	clear: both; 
	visibility: hidden;
}

/* Pressed Ads */
#text-24 a {
	color: #333;
	display: block;
	font-weight: normal;
	text-decoration: none;
}

.pa-image {
	margin-bottom: 5px;
	margin-right: 15px;
	padding: 2px;
}

.pa-copy,
.pa-id {
	float: left;
	font-size: 12px;
	line-height: 18px;
}

.pa-id {
	font-size: 8px;
	text-transform: uppercase;
}

/* Special Forms stuff */

.charleft {
	color: #666;
	font-size: 10px;
	margin: -15px 0 21px 0;
}

.gform_wrapper .gfield_checkbox {
	width: 80%;
}

#input_21_3 {
	margin-bottom: 10px !important;
}

code {
	background-color: #f8f8ff;
	border: 1px solid #DDD;
	color: #222;
	display: block;
	margin: 0 0 21px 0;
	padding: 15px;
}

code.para {
	display: inline;
	border: none;
	padding: 0;
}

li.minor-checkbox {
	margin-top: -13px !important;
}

.validation_error,
.validation_message {
	border: 1px solid #000;
	background: #f00;
	color: #fff;
	clear: both;
	font-weight: bold;
	padding: 10px;
	margin: 0 0 21px 0;
}


/*-----------------------------------------------------------------------------
 x.0 - KILL KILL KILL 
-----------------------------------------------------------------------------*/

#global-login,
#site-navigation,
#sidebar section,
#footer-widgets,
#site-info {
	display: none;
}

#sidebar #text-24 {
	display: block;
}


/*-----------------------------------------------------------------------------
 x.0 - Labs Specific 
-----------------------------------------------------------------------------*/

#main,
#bottom,
#breadcrumbs {
	margin: 0 auto;
	position: relative;
	width: 700px;
}

.entry-content {
	border: 1px solid #ccc;
	margin-bottom: 25px;
	padding: 25px;
	width: 470px;
	/* Background gradient */
	background: #eeeeee; /* Old browsers */
	background: -moz-linear-gradient(top, #eeeeee 0%, #ffffff 24%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#eeeeee), color-stop(24%,#ffffff)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #eeeeee 0%,#ffffff 24%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #eeeeee 0%,#ffffff 24%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #eeeeee 0%,#ffffff 24%); /* IE10+ */
	background: linear-gradient(top, #eeeeee 0%,#ffffff 24%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
}

#text-24 {
	position: absolute;
	right: 0;
	top: 110px;
	width: 150px;
}

.entry-title,
#breadcrumbs div {
	margin-left: 120px;
	width: 450px;
}

#breadcrumbs div {
	font-size: 11px;
	margin-top: 13px;
}

#breadcrumbs p {
	color: #666;
	margin: 0;
}

#breadcrumbs a {
	color: #666;
}

#breadcrumbs strong {
	font-weight: normal;
}

/* Plugin Header image */
#header-image {
	left: 0;
	position: absolute;
	top: -18px;
}

#header-image img {
	border: 1px solid #ccc;
	-webkit-box-shadow: 0px 0px 4px rgba(50, 50, 50, 0.75);
	-moz-box-shadow:    0px 0px 4px rgba(50, 50, 50, 0.75);
	box-shadow:         0px 0px 4px rgba(50, 50, 50, 0.75);
	height: 100px;
	width: 100px;
}


/*-----------------------------------------------------------------------------
 x.0 - Comparison Tables
-----------------------------------------------------------------------------*/

body.comparison-table #main,
body.comparison-table #bottom,
body.comparison-table #breadcrumbs {
	width: 1150px;
}

body.comparison-table .entry-content {
	padding: 0;
	width: 100%;
}

body.comparison-table .entry-content table {
	margin: 15px;
}

body.comparison-table #text-24 {
	right: 0;
	top: -20px;
	width: 320px;
}

body.comparison-table #text-24 .pa-image {
	float: left;
}

body.comparison-table #text-24 p {
	margin: 0 0 10px 0;
	padding: 0;
}

body.comparison-table #text-24 .pa-copy,
body.comparison-table #text-24 .pa-id {
	clear: right;
	float: right;
	width: 160px;
}

body.comparison-table .entry-title,
body.comparison-table #breadcrumbs div {
	margin-left: 0;
	width: 600px;
}

body.comparison-table table th {
	font-size: 13px;
}

