/*-----------------------------------------------------------------------------

WPCandy.com Core CSS
Version: 		0.1

TABLE OF CONTENTS:
------------------

 1.0 - Browser Defaults
 2.0 - Skeleton Grid
 3.0 - Typography and Forms
 4.0 - Header
 5.0 - Content
 x.0 - Admin Bar and BuddyPress
 x.0 - Tablet (Portrait)
 x.0 - Mobile (Portrait)
 x.0 - Mobile (Landscape)
 x.0 - Clearing
 
 
COLORS:
-------

Darkest Gray: #333333
Dark Gray: #666666
Medium Gray: #999999
Light Gray: #cccccc
Blue: #25A8E0

 
CHANGELOG:
----------

4-23-2012
 - Updated with Skeleton grid CSS.
 - 

-----------------------------------------------------------------------------*/

/*-----------------------------------------------------------------------------
1.0 - Browser Defaults
-----------------------------------------------------------------------------*/

/* Resets all HTML5 tags */
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video { 
	margin: 0;
	padding: 0; 
	border: 0; 
	outline: 0; 
	font-size: 100%; 
	vertical-align: baseline; 
	background: transparent; 
}

/* Force a scrollbar regardless of content height */
html { 
	margin-top: 0 !important;
	overflow-y: scroll;
}

/* Using height: 100% on html and body allows to style containers with a 100% height */
html, 
body { 
	height: 100%; 
	margin: 0;
	padding: 0;
}

/* Default HTML block elements */
html, body, div, p,
address, blockquote,
ol, ul, dd, dl, dt, fieldset, form,
h1, h2, h3, h4, h5, h6,
pre, hr, menu { 
	display: block; 
}

/* Add support for HTML5 elements */
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary { 
	display: block;
}

/* Don't outline elements on focus */
:focus { 
	outline: none;
}

/* Responsive images, or as close as possible. */
.entry-content img,
.comment-content img,
.widget img {
	max-width: 100%; /* Fluid images for posts, comments, and widgets */
}

img[class*="align"],
img[class*="wp-image-"] {
	height: auto; /* Make sure images with WordPress-added height and width attributes are scaled correctly */
}

img.size-full {
	max-width: 100%;
	width: auto; /* Prevent stretching of full-size images with height and width attributes in IE8 */
}


/*-----------------------------------------------------------------------------
2.0 - Skeleton Grid (1.1, Copyright 2011 Dave Gamache getskeleton.com)
-----------------------------------------------------------------------------*/

/* #Base 960 Grid  */
div.wrap { 
	position: relative; 
	width: 960px; 
	margin: 0 auto; 
	padding: 0; 
}

div.wrap .column,
div.wrap .columns { float: left; display: inline; margin-left: 10px; margin-right: 10px; }

.row { margin-bottom: 20px; }

/* Nested Column Classes */
.column.alpha, .columns.alpha { margin-left: 0; }
.column.omega, .columns.omega { margin-right: 0; }

/* Base Grid */
div.wrap .one.column,
div.wrap .one.columns { width: 40px;  }
div.wrap .two.columns { width: 100px; }
div.wrap .three.columns { width: 160px; }
div.wrap .four.columns { width: 220px; }
div.wrap .five.columns { width: 280px; }
div.wrap .six.columns { width: 340px; }
div.wrap .seven.columns { width: 400px; }
div.wrap .eight.columns { width: 460px; }
div.wrap .nine.columns { width: 520px; }
div.wrap .ten.columns { width: 580px; }
div.wrap .eleven.columns { width: 640px; }
div.wrap .twelve.columns { width: 700px; }
div.wrap .thirteen.columns { width: 760px; }
div.wrap .fourteen.columns { width: 820px; }
div.wrap .fifteen.columns { width: 880px; }
div.wrap .sixteen.columns { width: 940px; }

div.wrap .one-third.column { width: 300px; }
div.wrap .two-thirds.column { width: 620px; }

/* Offsets */
div.wrap .offset-by-one { padding-left: 60px;  }
div.wrap .offset-by-two { padding-left: 120px; }
div.wrap .offset-by-three { padding-left: 180px; }
div.wrap .offset-by-four { padding-left: 240px; }
div.wrap .offset-by-five { padding-left: 300px; }
div.wrap .offset-by-six { padding-left: 360px; }
div.wrap .offset-by-seven { padding-left: 420px; }
div.wrap .offset-by-eight { padding-left: 480px; }
div.wrap .offset-by-nine { padding-left: 540px; }
div.wrap .offset-by-ten { padding-left: 600px; }
div.wrap .offset-by-eleven { padding-left: 660px; }
div.wrap .offset-by-twelve { padding-left: 720px; }
div.wrap .offset-by-thirteen { padding-left: 780px; }
div.wrap .offset-by-fourteen { padding-left: 840px; }
div.wrap .offset-by-fifteen { padding-left: 900px; }


/*-----------------------------------------------------------------------------
3.0 - Typography and Forms
-----------------------------------------------------------------------------*/

audio,
canvas,
video {
	display: inline-block;
	*display: inline;
	*zoom: 1;
}

audio:not([controls]) {
	display: none;
}

html {
	font-size: 100%;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}

a:focus {
	outline: thin dotted #333;
	outline: 5px auto -webkit-focus-ring-color;
	outline-offset: -2px;
}

a:hover,
a:active {
	outline: 0;
}

sub,
sup {
	position: relative;
	font-size: 75%;
	line-height: 0;
	vertical-align: baseline;
}

sup {
	top: -0.5em;
}

sub {
	bottom: -0.25em;
}

img {
	height: auto;
	border: 0;
	-ms-interpolation-mode: bicubic;
	vertical-align: middle;
}

button,
input,
select,
textarea {
	margin: 0;
	font-size: 100%;
	vertical-align: middle;
}

button,
input {
	*overflow: visible;
	line-height: normal;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
	padding: 0;
	border: 0;
}

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	cursor: pointer;
	-webkit-appearance: button;
}

input[type="search"] {
	-webkit-appearance: textfield;
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button {
	-webkit-appearance: none;
}

textarea {
	overflow: auto;
	vertical-align: top;
}

body {
	background: url('../images/bg2.gif') left top repeat;
	margin: 0;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 13px;
	line-height: 18px;
	color: #333333;
	background-color: #ffffff;
}

a {
	color: #0088cc;
	text-decoration: none;
}

a:hover {
	color: #005580;
	text-decoration: underline;
}

p {
	margin: 0 0 13px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 13px;
	line-height: 18px;
}

p small {
	font-size: 11px;
	color: #999999;
}

.lead {
	margin-bottom: 18px;
	font-size: 20px;
	font-weight: 200;
	line-height: 27px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	font-family: inherit;
	font-weight: bold;
	color: inherit;
	text-rendering: optimizelegibility;
}

h1 small,
h2 small,
h3 small,
h4 small,
h5 small,
h6 small {
	font-weight: normal;
	color: #999999;
}

h1 {
	font-size: 30px;
	line-height: 36px;
}

h1 small {
	font-size: 18px;
}

h2 {
	font-size: 24px;
	line-height: 36px;
}

h2 small {
	font-size: 18px;
}

h3 {
	line-height: 27px;
	font-size: 18px;
}

h3 small {
	font-size: 14px;
}

h4,
h5,
h6 {
	line-height: 18px;
}

h4 {
	font-size: 14px;
}

h4 small {
	font-size: 12px;
}

h5 {
	font-size: 12px;
}

h6 {
	font-size: 11px;
	color: #999999;
	text-transform: uppercase;
}

ul,
ol {
	padding: 0;
	margin: 0 0 9px 25px;
}

ul ul,
ul ol,
ol ol,
ol ul {
	margin-bottom: 0;
}

#site-topics ul,
ul#menu-content-navigation {
	list-style-type: none;
	margin: 0;
}

ul {
	list-style: disc;
}

ol {
	list-style: decimal;
}

li {
	line-height: 18px;
}

ul.unstyled,
ol.unstyled {
	margin-left: 0;
	list-style: none;
}

dl {
	margin-bottom: 18px;
}

dt,
dd {
	line-height: 18px;
}

dt {
	font-weight: bold;
	line-height: 17px;
}

dd {
	margin-left: 9px;
}

hr {
	margin: 18px 0;
	border: 0;
	border-top: 1px solid #eeeeee;
	border-bottom: 1px solid #ffffff;
}

strong {
	font-weight: bold;
}

em {
	font-style: italic;
}

blockquote {
	padding: 0 0 0 15px;
	margin: 0 0 18px;
	border-left: 5px solid #eeeeee;
}

blockquote p {
	margin-bottom: 0;
	font-size: 16px;
	font-weight: 300;
	line-height: 22.5px;
}

blockquote small {
	display: block;
	line-height: 18px;
	color: #999999;
}

blockquote small:before {
	content: '\2014 \00A0';
}

blockquote.pull-right {
	float: right;
	padding-left: 0;
	padding-right: 15px;
	border-left: 0;
	border-right: 5px solid #eeeeee;
}

blockquote.pull-right p,
blockquote.pull-right small {
	text-align: right;
}

q:before,
q:after,
blockquote:before,
blockquote:after {
	content: "";
}

address {
	display: block;
	margin-bottom: 18px;
	line-height: 18px;
	font-style: normal;
}

small {
	font-size: 100%;
}

cite {
	font-style: normal;
}

code,
pre {
	padding: 0 3px 2px;
	font-family: Menlo, Monaco, "Courier New", monospace;
	font-size: 12px;
	color: #333333;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

code {
	padding: 2px 4px;
	color: #d14;
	background-color: #f7f7f9;
	border: 1px solid #e1e1e8;
}

pre {
	display: block;
	padding: 8.5px;
	margin: 0 0 9px;
	font-size: 12.025px;
	line-height: 18px;
	background-color: #f5f5f5;
	border: 1px solid #ccc;
	border: 1px solid rgba(0, 0, 0, 0.15);
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	white-space: pre;
	white-space: pre-wrap;
	word-break: break-all;
	word-wrap: break-word;
}

pre.prettyprint {
	margin-bottom: 18px;
}

pre code {
	padding: 0;
	color: inherit;
	background-color: transparent;
	border: 0;
}

.pre-scrollable {
	max-height: 340px;
	overflow-y: scroll;
}

form {
	margin: 0 0 18px;
}

fieldset {
	padding: 0;
	margin: 0;
	border: 0;
}

legend {
	display: block;
	width: 100%;
	padding: 0;
	margin-bottom: 27px;
	font-size: 19.5px;
	line-height: 36px;
	color: #333333;
	border: 0;
	border-bottom: 1px solid #eee;
}

legend small {
	font-size: 13.5px;
	color: #999999;
}

label,
input,
button,
select,
textarea {
	font-size: 13px;
	font-weight: normal;
	line-height: 18px;
}

input,
button,
select,
textarea {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

label {
	display: block;
	margin-bottom: 5px;
	color: #333333;
}

input,
textarea,
select,
.uneditable-input {
	display: inline-block;
	width: 210px;
	height: 18px;
	padding: 4px;
	margin-bottom: 9px;
	font-size: 13px;
	line-height: 18px;
	color: #555555;
	border: 1px solid #cccccc;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

.uneditable-textarea {
	width: auto;
	height: auto;
}

label input,
label textarea,
label select {
	display: block;
}

input[type="image"],
input[type="checkbox"],
input[type="radio"] {
	width: auto;
	height: auto;
	padding: 0;
	margin: 3px 0;
	*margin-top: 0;
	/* IE7 */

	line-height: normal;
	cursor: pointer;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	border: 0 \9;
	/* IE9 and down */

}

input[type="image"] {
	border: 0;
}

input[type="file"] {
	width: auto;
	padding: initial;
	line-height: initial;
	border: initial;
	background-color: #ffffff;
	background-color: initial;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}

input[type="button"],
input[type="reset"],
input[type="submit"] {
	width: auto;
	height: auto;
}

select,
input[type="file"] {
	height: 28px;
	/* In IE7, the height of the select element cannot be changed by height, only font-size */

	*margin-top: 4px;
	/* For IE7, add top margin to align select with labels */

	line-height: 28px;
}

input[type="file"] {
	line-height: 18px \9;
}

select {
	width: 220px;
	background-color: #ffffff;
}

select[multiple],
select[size] {
	height: auto;
}

input[type="image"] {
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}

textarea {
	height: auto;
}

input[type="hidden"] {
	display: none;
}

input,
textarea {
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	-webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
	-moz-transition: border linear 0.2s, box-shadow linear 0.2s;
	-ms-transition: border linear 0.2s, box-shadow linear 0.2s;
	-o-transition: border linear 0.2s, box-shadow linear 0.2s;
	transition: border linear 0.2s, box-shadow linear 0.2s;
}

input:focus,
textarea:focus {
	border-color: rgba(82, 168, 236, 0.8);
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
	-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
	outline: 0;
	outline: thin dotted \9;
	/* IE6-9 */
}

input[type="file"]:focus,
input[type="radio"]:focus,
input[type="checkbox"]:focus,
select:focus {
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	outline: thin dotted #333;
	outline: 5px auto -webkit-focus-ring-color;
	outline-offset: -2px;
}


/*-----------------------------------------------------------------------------
4.0 - Header
-----------------------------------------------------------------------------*/

#container,
#branding {
	width: 100%;
}

#site-title,
#global-login,
#site-navigation {
	margin: 0 auto;
	width: 960px;
}

#global-login {
	display: none;
}

#site-title {
	margin-bottom: 15px;
	padding-top: 50px;
}

#site-title a {
	background: url('../images/wpcandy-sprite.png') left top no-repeat;
	display: block;
	height: 117px;
	text-indent: -999em;
	width: 231px;
}

/* Brand Bar */
#site-topics {
	background: url('../images/brandbar2.gif') left top repeat #333;
	border-bottom: 1px solid #333333;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
}

#site-topics ul {
	margin: 0 auto;
	width: 960px;
}
	
#site-topics li {
	float: left;
}
	
#site-topics a {
	color: #999;
	display: block;
	margin: 0 12px 0 0;
	padding: 10px 0;
}
	
#menu-item-37478 a {
	color: #cccccc;
}


/*-----------------------------------------------------------------------------
5.0 - Content
-----------------------------------------------------------------------------*/

/* Primary Site Navigation */
#site-navigation {
	position: relative;
}

#site-navigation .nav-menu {
	left: 250px;
	position: absolute;
	top: -80px;
	width: 700px;
}

#site-navigation .nav-menu ul {
	margin: 0;
	padding: 0;
}

#site-navigation .nav-menu li {
	background: url('../images/slash.png') right 2px no-repeat;
	float: left;
	font-size: 16px;
	list-style-type: none;
	margin: 0 10px 0 0;
	padding: 0 15px 0 0;
}

#site-navigation li#menu-item-37482 {
	background: none;
	margin: 0;
	padding: 0;
}

#site-navigation .nav-menu a {
	color: #333;
}

#site-navigation .nav-menu a:hover {
	color: #25A8E0;
	text-decoration: none;
}

#site-navigation li.twitter,
#site-navigation li.facebook,
#site-navigation li.rss {
	background: none;
	float: right !important;
	margin-left: 5px;
	margin-right: 0;
	padding: 0;
}

#site-navigation li.twitter {
	position: absolute;
	right: 60px;
	top: 88px;
}

#site-navigation li.facebook {
	position: absolute;
	right: 30px;
	top: 88px;
}

#site-navigation li.rss {
	position: absolute;
	right: 0;
	top: 88px;
}
	
#site-navigation li.twitter a,
#site-navigation li.facebook a,
#site-navigation li.rss a {
	display: block;
	height: 16px;
	margin-top: 5px;
	padding: 0;
	text-indent: -999em;
	width: 16px;
}
	
#site-navigation li.twitter a,
#site-navigation li.twitter a:hover {
	background: url('../images/wpcandy-sprite.png') -311px -36px no-repeat;
}
	
#site-navigation li.facebook a,
#site-navigation li.facebook a:hover {
	background: url('../images/wpcandy-sprite.png') -327px -36px no-repeat;
}
	
#site-navigation li.rss a,
#site-navigation li.rss a:hover {
	background: url('../images/wpcandy-sprite.png') -343px -36px no-repeat;
}

/* Breadcrumbs */
#breadcrumbs {
	background: #cccccc;
	border-top-right-radius: 6px;
	border-top-left-radius: 6px;
	border: 1px solid #ccc;
	border-bottom: none;
	margin: 0 auto;
	width: 960px;
}

#breadcrumbs-wrap {
	padding: 10px;
}

#breadcrumbs p {
	margin: 0;
}

#main {
	clear: both;
}

#main .wrap {
	background: #fff;
	border: 1px solid #ccc;
}

#content {
	margin-left: 15px;
	margin-top: 5px;
	width: 600px;
}

article header .main {
	float: left;
	width: 500px;
}

.post {
	clear: both;
	float: left;
	margin-bottom: 20px;
	position: relative;
}

.simple-footnotes {
	display: none;
}

.single .simple-footnotes {
	display: block;
}
	
div.entry-meta p.count {
	font-size: 18px;
	position: absolute;
	right: 0;
	top: 13px;
}

div.entry-meta p.count span.emInfo {
	display: none;
}

div.entry-meta {
	color: #999999;
}

div.entry-meta a {
	color: #999999;
}
	
div.entry-meta p.count a {
	background: #7d7d7d;
	color: #fff;
	padding: 3px 6px;
	text-decoration: none;
}

div.entry-meta p.count a:hover {
	background: #000;
	text-decoration: none;
}

a.more-link,
a.button,
#bbp_topic_submit,
#bbp_reply_submit {
	background: #25a8e0;
	border-right: 1px solid #1e86b3;
	border-top: 1px solid #1e86b3;
	clear: both;
	color: #fff;
	display: block;
	float: left;
	margin: 0 15px 14px 0;
	padding: 4px 6px;
	text-decoration: none;
}

#bbp_topic_submit,
#bbp_reply_submit {
	border-left: none;
	border-bottom: none;
	font-size: 12px;
	padding: 5px 10px;
}

a.more-link:hover,
a.button:hover,
#bbp_topic_submit:hover {
	background: #333;
	border-top: 1px solid #000;
	border-right: 1px solid #000;
}
	
a.button {
	margin-bottom: 11px;
}

#sidebar {
	margin-top: 15px;
	width: 300px;
}

.widget-container {
	clear: both;
}

/* Pressed Ads */
#text-24 {
	height: 130px;
}

#text-24 a {
	display: block;
	font-weight: normal;
	text-decoration: none;
	width: 300px;
}

.pa-image {
	float: left;
	margin-bottom: 5px;
	margin-right: 15px;
	padding: 2px;
}

.pa-copy,
.pa-id {
	float: left;
	font-size: 12px;
	line-height: 18px;
	width: 150px;
}

.pa-id {
	font-size: 8px;
	text-transform: uppercase;
}

/* Calendar widget */
#sidebar .calendar {
	padding-top: 24px;
	padding-bottom: 18px;
}

#sidebar .calendar .widget-in {
	width: 300px;
}

#sidebar .calendar table {
	margin-bottom: 0;
	width: 310px;
}

div#sidebar #wp-calendar {
	margin-left: 0;
}

#sidebar .calendar table th {
	background: #333;
	color: #fff;
	text-transform: uppercase;
}

#sidebar .calendar table td {
	/* border: none; */
	background: #efefef;
	height: 30px;
	padding: 0;
	text-align: center;
	vertical-align: middle;
}

#sidebar .calendar table td.pad,
#sidebar .calendar tfoot td {
	background: #fff;
}

#sidebar .calendar table td a {
	background: #25A8E0;
	display: block;
	color: #fff !important;
	padding-top: 5px;
	padding-bottom: 5px;
	text-decoration: none;
	width: 100%;
}

#sidebar .calendar table td a:hover {
	background: #333;
}

#sidebar .calendar table thead {

}

#sidebar .calendar table tfoot td {
	border: none;
	padding-top: 10px;
}

#sidebar .calendar table tfoot td#prev {
	text-align: left;
}

#sidebar .calendar table tfoot td a {
	background: #fff;
	color: #333 !important;
	font-weight: bold;
	text-decoration: none;
	text-transform: uppercase;
}

#sidebar .calendar table tfoot td a:hover {
	background: #fff;
	color: #333 !important;
}

#featured {
	display: none;
}

/* Post Categories */
div.content-cats {
	float: left;
	font-size: 9px;
	margin-bottom: 0;
	margin-right: 12px;
	margin-top: 7px;
	text-align: center;
	text-transform: uppercase;
	width: 48px;
}

div.content-cats ul {
	margin: 0;
	padding: 0;
}
	
div.content-cats li {
	list-style-type: none;
	margin-bottom: 1px;
}
	
div.content-cats li a {
	background-color: #262626;
	color: #fff;
	display: block;
	padding-top: 44px;
	text-decoration: none;
}
	
div.content-cats li.announcements a {
	background: #262626 url('../images/wpcandy-sprite.png') -1px -302px no-repeat;
}
	
div.content-cats li.photos {
	background: #262626 url('../images/wpcandy-sprite.png') -817px -302px no-repeat;
	color: #fff;
	padding-top: 44px;
}
	
div.content-cats li.news a {
	background: #262626 url('../images/wpcandy-sprite.png') -49px -302px no-repeat;
}

div.content-cats li.tutorials a {
	background: #262626 url('../images/wpcandy-sprite.png') -97px -302px no-repeat;
}
	
div.content-cats li.interviews a {
	background: #262626 url('../images/wpcandy-sprite.png') -145px -302px no-repeat;
}
	
div.content-cats li.opinion a {
	background: #262626 url('../images/wpcandy-sprite.png') -193px -302px no-repeat;
}
	
div.content-cats li.reviews a {
	background: #262626 url('../images/wpcandy-sprite.png') -241px -302px no-repeat;
}
	
div.content-cats li.podcasts a {
	background: #262626 url('../images/wpcandy-sprite.png') -289px -302px no-repeat;
}
	
div.content-cats li.features a {
	background: #262626 url('../images/wpcandy-sprite.png') -337px -302px no-repeat;
}
	
div.content-cats li.links a {
	background: #262626 url('../images/wpcandy-sprite.png') -385px -302px no-repeat;
}
	
div.content-cats li.giveaways a {
	background: #262626 url('../images/wpcandy-sprite.png') -433px -302px no-repeat;
}
	
div.content-cats li.downloads a {
	background: #262626 url('../images/wpcandy-sprite.png') -481px -302px no-repeat;
}
	
div.content-cats li.videos a {
	background: #262626 url('../images/wpcandy-sprite.png') -529px -302px no-repeat;
}
	
div.content-cats li.sites a {
	background: #262626 url('../images/wpcandy-sprite.png') -577px -302px no-repeat;
}
	
div.content-cats li.bestof a {
	background: #262626 url('../images/wpcandy-sprite.png') -625px -302px no-repeat;
}
	
div.content-cats li.preview a {
	background: #262626 url('../images/wpcandy-sprite.png') -669px -302px no-repeat;
}
	
div.content-cats li.liveblogged a {
	background: #262626 url('../images/wpcandy-sprite.png') -717px -302px no-repeat;
}
	
div.content-cats li.broadcasts a {
	background: #262626 url('../images/wpcandy-sprite.png') -769px -302px no-repeat;
}
	
div.content-cats li.tag {
	line-height: 16px;
}
	
div.content-cats li.tag a {
	background: #25a8e0;
	padding: 0;
}
	
div.content-cats li.tag a:hover,
div.content-cats li.announcements a:hover,
div.content-cats li.news a:hover,
div.content-cats li.tutorials a:hover,
div.content-cats li.interviews a:hover,
div.content-cats li.opinion a:hover,
div.content-cats li.reviews a:hover,
div.content-cats li.podcasts a:hover,
div.content-cats li.features a:hover,
div.content-cats li.links a:hover,
div.content-cats li.giveaways a:hover,
div.content-cats li.downloads a:hover,
div.content-cats li.videos a:hover,
div.content-cats li.sites a:hover,
div.content-cats li.bestof a:hover,
div.content-cats li.preview a:hover {
	background-color: #111;
}


/*-----------------------------------------------------------------------------
x.0 - Admin Bar and BuddyPress
-----------------------------------------------------------------------------*/

#wp-admin-bar .padder {
	width: 95% !important; /* Line up the admin bar with the content body in this theme */
}

#wp-admin-bar-site-name a.first {
	background: transparent url('../images/wpcandy-admin-bar-icon.png') left top no-repeat;
	height: 28px;
	padding: 0 !important;
	text-indent: -999em;
	width: 28px;
}

#wp-admin-bar-site-name.menupop.hover a.first,
#wp-admin-bar-site-name.menupop:hover a.first {
	background: #fff url('../images/wpcandy-admin-bar-icon.png') left top no-repeat !important;
}

#wp-admin-bar {
    font-family:  Helvetica,  sans-serif;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
    height: 25px;
    font-size: 11px;
    width: 100%;
    z-index: 1000;
}

#wp-admin-bar .padder {
    position: relative;
    padding: 0;
    width: 100%;
    margin: 0 auto;
    background: url(../images/60pc_black.png);
    height: 25px;
}

body#bp-default #wp-admin-bar .padder {
    min-width: 960px;
    max-width: 1250px;
}

#wp-admin-bar * {
    z-index: 999;
}

#wp-admin-bar div#admin-bar-logo {
    position: absolute;
    top: 5px;
    left: 10px;
}

#wp-admin-bar a img {
    border: none;
}

#wp-admin-bar li {
    list-style: none;
    margin: 0;
    padding: 0;
    line-height: 100%;
    text-align: left;
}

#wp-admin-bar li a {
    padding: 7px 15px 7px 15px;
    color: #eee;
    text-decoration: none;
    font-size: 11px;
}

#wp-admin-bar li.alt {
    border: none;
}

#wp-admin-bar li.no-arrow a {
    padding-right: 15px;
}

#wp-admin-bar ul li ul li a span {
    display: none;
}

#wp-admin-bar li:hover, #wp-admin-bar li.hover {
    position: static;
}

#admin-bar-logo {
    float: left;
    font-weight: bold;
    font-size: 11px;
    padding: 2px 8px;
    margin: 0;
    text-decoration: none;
    color: #fff;
}

body#bp-default #admin-bar-logo {
    padding: 2px 8px;
}

#wp-admin-bar ul {
    margin: 0;
    list-style: none;
    line-height: 1;
    cursor: pointer;
    height: auto;
    padding: 0;
}

#wp-admin-bar ul li {
    padding: 0;
    float: left;
    position: relative;
    background: url(../images/admin-menu-arrow.gif) 88% 53% no-repeat;
    padding-right: 11px;
}

#wp-admin-bar ul li.no-arrow {
    background: none;
    padding-right: 0;
}

#wp-admin-bar ul li ul li {
    background-image: none;
}

#wp-admin-bar ul li.align-right {
    position: absolute;
    right: 0;
}

#wp-admin-bar ul li a {
    display: block;
}

#wp-admin-bar ul.main-nav li:hover, #wp-admin-bar ul.main-nav li.sfhover, #wp-admin-bar ul.main-nav li ul li.sfhover {
    background-color: #333;
}

#wp-admin-bar ul li ul {
    position: absolute;
    width: 185px;
    left: -999em;
    margin-left: 0;
    background: #333;
    border: 1px solid #222;
    -moz-box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius-topleft: 0;
    -webkit-border-top-left-radius: 0;
    -moz-border-radius-topright: 0;
    -webkit-border-top-right-radius: 0;
}

#wp-admin-bar ul li>ul {
    border-top: none;
}

#wp-admin-bar ul li ul a {
    color: #eee;
}

#wp-admin-bar ul li ul li {
    float: left;
    width: 174px;
    margin: 0;
}

#wp-admin-bar ul li ul li:hover a {
    color: #fff;
}

#wp-admin-bar ul li div.admin-bar-clear {
    clear: both;
}

#wp-admin-bar ul.main-nav li ul li:hover, #wp-admin-bar ul.main-nav li ul li.sfhover, #wp-admin-bar ul.main-nav li ul li.sfhover {
    background-color: #222;
}

#wp-admin-bar ul li ul ul {
    margin: -25px 0 0 184px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}

#wp-admin-bar ul li ul li:hover ul li a {
    color: #eee;
}

#wp-admin-bar ul li ul li ul li:hover a {
    color: #fff;
}

#wp-admin-bar ul li:hover ul, #wp-admin-bar ul li ul li:hover ul, #wp-admin-bar ul li.sfhover ul, #wp-admin-bar ul li ul li.sfhover ul {
    left: auto;
}

#wp-admin-bar ul li.align-right:hover ul {
    right: 0;
}

#wp-admin-bar ul li:hover ul ul, #wp-admin-bar li.sfhover ul li ul {
    left: -999em;
}

#wp-admin-bar img.avatar {
    float: left;
    margin-right: 8px;
}

#wp-admin-bar span.activity {
    display: block;
    margin-left: 34px;
    padding: 0;
}

#wp-admin-bar ul.author-list li a {
    height: 17px;
}

#wp-admin-bar ul li#bp-adminbar-notifications-menu a span {
    padding: 0 6px;
    margin-left: 2px;
    background: #fff;
    color: #000;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}


#wpadminbar * {
    height: auto;
    width: auto;
    margin: 0;
    padding: 0;
    position: static;
    text-transform: none;
    letter-spacing: normal;
    line-height: 1;
    font: normal 13px/28px sans-serif;
    color: #ccc;
    text-shadow: #444 0 -1px 0;
}

#wpadminbar ul li:before, #wpadminbar ul li:after {
    content: normal;
}

#wpadminbar a, #wpadminbar a:hover, #wpadminbar a img, #wpadminbar a img:hover {
    outline: none;
    border: none;
    text-decoration: none;
    background: none;
}

#wpadminbar {
    direction: ltr;
    color: #ccc;
    font: normal 13px/28px sans-serif;
    height: 28px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    min-width: 600px;
    z-index: 99999;
    background-color: #464646;
    background-image: -ms-linear-gradient(bottom, #373737, #464646 5px);
    background-image: -moz-linear-gradient(bottom, #373737, #464646 5px);
    background-image: -o-linear-gradient(bottom, #373737, #464646 5px);
    background-image: -webkit-gradient(linear, left bottom, left top, from(#373737), to(#464646));
    background-image: -webkit-linear-gradient(bottom, #373737, #464646 5px);
    background-image: linear-gradient(bottom, #373737, #464646 5px);
}

#wpadminbar .ab-sub-wrapper, #wpadminbar ul, #wpadminbar ul li {
    background: none;
    clear: none;
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
    z-index: 99999;
}

#wpadminbar .quicklinks {
    border-left: 1px solid transparent;
}

#wpadminbar .quicklinks ul {
    text-align: left;
}

#wpadminbar li {
    float: left;
}

#wpadminbar .ab-empty-item {
    outline: none;
}

#wpadminbar .quicklinks>ul>li {
    border-right: 1px solid #555;
}

#wpadminbar .quicklinks>ul>li>a, #wpadminbar .quicklinks>ul>li>.ab-empty-item {
    border-right: 1px solid #333;
}

#wpadminbar .quicklinks .ab-top-secondary>li {
    border-left: 1px solid #333;
    border-right: 0;
    float: right;
}

#wpadminbar .quicklinks .ab-top-secondary>li>a, #wpadminbar .quicklinks .ab-top-secondary>li>.ab-empty-item {
    border-left: 1px solid #555;
    border-right: 0;
}

#wpadminbar .quicklinks a, #wpadminbar .quicklinks .ab-empty-item, #wpadminbar .shortlink-input {
    height: 28px;
    display: block;
    padding: 0 12px;
    margin: 0;
}

#wpadminbar .menupop .ab-sub-wrapper, #wpadminbar .shortlink-input {
    margin: 0 0 0 -1px;
    padding: 0;
    -moz-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
    background: #fff;
    display: none;
    position: absolute;
    float: none;
    border-width: 0 1px 1px 1px;
    border-style: solid;
    border-color: #dfdfdf;
}

#wpadminbar.ie7 .menupop .ab-sub-wrapper, #wpadminbar.ie7 .shortlink-input {
    top: 28px;
    left: 0;
}

#wpadminbar .ab-top-secondary .menupop .ab-sub-wrapper {
    right: 0;
    left: auto;
    margin: 0 -1px 0 0;
}

#wpadminbar .ab-sub-wrapper>.ab-submenu:first-child {
    border-top: none;
}

#wpadminbar .ab-submenu {
    padding: 6px 0;
    border-top: 1px solid #dfdfdf;
}

#wpadminbar .selected .shortlink-input {
    display: block;
}

#wpadminbar .quicklinks .menupop ul li {
    float: none;
}

#wpadminbar .quicklinks .menupop ul li a strong {
    font-weight: bold;
}

#wpadminbar .quicklinks .menupop ul li .ab-item, #wpadminbar .quicklinks .menupop ul li a strong, #wpadminbar .quicklinks .menupop.hover ul li .ab-item, #wpadminbar.nojs .quicklinks .menupop:hover ul li .ab-item, #wpadminbar .shortlink-input {
    line-height: 26px;
    height: 26px;
    text-shadow: none;
    white-space: nowrap;
    min-width: 140px;
}

#wpadminbar .shortlink-input {
    width: 200px;
}

#wpadminbar.nojs li:hover>.ab-sub-wrapper, #wpadminbar li.hover>.ab-sub-wrapper {
    display: block;
}

#wpadminbar .menupop li:hover>.ab-sub-wrapper, #wpadminbar .menupop li.hover>.ab-sub-wrapper {
    margin-left: 100%;
    margin-top: -33px;
    border-width: 1px;
}

#wpadminbar .ab-top-secondary .menupop li:hover>.ab-sub-wrapper, #wpadminbar .ab-top-secondary .menupop li.hover>.ab-sub-wrapper {
    margin-left: 0;
    left: inherit;
    right: 100%;
}

#wpadminbar .ab-top-menu>li:hover>.ab-item, #wpadminbar .ab-top-menu>li.hover>.ab-item, #wpadminbar .ab-top-menu>li>.ab-item:focus, #wpadminbar.nojq .quicklinks .ab-top-menu>li>.ab-item:focus {
    color: #fafafa;
    background-color: #3a3a3a;
    background-image: -ms-linear-gradient(bottom, #3a3a3a, #222);
    background-image: -moz-linear-gradient(bottom, #3a3a3a, #222);
    background-image: -o-linear-gradient(bottom, #3a3a3a, #222);
    background-image: -webkit-gradient(linear, left bottom, left top, from(#3a3a3a), to(#222));
    background-image: -webkit-linear-gradient(bottom, #3a3a3a, #222);
    background-image: linear-gradient(bottom, #3a3a3a, #222);
}

#wpadminbar.nojs .ab-top-menu>li.menupop:hover>.ab-item, #wpadminbar .ab-top-menu>li.menupop.hover>.ab-item {
    background: #fff;
    color: #333;
    text-shadow: none;
}

#wpadminbar .hover .ab-label, #wpadminbar.nojq .ab-item:focus .ab-label {
    color: #fafafa;
}

#wpadminbar .menupop.hover .ab-label {
    color: #333;
    text-shadow: none;
}

#wpadminbar .menupop li:hover, #wpadminbar .menupop li.hover, #wpadminbar .quicklinks .menupop .ab-item:focus, #wpadminbar .quicklinks .ab-top-menu .menupop .ab-item:focus {
    background-color: #eaf2fa;
}

#wpadminbar .ab-submenu .ab-item {
    color: #333;
    text-shadow: none;
}

#wpadminbar .quicklinks .menupop ul li a, #wpadminbar .quicklinks .menupop ul li a strong, #wpadminbar .quicklinks .menupop.hover ul li a, #wpadminbar.nojs .quicklinks .menupop:hover ul li a {
    color: #21759B;
}

#wpadminbar .menupop .menupop>.ab-item {
    display: block;
    background-image: url(http://wpcandy.com/wp-includes/images/admin-bar-sprite.png);
    background-position: 95% -20px;
    background-repeat: no-repeat;
    padding-right: 2em;
}

#wpadminbar .ab-top-secondary .menupop .menupop>.ab-item {
    background-image: url(http://wpcandy.com/wp-includes/images/admin-bar-sprite.png);
    background-position: 5% -46px;
    background-repeat: no-repeat;
    padding-left: 2em;
    padding-right: 1em;
}

#wpadminbar .quicklinks .menupop ul.ab-sub-secondary {
    display: block;
    position: relative;
    right: auto;
    margin: 0;
    background: #eee;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

#wpadminbar .quicklinks .menupop .ab-sub-secondary>li:hover, #wpadminbar .quicklinks .menupop .ab-sub-secondary>li.hover, #wpadminbar .quicklinks .menupop .ab-sub-secondary>li .ab-item:focus {
    background-color: #dfdfdf;
}

#wpadminbar .quicklinks a span#ab-updates {
    background: #eee;
    color: #333;
    text-shadow: none;
    display: inline;
    padding: 2px 5px;
    font-size: 10px;
    font-weight: bold;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

#wpadminbar .quicklinks a:hover span#ab-updates {
    background: #fff;
    color: #000;
}

#wpadminbar .ab-top-secondary {
    float: right;
    background-color: #464646;
    background-image: -ms-linear-gradient(bottom, #373737, #464646 5px);
    background-image: -moz-linear-gradient(bottom, #373737, #464646 5px);
    background-image: -o-linear-gradient(bottom, #373737, #464646 5px);
    background-image: -webkit-gradient(linear, left bottom, left top, from(#373737), to(#464646));
    background-image: -webkit-linear-gradient(bottom, #373737, #464646 5px);
    background-image: linear-gradient(bottom, #373737, #464646 5px);
}

#wpadminbar ul li:last-child, #wpadminbar ul li:last-child .ab-item {
    border-right: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

#wp-admin-bar-my-account>ul {
    min-width: 198px;
}

#wp-admin-bar-my-account.with-avatar>ul {
    min-width: 270px;
}

#wpadminbar #wp-admin-bar-user-actions>li {
    margin-left: 16px;
    margin-right: 16px;
}

#wpadminbar #wp-admin-bar-my-account.with-avatar #wp-admin-bar-user-actions>li {
    margin-left: 88px;
}

#wp-admin-bar-user-actions>li>.ab-item {
    padding-left: 8px;
}

#wpadminbar #wp-admin-bar-user-info {
    margin-top: 6px;
    margin-bottom: 15px;
    height: auto;
    background: none;
}

#wp-admin-bar-user-info .avatar {
    position: absolute;
    left: -72px;
    top: 4px;
}

#wpadminbar #wp-admin-bar-user-info a {
    background: none;
    height: auto;
}

#wpadminbar #wp-admin-bar-user-info span {
    background: none;
    padding: 0;
    height: 18px;
}

#wpadminbar #wp-admin-bar-user-info .display-name, #wpadminbar #wp-admin-bar-user-info .username {
    text-shadow: none;
    display: block;
}

#wpadminbar #wp-admin-bar-user-info .display-name {
    color: #333;
}

#wpadminbar #wp-admin-bar-user-info .username {
    color: #999;
    font-size: 11px;
}

#wpadminbar .quicklinks li#wp-admin-bar-my-account.with-avatar>a img {
    width: 16px;
    height: 16px;
    border: 1px solid #999;
    padding: 0;
    background: #eee;
    line-height: 24px;
    vertical-align: middle;
    margin: -3px 0 0 6px;
    float: none;
    display: inline;
}

#wpadminbar .quicklinks li img.blavatar {
    vertical-align: middle;
    margin: -3px 4px 0 0;
    padding: 0;
}

#wpadminbar #wp-admin-bar-search .ab-item {
    padding: 0;
}

#wpadminbar #wp-admin-bar-search .ab-item {
    background: transparent;
}

#wpadminbar #adminbarsearch {
    height: 28px;
    padding: 0 2px;
}

#wpadminbar #adminbarsearch .adminbar-input {
    font: 13px/24px sans-serif;
    height: 24px;
    width: 24px;
    border: none;
    padding: 0 3px 0 23px;
    margin: 0;
    color: #ccc;
    text-shadow: #444 0 -1px 0;
    background-color: rgba(255, 255, 255, 0);
    background-image: url(http://wpcandy.com/wp-includes/images/admin-bar-sprite.png);
    background-position: 3px 2px;
    background-repeat: no-repeat;
    outline: none;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition-duration: 400ms;
    -webkit-transition-property: width, background;
    -webkit-transition-timing-function: ease;
    -moz-transition-duration: 400ms;
    -moz-transition-property: width, background;
    -moz-transition-timing-function: ease;
    -o-transition-duration: 400ms;
    -o-transition-property: width, background;
    -o-transition-timing-function: ease;
}

#wpadminbar.ie7 #adminbarsearch .adminbar-input {
    margin-top: 1px;
    width: 120px;
}

#wpadminbar #adminbarsearch .adminbar-input:focus {
    color: #555;
    text-shadow: 0 1px 0 #fff;
    width: 200px;
    background-color: rgba(255, 255, 255, 0.9);
}

#wpadminbar.ie8 #adminbarsearch .adminbar-input {
    background-color: #464646;
}

#wpadminbar.ie8 #adminbarsearch .adminbar-input:focus {
    background-color: #fff;
}

#wpadminbar #adminbarsearch .adminbar-input::-webkit-input-placeholder {
    color: #ddd;
}

#wpadminbar #adminbarsearch .adminbar-input:-moz-placeholder {
    color: #ddd;
}

#wpadminbar #adminbarsearch .adminbar-button {
    display: none;
}

#wpadminbar #wp-admin-bar-appearance {
    border-top: none;
    margin-top: -12px;
}

#wpadminbar #wp-admin-bar-appearance {
    border-top: none;
    margin-top: -12px;
}

#wpadminbar .ab-icon {
    position: relative;
    float: left;
    width: 16px;
    height: 16px;
    margin-top: 6px;
}

#wpadminbar .ab-label {
    margin-left: 4px;
}

#wp-admin-bar-wp-logo>.ab-item .ab-icon {
    width: 20px;
    height: 20px;
    margin-top: 4px;
    background-image: url(http://wpcandy.com/wp-includes/images/admin-bar-sprite.png);
    background-position: 0 -76px;
    background-repeat: no-repeat;
}

#wpadminbar.nojs #wp-admin-bar-wp-logo:hover>.ab-item .ab-icon, #wpadminbar #wp-admin-bar-wp-logo.hover>.ab-item .ab-icon {
    background-position: 0 -104px;
}

#wp-admin-bar-updates>.ab-item .ab-icon {
    background-image: url(http://wpcandy.com/wp-includes/images/admin-bar-sprite.png);
    background-position: -2px -159px;
    background-repeat: no-repeat;
}

#wp-admin-bar-comments>.ab-item .ab-icon {
    background-image: url(http://wpcandy.com/wp-includes/images/admin-bar-sprite.png);
    background-position: -1px -134px;
    background-repeat: no-repeat;
}

#wpadminbar span.count-0 {
    display: none;
}

#wpadminbar #wp-admin-bar-new-content>.ab-item .ab-icon {
    background-image: url(http://wpcandy.com/wp-includes/images/admin-bar-sprite.png);
    background-position: -2px -182px;
    background-repeat: no-repeat;
}

#wpadminbar.nojs #wp-admin-bar-new-content:hover>.ab-item .ab-icon, #wpadminbar #wp-admin-bar-new-content.hover>.ab-item .ab-icon {
    background-position: -2px -203px;
}

* html #wpadminbar {
    overflow: hidden;
    position: absolute;
}

* html #wpadminbar .quicklinks ul li a {
    float: left;
}

* html #wpadminbar .menupop a span {
    background-image: none;
}

li.new_blog_post {
	position: relative;
}

.activity-meta {
	margin: 0 !important;
	position: absolute;
	right: 0;
	top: 0;
	width: 80px;
}

.activity-meta a {
	background: none;
	background-color: none !important;
	border: none !important;
	clear: none;
	display: block;
	float: right;
	height: 18px;
	margin: 0 0 0 4px !important;
	padding: 0 !important;
	text-indent: -999em;
	width: 18px;
}

.activity-meta .acomment-reply {
	background: url('../images/activity-meta.png') -14px -16px no-repeat;
}

.activity-meta .acomment-reply:hover {
	background: url('../images/activity-meta.png') 2px -16px no-repeat;
}

.activity-meta .fav:hover,
.activity-meta .unfav {
	background: url('../images/activity-meta.png') 2px 2px no-repeat;
}

.activity-meta .fav,
.activity-meta .unfav:hover {
	background: url('../images/activity-meta.png') -14px 2px no-repeat;
}

.activity-meta .delete-activity {
	background: url('../images/activity-meta.png') -14px -34px no-repeat;
}

.activity-meta .delete-activity:hover {
	background: url('../images/activity-meta.png') 4px -34px no-repeat;
}

.activity-header p {
	color: #333;
	font-size: 12px !important;
	line-height: 10px !important;
	margin-bottom: 0 !important;
	width: 450px;
}

.activity-header a {
	color: #333;
	text-decoration: none;
}

.activity-header a:hover {
	text-decoration: underline;
}

.activity-header .activity-time-since {
	color: #ddd;
	display: block;
	font-size: 10px;
}

.activity-header .activity-time-since:hover {
	color: #333;
	text-decoration: none;
}

body .activity-list .activity-content .activity-header img.avatar {
	position: relative;
	top: -4px;
}

.activity-inner p,
.acomment-content p {
	margin-bottom: 0 !important;
}

.activity-comments li {
	position: relative;
}

.acomment-options a.acomment-delete {
	background: url('../images/activity-meta.png') -14px -34px no-repeat;
	display: block;
	height: 18px;
	position: absolute;
	right: 7px;
	text-indent: -999em;
	top: 7px;
	width: 18px;
}

.acomment-options a.acomment-delete:hover {
	background: url('../images/activity-meta.png') 4px -34px no-repeat;
}

body .activity-list .load-more {
	padding: 0 !important;
}

.load-more a {
	display: block;
	padding: 10px 15px;
	width: 100%;
}

.profile-fields,
.profile-fields td {
	border: none;
	padding: none;
}

.profile-fields td.data p {
	margin: 2px 0 0 0;
}


/**
 * The following are CSS styles extrapolated from the bp-default theme.
 * Use these styles as a guideline. You will probably need to adjust some
 * declarations so they will gel with your WP theme.
 */

/* Activity */
#activity-stream {
	margin-top: -5px;
}

#item-body form#whats-new-form {
	border-bottom: 1px solid #ddd;
	margin: 20px 0 10px;
	padding-bottom: 20px;
}

.home-page form#whats-new-form {
	border-bottom: none;
	padding-bottom: 0;
}

form#whats-new-form h5 {
	font-weight: normal;
	font-size: 12px;
	color: #888;
	margin: 0;
	margin-left: 76px;
	padding: 0 0 3px 0;
}

form#whats-new-form #whats-new-avatar {
	float: left;
}

form#whats-new-form #whats-new-content {
	margin-left: 54px;
	padding-left: 22px;
}

form#whats-new-form textarea {
	background: #fff;
	border: 1px inset #ccc;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	color: #555;
	font-family: inherit;
	font-size: 14px;
	height: 20px;
	padding: 6px;
	width: 98%;
}

form#whats-new-form #whats-new-options select {
	max-width: 200px;
	margin-top: 12px;
}

form#whats-new-form #whats-new-submit {
	float: right;
	margin-top: 12px;
}

#whats-new-options {
	overflow: auto;
	height: 0;
}

#whats-new:focus {
	border-color: rgba(31, 179, 221, 0.9) !important;
	outline-color: rgba(31, 179, 221, 0.9);
	box-shadow: 0 0 7px         rgba(31, 179, 221, 0.7);
	-moz-box-shadow: 0 0 7px    rgba(31, 179, 221, 0.7);
	-webkit-box-shadow: 0 0 7px rgba(31, 179, 221, 0.7);
}

/* 1.1 - Activity Listing */
ul.activity-list li {
	overflow: hidden;
	padding: 15px 0 0;
}

.activity-list .activity-avatar {
	float: left;
}

ul.activity-list > li:first-child {
	padding-top: 5px;
}

ul.item-list.activity-list li.has-comments {
	padding-bottom: 15px;
}

body.activity-permalink ul.activity-list li.has-comments {
	padding-bottom: 0;
}

.activity-list li.mini {
	font-size: 11px;
	min-height: 35px;
	padding: 15px 0 0 0;
	position: relative;
}

.activity-list li.mini .activity-avatar img.avatar,
.activity-list li.mini .activity-avatar img.FB_profile_pic {
	height: 20px;
	margin-left: 30px;
	width: 20px;
}

.activity-permalink .activity-list li.mini .activity-avatar img.avatar,
.activity-permalink .activity-list li.mini .activity-avatar img.FB_profile_pic {
	height: auto;
	margin-left: 0;
	width: auto;
}

body.activity-permalink .activity-list > li:first-child {
	padding-top: 0;
}

.activity-list li .activity-content {
	position: relative;
}

.activity-list li.mini .activity-content p {
	margin: 0;
}

.activity-list li.mini .activity-comments {
	clear: both;
	font-size: 12px;
}

body.activity-permalink li.mini .activity-meta {
	margin-top: 4px;
}

.activity-list li .activity-inreplyto {
	background: url( ../buddypress/bp-themes/bp-default/_inc/images/replyto_arrow.gif ) 7px 0 no-repeat;
	color: #888;
	font-size: 11px;
	margin-left: 5px;
	margin-top: 5px;
	padding-left: 25px;
}

.activity-list li .activity-inreplyto > p {
	margin: 0;
	display: inline;
}

.activity-list li .activity-inreplyto blockquote,
.activity-list li .activity-inreplyto div.activity-inner {
	background: none;
	border: none;
	display: inline;
	margin: 0;
	overflow: hidden;
	padding: 0;
}

.activity-list .activity-content {
	margin-left: 70px;
	margin-bottom: 15px;
}

body.activity-permalink .activity-list li .activity-content {
	background: #fff;
	border-bottom: 1px solid #ddd;
	border-right: 1px solid #ddd;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	font-size: 16px;
	line-height: 150%;
	min-height: 35px;
	margin-left: 185px;
	margin-right: 0;
	padding: 15px;
}

body.activity-permalink .activity-list li .activity-header > p {
	background: url( ../buddypress/bp-themes/bp-default/_inc/images/activity_arrow.gif ) top left no-repeat;
	height: 35px;
	margin-bottom: 0;
	margin-left: -35px;
	padding: 5px 0 0 35px;
}

.activity-list .activity-content .activity-header,
.activity-list .activity-content .comment-header {
	color: #888;
	font-size: 11px;
	line-height: 220%;
}

.activity-header {
	margin-right: 20px;
}

.activity-header a,
.comment-meta a,
.acomment-meta a {
	text-decoration: none;
}

.activity-list .activity-content .activity-header img.avatar {
	float: none !important;
	margin: 0 5px -8px 0 !important;
}

a.bp-secondary-action,
span.highlight {
	font-size: 11px;
	padding: 0;
	margin-right: 5px;
	text-decoration: none;
}

.activity-list .activity-content .activity-inner,
.activity-list .activity-content blockquote {
	margin: 10px 10px 5px 0;
	overflow: hidden;
}

.activity-list li.new_forum_post .activity-content .activity-inner,
.activity-list li.new_forum_topic .activity-content .activity-inner {
	border-left: 2px solid #EAEAEA;
	margin-left: 5px;
	padding-left: 10px;
}

body.activity-permalink .activity-content .activity-inner,
body.activity-permalink .activity-content blockquote {
	margin-left: 0;
	margin-top: 5px;
}

.activity-inner > p {
	word-wrap: break-word;
}

.activity-inner > .activity-inner {
	margin: 0 !important;
}

.activity-inner > blockquote {
	margin: 0 !important;
}

.activity-list .activity-content img.thumbnail {
	border: 2px solid #eee;
	float: left;
	margin: 0 10px 5px 0;
}

.activity-read-more {
	margin-left: 1em;
	white-space: nowrap;
}

.activity-list li.load-more {
	background: #f0f0f0 !important;
	border-right: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	font-size: 1.2em;
	margin: 15px 0 !important;
	padding: 10px 15px !important;
	text-align: center;
}

.activity-list li.load-more a {
	color: #4D4D4D;
}

/* 1.2 - Activity Comments */
div.activity-meta {
	margin: 18px 0;
}

body.activity-permalink div.activity-meta {
	margin-bottom: 6px;
}

div.activity-meta a {
	font: normal 11px/20px Arial, Tahoma, Verdana, sans-serif;
	padding: 4px 8px;
}

a.activity-time-since {
	color: #aaa;
	text-decoration: none;
}

a.activity-time-since:hover {
	color: #888;
	text-decoration: underline;
}

a.bp-primary-action,
#reply-title small a {
	font-size: 11px;
	margin-right: 5px;
	text-decoration: none;
}

a.bp-primary-action span,
#reply-title small a span {
	background: #999;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	color: #fff;
	font-size: 90%;
	margin-left: 2px;
	padding: 0 5px;
}

a.bp-primary-action:hover span,
#reply-title small a:hover span {
	background: #555;
	color: #fff;
}

div.activity-comments {
	margin: 0 0 0 70px;
	overflow: hidden; /* IE fix */
	position: relative;
	width: auto;
	clear: both;
}

body.activity-permalink div.activity-comments {
	background: none;
	margin-left: 185px;
	width: auto;
}

div.activity-comments > ul {
	background: #f5f5f5;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	padding: 0 0 0 10px;
}

div.activity-comments ul,
div.activity-comments ul li {
	border: none;
	list-style: none;
}

div.activity-comments ul {
	clear: both;
}

div.activity-comments ul li {
	border-top: 2px solid #fff;
	padding: 10px 0 0;
}

body.activity-permalink .activity-list li.mini .activity-comments {
	clear: none;
	margin-top: 0;
}

body.activity-permalink div.activity-comments ul li {
	border-width: 1px;
	padding: 10px 0 0 0;
}

div.activity-comments > ul > li:first-child {
	border-top: none;
}

div.activity-comments ul li:last-child {
	margin-bottom: 0;
}

div.activity-comments ul li > ul {
	margin-left: 30px;
	margin-top: 0;
	padding-left: 10px;
}

body.activity-permalink div.activity-comments ul li > ul {
	margin-top: 10px;
}

body.activity-permalink div.activity-comments > ul {
	padding: 0 10px 0 15px;
}

div.activity-comments div.acomment-avatar img {
	border-width: 2px !important;
	float: left;
	height: 25px;
	margin-right: 10px;
	width: 25px;
}

div.activity-comments div.acomment-content {
	font-size: 11px;
	margin: 5px 0 0 40px;
}

div.acomment-content .time-since,
div.acomment-content .activity-delete-link,
div.acomment-content .comment-header {
	display: none;
}

body.activity-permalink div.activity-comments div.acomment-content {
	font-size: 14px;
}

div.activity-comments div.acomment-meta {
	color: #888;
	font-size: 11px;
}

div.activity-comments form.ac-form {
	background: #fafafa;
	border: 1px solid #ddd;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	display: none;
	margin: 0 0 15px 33px;
	padding: 8px;
}

div.activity-comments li form.ac-form {
	margin-right: 15px;
	clear: both;
}

div.activity-comments form.root {
	margin-left: 0;
}

div.activity-comments div#message {
	margin-top: 15px;
	margin-bottom: 0;
}

div.activity-comments form.loading {
	background-image: url( ../buddypress/bp-themes/bp-default/_inc/images/ajax-loader.gif );
	background-position: 2% 95%;
	background-repeat: no-repeat;
}

div.activity-comments form .ac-textarea {
	background: #fff;
	border: 1px inset #ccc;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	margin-bottom: 10px;
	padding: 8px;
}

div.activity-comments form textarea {
	border: none;
	color: #555;
	font-family: inherit;
	font-size: 11px;
	height: 60px;
	padding: 0;
	width: 100%;
}

div.activity-comments form input {
	margin-top: 5px;
}

div.activity-comments form div.ac-reply-avatar {
	float: left;
}

div.ac-reply-avatar img {
	border: 2px solid #fff !important;
}

div.activity-comments form div.ac-reply-content {
	color: #888;
	font-size: 11px;
	margin-left: 50px;
	padding-left: 15px;
}

.acomment-options {
	float: left;
	margin: 5px 0 5px 40px;
}

.acomment-options a {
	color: #999;
}

.acomment-options a:hover {
	color: inherit;
}


/*-----------------------------------------------------------------------------
x.0 - Tablet (Portrait)
-----------------------------------------------------------------------------*/

/* Note: Design for a width of 768px */
@media only screen and (min-width: 768px) and (max-width: 959px) {
	div.wrap                                  { width: 768px; }
	div.wrap .column,
	div.wrap .columns                         { margin-left: 10px; margin-right: 10px;  }
	.column.alpha, .columns.alpha               { margin-left: 0; margin-right: 10px; }
	.column.omega, .columns.omega               { margin-right: 0; margin-left: 10px; }
	.alpha.omega                                { margin-left: 0; margin-right: 0; }

	div.wrap .one.column,
	div.wrap .one.columns                     { width: 28px; }
	div.wrap .two.columns                     { width: 76px; }
	div.wrap .three.columns                   { width: 124px; }
	div.wrap .four.columns                    { width: 172px; }
	div.wrap .five.columns                    { width: 220px; }
	div.wrap .six.columns                     { width: 268px; }
	div.wrap .seven.columns                   { width: 316px; }
	div.wrap .eight.columns                   { width: 364px; }
	div.wrap .nine.columns                    { width: 412px; }
	div.wrap .ten.columns                     { width: 460px; }
	div.wrap .eleven.columns                  { width: 508px; }
	div.wrap .twelve.columns                  { width: 556px; }
	div.wrap .thirteen.columns                { width: 604px; }
	div.wrap .fourteen.columns                { width: 652px; }
	div.wrap .fifteen.columns                 { width: 700px; }
	div.wrap .sixteen.columns                 { width: 748px; }

	div.wrap .one-third.column                { width: 236px; }
	div.wrap .two-thirds.column               { width: 492px; }

	/* Offsets */
	div.wrap .offset-by-one                   { padding-left: 48px; }
	div.wrap .offset-by-two                   { padding-left: 96px; }
	div.wrap .offset-by-three                 { padding-left: 144px; }
	div.wrap .offset-by-four                  { padding-left: 192px; }
	div.wrap .offset-by-five                  { padding-left: 240px; }
	div.wrap .offset-by-six                   { padding-left: 288px; }
	div.wrap .offset-by-seven                 { padding-left: 336px; }
	div.wrap .offset-by-eight                 { padding-left: 384px; }
	div.wrap .offset-by-nine                  { padding-left: 432px; }
	div.wrap .offset-by-ten                   { padding-left: 480px; }
	div.wrap .offset-by-eleven                { padding-left: 528px; }
	div.wrap .offset-by-twelve                { padding-left: 576px; }
	div.wrap .offset-by-thirteen              { padding-left: 624px; }
	div.wrap .offset-by-fourteen              { padding-left: 672px; }
	div.wrap .offset-by-fifteen               { padding-left: 720px; }
}


/*-----------------------------------------------------------------------------
x.0 - Mobile (Portrait)
-----------------------------------------------------------------------------*/

/* Note: Design for a width of 320px */
@media only screen and (max-width: 767px) {
	div.wrap { width: 320px; }
	div.wrap .columns,
	div.wrap .column { margin: 0; }

	div.wrap .one.column,
	div.wrap .one.columns,
	div.wrap .two.columns,
	div.wrap .three.columns,
	div.wrap .four.columns,
	div.wrap .five.columns,
	div.wrap .six.columns,
	div.wrap .seven.columns,
	div.wrap .eight.columns,
	div.wrap .nine.columns,
	div.wrap .ten.columns,
	div.wrap .eleven.columns,
	div.wrap .twelve.columns,
	div.wrap .thirteen.columns,
	div.wrap .fourteen.columns,
	div.wrap .fifteen.columns,
	div.wrap .sixteen.columns,
	div.wrap .one-third.column,
	div.wrap .two-thirds.column  { width: 320px; }

	/* Offsets */
	div.wrap .offset-by-one,
	div.wrap .offset-by-two,
	div.wrap .offset-by-three,
	div.wrap .offset-by-four,
	div.wrap .offset-by-five,
	div.wrap .offset-by-six,
	div.wrap .offset-by-seven,
	div.wrap .offset-by-eight,
	div.wrap .offset-by-nine,
	div.wrap .offset-by-ten,
	div.wrap .offset-by-eleven,
	div.wrap .offset-by-twelve,
	div.wrap .offset-by-thirteen,
	div.wrap .offset-by-fourteen,
	div.wrap .offset-by-fifteen { padding-left: 0; }
	
	#content,
	#footer-widgets,
	#site-info,
	#site-credits,
	#sidebar,
	#site-title,
	#site-topics ul,
	#global-login {
		/* Set a nice padding around the content */
		margin: 0 15px; 
	}
	
	#site-title {
		width: 100%;
	}
	
	#site-title a {
		/* Center logo */
		margin: 0 auto 0 auto;
	}

}


/*-----------------------------------------------------------------------------
x.0 - Mobile (Landscape)
-----------------------------------------------------------------------------*/

/* Note: Design for a width of 480px */
@media only screen and (min-width: 480px) and (max-width: 767px) {
	div.wrap { width: 480px; }
	div.wrap .columns,
	div.wrap .column { margin: 0; }

	div.wrap .one.column,
	div.wrap .one.columns,
	div.wrap .two.columns,
	div.wrap .three.columns,
	div.wrap .four.columns,
	div.wrap .five.columns,
	div.wrap .six.columns,
	div.wrap .seven.columns,
	div.wrap .eight.columns,
	div.wrap .nine.columns,
	div.wrap .ten.columns,
	div.wrap .eleven.columns,
	div.wrap .twelve.columns,
	div.wrap .thirteen.columns,
	div.wrap .fourteen.columns,
	div.wrap .fifteen.columns,
	div.wrap .sixteen.columns,
	div.wrap .one-third.column,
	div.wrap .two-thirds.column { width: 480px; }
	
}


/*-----------------------------------------------------------------------------
x.0 - Clearing
-----------------------------------------------------------------------------*/

/* Use clearfix class on parent to clear nested columns,
or wrap each row of columns in a <div class="row"> */
.clearfix:before,
.clearfix:after,
.row:before,
.row:after {
	content: '\0020';
	display: block;
	overflow: hidden;
	visibility: hidden;
	width: 0;
	height: 0; 
}
.row:after,
.clearfix:after {
	clear: both; 
}
.row,
.clearfix {
	zoom: 1;
}

/* You can also use a <br class="clear" /> to clear columns */
.clear {
	clear: both;
	display: block;
	overflow: hidden;
	visibility: hidden;
	width: 0;
	height: 0;
}

