/* Font sizes */
body {
	font-size: 14px;
	line-height: 22px;
}

h3 {
	font-size: 20px;
}

.entry-title {
	clear: both;
	display: block;
	font-size: 32px;
	line-height: 44px;
	margin-right: 25px;
}

.widget-title,
.comment-notes {
	font-size: 14px;
	line-height: 22px;
}

.entry-meta,
.entry-utility,
#sidebar,
#colophon,
#site-description,
#commentform,
.reply,
.comment-meta,
#cancel-comment-reply-link {
	font-size: 12px;
	line-height: 22px;
}

.comment-author-info cite {
	font-size: 16px;
}

#site-title {
	font-size: 30px;
}

/* Font styles */
body {
	color: #666;
	font-family: Georgia, "Bitstream Charter", serif;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: bold;
	color: #000;
}

#site-title,
#site-navigation .nav-menu,
#site-topics,
.entry-title,
.entry-meta,
.entry-utility,
.widget-title,
.comment-form-author,
.comment-form-email,
.comment-form-url,
.comment-form-comment,
.form-allowed-tags,
input[type="submit"],
#reply-title,
#comments-title,
.comment-meta,
.reply,
#site-info,
#site-credits,
#content, 
aside,
input, 
textarea {
	font-family: "Helvetica Neue", Arial, Helvetica, "Nimbus Sans L", sans-serif;
}

#site-credits,
#site-description {
	font-style: italic;
}

/* Monospaced fonts */	
pre {
	font-family: "Courier 10 Pitch", Courier, monospace;
}

code, tt, code, kbd, samp, var {
	font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
}

/* Verdical Rhythm */
#site-title,
#site-search,
#site-topics,
.page-title,
.entry-meta,
.entry-utility,
#sidebar section,
#reply-title,
.comment-meta,
.comment-list .comment,
.reply,
#comments-title,
#content h1,
#content h2,
#content h3,
#content h4,
#content h5,
#content h6,
p, pre, ol, ul, dl, dd {
	margin-bottom: 22px;
}

/*.comment-list, .children,
.comment-content,*/
.entry-content, .entry-summary,
.gallery .gallery-caption,
.gallery, .wp-caption,
img.alignleft,
img.alignright,
img.aligncenter {
	margin-top: 22px;
}

#respond {
	padding-top: 22px;
}

.entry-content ul, .entry-content ol,
.entry-summary ul, .entry-summary ol,
#sidebar ul, #sidebar ol {
	margin-left: 25px;
}

/* Links */
a:link {
/*	color: #0066cc;*/
	color: #25a8e0;
}
a:visited {
	color: #743399;
}
a:active,
a:hover {
/*	color: #ff4b33;*/
	color: #25a8e0;
}

#site-title, #site-title a, .entry-title a, .entry-title {
	color: #000;
	font-weight: bold;
	text-decoration: none;
}

#site-title a:hover, .entry-title a:hover {
/*	color: #ff4b33;*/
	color: #25a8e0;
}

.entry-meta, .entry-utility,
.entry-meta a, .entry-utility a {
	color: #888;
}

.entry-meta a:hover, .entry-utility a:hover {
/*	color: #ff4b33;*/
	color: #25a8e0;
}

.entry-content, .entry-summary {
	color: #444;
}

.reply a,
a.comment-edit-link,
.comment-meta a, .comment-meta a:visited {
	color: #888;
	text-decoration: none;
}

.reply a:hover,
a.comment-edit-link:hover,
.comment-meta a:hover {
	color: #ff4b33;
	text-decoration: underline;
}

#colophon a {
	color: #666;
	text-decoration: none;
}

#colophon a:hover {
	text-decoration: underline;
}

#site-info a {
	color: #000;
	text-decoration: none;
}

#site-info a:hover {
	color: #ff4b33;
	text-decoration: none;
}

/* Comment form */
.logged-in-as,
#commentform textarea,
#commentform input[type="text"] {
	font-size: 14px;
	line-height: 22px;
}

#commentform textarea,
#commentform input[type="text"] {
	width: 98%;
}

/*
.form-allowed-tags {
	color: #888;
	line-height: 18px;
}

.form-allowed-tags code {
	font-size: 11px; line-height: 18px;
}*/